.sidebar-mini__item.active {
      transition: .2s all ease-in-out;
      background-color: #D9E6F2;
}

.sidebar-mini__item:hover {
      background-color: #D9E6F2;
}

.sidebar-left-content.active {
      width: 310px !important;
      max-width: calc(100vw - 100px);
      transition: .2s all ease-in-out;
}

.sidebar-left-inner.style-srcoll-cover>.active {
      display: block;
}

.sidebar__item {
      color: #20262C !important;
      font-weight: 400;
}

.sidebar__item:hover {
      color: #1b2025 !important;
}

.sidebar-left-content {
      background-color: #f0f0f0;
}

.sidebar-left-back-btn.close-sidebar-left {
      font-weight: 500;
      font-size: 16px;
}

.sidebar-menu .title.up {
      font-weight: 500;
}

.bg-sidebar-transparent {
      position: absolute;
      z-index: 89;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
}