<div class="sidebar sidebar-left">
  <input type="radio" class="hidden sidebar-input-trigger" name="sidebar-left-trigger" id="sidebar-left-close" />
  <input type="radio" class="hidden sidebar-input-trigger" name="sidebar-left-trigger" id="sidebarReport" />
  <input type="radio" class="hidden sidebar-input-trigger" name="sidebar-left-trigger" id="sidebarUtilities" />
  <input type="radio" class="hidden sidebar-input-trigger" name="sidebar-left-trigger" id="sidebarSetting" />
  <label for="sidebar-left-close" class="sidebar-right-expand-overlay close-sidebar-left"></label>
  <div class="sidebar-mini">
    <div class="sidebar-mini__header">
      <label class="sidebar-mini__item" for="sidebar-trigger">
        <img src="" alt="" class="icon" />
      </label>
    </div>
    <div class="sidebar-mini__body">
      <div class="sidebar-mini__item active" data-tooltip="tooltip" data-placement="right" title="Trang chủ"
        for="sidebar-left-close" [routerLink]="['/trang-chu']" (click)="sidebarItemClick('')">
        <img src="assets/home-bold.svg" alt="" class="icon" />
        <img src="assets/home-bold.svg" alt="" class="icon-alt" />
        <label for="sidebar-left-close" class="sidebar-special-trigger hidden-menu-mobile"></label>
        <label for="sidebar-trigger" class="sidebar-special-trigger show-menu-mobile"></label>
      </div>

      <button (click)="navigateHref('quan-ly-hoat-dong')">
        <label class="sidebar-mini__item" data-tooltip="tooltip" data-placement="right" title="Quản lý hoạt động"
          for="sidebarSetting" for="sidebar-left-close">
          <img src="assets/hd.svg" alt="" class="icon" />
          <img src="assets/hd.svg" alt="" class="icon-alt" />
        </label>
      </button>
      <button (click)="navigateHref('quan-ly-thanh-vien')">
        <label class="sidebar-mini__item" data-tooltip="tooltip" data-placement="right" title="Quản lý thành viên"
          for="sidebarReport" for="sidebar-left-close">
          <img src="assets/tv.svg" alt="" class="icon" />
          <img src="assets/tv.svg" alt="" class="icon-alt" />
        </label>
      </button>
      <button (click)="navigateHref('quan-ly-csvc')">
        <label class="sidebar-mini__item" data-tooltip="tooltip" data-placement="right" title="Quản lý cơ sở vật chất">
          <img src="assets/csvc.svg" alt="" class="icon" />
          <img src="assets/csvc.svg" alt="" class="icon-alt" />
        </label>
      </button>
      <button (click)="navigateHref('quan-ly-tai-chinh')">
        <label class="sidebar-mini__item" data-tooltip="tooltip" data-placement="right" title="Quản lý tài chính">
          <img src="assets/dollarsquare.svg" alt="" class="icon" />
          <img src="assets/dollarsquare.svg" alt="" class="icon-alt" />
        </label>
      </button>
      <button (click)="navigateHref('quan-ly-chuc-vu')">
        <label class="sidebar-mini__item" data-tooltip="tooltip" data-placement="right" title="Quản lý chức vụ"
          for="sidebarSetting" for="sidebar-left-close">
          <img src="assets/save2.svg" alt="" class="icon" />
          <img src="assets/save2.svg" alt="" class="icon-alt" />
        </label>
      </button>

      <a class="sidebar-mini__item sidebar-mini__item--bot" href="login" data-tooltip="tooltip" data-placement="right"
        title="Thoát" for="sidebar-left-close">
        <img src="assets/logoutcurve.svg" alt="" class="icon" />
      </a>
    </div>
  </div>
  <div class="sidebar-left-content" [ngClass]="{ active: isSidebarLeftActive }">
    <div class="sidebar-left-top">
      <label for="sidebar-left-close" class="sidebar-left-back-btn close-sidebar-left" (click)="sidebarItemClick('')">
        Đóng
      </label>
    </div>
    <div class="sidebar-left-inner style-srcoll-cover">
      <div [ngClass]="{ active: sidebarMenu === 'sidebarReport' }"
        class="sidebar-menu style-scrollbar isolated-scroll sidebarReport" data-accordion-group="data-accordion-group">
        <div class="title up">Báo cáo</div>
        <div class="sidebar__list">
          <a class="sidebar__item" href="#">
            <div class="txt">Báo cáo phí giao dịch</div>
          </a>
        </div>
        <!-- <div class="sidebar__list">
          <a
            class="sidebar__item"
            href="pages/giao-dich/bc-bien-dong-dong-tien/1-1-bc-bien-dong-dong-tien-vnd.html"
          >
            <div class="txt">Báo cáo biến động dòng tiền</div>
          </a>
        </div> -->
      </div>
      <div [ngClass]="{ active: sidebarMenu === 'sidebarUtilities' }"
        class="sidebar-menu style-scrollbar isolated-scroll sidebarUtilities"
        data-accordion-group="data-accordion-group">
        <div class="title up">Tiện ích</div>
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Tiện ích chung</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a class="sidebar__item" href="./tien-ich/doi-mat-khau">
                  <div class="txt">Đổi mật khẩu</div>
                </a>
              </div>
              <!-- <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/cai-dat-chuc-nang-yeu-thich/1-cai-dat-chuc-nang-yeu-thich.html"
                >
                  <div class="txt">Cài đặt chức năng yêu thích</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Cài đặt hình nền</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Đổi ngôn ngữ</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Quản lý kênh truy cập</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/quan-ly-nhac-no-tu-dong/dang-ky/1-quan-ly-nhac-no-tu-dong-dang-ky.html"
                >
                  <div class="txt">Quản lý nhắc nợ tự động</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <!-- <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Tra soát trực tuyến</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/tra-soat-truc-tuyen/lap-yeu-cau-tra-soat/1-lap-yeu-cau-tra-soat.html"
                >
                  <div class="txt">Lập yêu cầu tra soát</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/tra-soat-truc-tuyen/tra-cuu-yeu-cau-tra-soat/1-tra-cuu-yeu-cau-tra-soat.html"
                >
                  <div class="txt">Tra cứu yêu cầu tra soát</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/tra-soat-truc-tuyen/yeu-cau-tra-soat-cho-duyet/maker/1-yeu-cau-tra-soat-cho-duyet-maker.html"
                >
                  <div class="txt">Yêu cầu tra soát chờ duyệt</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/tra-soat-truc-tuyen/yeu-cau-tra-soat-bi-huy-tu-choi/1-yeu-cau-tra-soat-bi-huy-tu-choi.html"
                >
                  <div class="txt">Yêu cầu tra soát bị hủy/từ chối</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">DỊch vụ thanh toán tự động Auto-Debit</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/thanh-toan/dang-ky-auto-debit/co-division/1-dang-ky-auto-debit-co-division.html"
                >
                  <div class="txt">Đăng ký dịch vụ</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/thanh-toan/ngung-auto-debit/1-ngung-auto-debit.html"
                >
                  <div class="txt">Ngừng dịch vụ</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Quản lý email</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/quan-ly-email/cai-dat-email/1-cai-dat-email.html"
                >
                  <div class="txt">Cài đặt email</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/quan-ly-email/nhan-kq-gd-qua-email/1-nhan-kq-gd-qua-email.html"
                >
                  <div class="txt">
                    Đăng ký nhận kết quả giao dịch qua email
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Quản lý danh bạ</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a class="sidebar__item" href="./tien-ich/danh-ba-thu-huong">
                  <div class="txt">Danh bạ thụ hưởng</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/tien-ich/danh-ba-hoa-don/1-danh-ba-hoa-don.html">
                  <div class="txt">Danh bạ hóa đơn</div>
                </a>
              </div>
              <!-- <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/danh-ba-nsnn/1-danh-ba-nsnn.html"
                >
                  <div class="txt">Danh bạ Ngân sách nhà nước</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <!-- <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Liên kết ví điện tử</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/lien-ket-vi-dien-tu/dang-ky/1-lien-ket-vi-dien-tu-dang-ky.html"
                >
                  <div class="txt">Đăng ký dịch vụ</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/lien-ket-vi-dien-tu/huy-lien-ket/1-lien-ket-vi-dien-tu-huy-lien-ket.html"
                >
                  <div class="txt">Ngừng dịch vụ</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/tien-ich/lien-ket-vi-dien-tu/doi-tai-khoan/1-lien-ket-vi-dien-tu-doi-tai-khoan.html"
                >
                  <div class="txt">Đổi tài khoản liên kết</div>
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Hỗ trợ</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/tien-ich/tinh-lai-tiet-kiem/1-tinh-lai-tiet-kiem.html">
                  <div class="txt">Câu hỏi thường gặp</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/tien-ich/tinh-lai-tiet-kiem/1-tinh-lai-tiet-kiem.html">
                  <div class="txt">Hướng dẫn sử dụng</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="./tien-ich/dieu-khoan-dich-vu">
                  <div class="txt">Điều khoản sử dụng</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="./tien-ich/lien-he">
                  <div class="txt">Liên hệ</div>
                </a>
              </div>
              <!-- <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Tính lịch trả nợ</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Câu hỏi thường gặp</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Hướng dẫn GD An toàn</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/"
                  data-toggle="modal"
                  data-target="#modalLienHe"
                >
                  <div class="txt">Liên hệ</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{ active: sidebarMenu === 'sidebarSetting' }"
        class="sidebar-menu style-scrollbar isolated-scroll sidebarSetting" data-accordion-group="data-accordion-group">
        <div class="title up">Cài đặt</div>
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Cài đặt chung</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a class="sidebar__item" href="./cai-dat/ql-ma-truy-cap">
                  <div class="txt">Quản lý mã truy cập</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="./cai-dat/ql-quyen-truy-cap">
                  <div class="txt">Quản lý quyền truy cập</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="./cai-dat/cai-dat-han-muc">
                  <div class="txt">Cài đặt hạn mức</div>
                </a>
              </div>
              <!-- <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/phan-quyen-thanh-toan-tt/ecom/1-phan-quyen-tt-ecom.html"
                >
                  <div class="txt">Phân quyền thanh toán</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/quan-ly-ma-truy-cap/1-qly-ma-truy-cap.html"
                >
                  <div class="txt">Quản lý mã truy cập</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/phan-quyen-thong-bao/1-phan-quyen-thong-bao.html"
                >
                  <div class="txt">Phân quyền thông báo</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/thay-doi-tai-khoan-mac-dinh/1-thay-doi-tai-khoan-mac-dinh.html"
                >
                  <div class="txt">Thay đổi tài khoản mặc định</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/quan-ly-sms-banking/1-quan-ly-sms-banking.html"
                >
                  <div class="txt">Quản lý SMS Banking</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a class="sidebar__item" href="pages/#">
                  <div class="txt">Cài đặt thanh toán bảng kê</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/han-muc-giao-dich/1-han-muc-giao-dich.html"
                >
                  <div class="txt">Cài đặt hạn mức giao dịch</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Gói giao dịch</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a class="sidebar__item" href="./cai-dat/goi-giao-dich/thay-doi-goi-giao-dich">
                  <div class="txt">Thay đổi gói giao dịch</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Gói giao dịch</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/goi-giao-dich/thay-doi-goi-giao-dich/1-thay-doi-goi-giao-dich.html"
                >
                  <div class="txt">Thay đổi gói giao dịch</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/goi-giao-dich/thay-doi-thong-tin-goi-giao-dich/1-thay-doi-thong-tin-goi-giao-dich.html"
                >
                  <div class="txt">Thay đổi thông tin gói giao dịch</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/goi-giao-dich/tra-cuu-so-du-binh-quan/1-tra-cuu-so-du-binh-quan.html"
                >
                  <div class="txt">Tra cứu số dư bình quân</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__list show-accordion">
          <div class="sidebar__item__title" data-control="data-control">
            <div class="txt">Phương thức xác thực</div>
            <div class="ic-arrow"></div>
          </div>
          <div data-content="data-content" class="sidebar__sub">
            <div class="sidebar__sub__wrap">
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/phuong-thuc-xac-thuc/kich-hoat-lai-smart-otp/1-kich-hoat-lai-smart-otp.html"
                >
                  <div class="txt">Kích hoạt lại VCB-Smart OTP</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/phuong-thuc-xac-thuc/cai-dat-hard-token/1-cai-dat-hard-token-chua-kich-hoat.html"
                >
                  <div class="txt">Kích hoạt Hard Token</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/phuong-thuc-xac-thuc/huy-hard-token/1-huy-vcb-hard-token.html"
                >
                  <div class="txt">Hủy VCB-Hard Token</div>
                </a>
              </div>
              <div class="sidebar__list">
                <a
                  class="sidebar__item"
                  href="pages/setting/phuong-thuc-xac-thuc/dong-bo-hard-token/1-dong-bo-hard-token.html"
                >
                  <div class="txt">Đồng bộ Hard Token</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="isSidebarLeftActive" class="bg-sidebar-transparent" (click)="sidebarItemClick('')"></div>