<div class="page-header">
  <div class="title-section">
    <div class="title">Quản lý quyền truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Cài đặt</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Quản lý quyền truy cập</span>
      </a>
    </div>
  </div>
  <app-cskh-section></app-cskh-section>
</div>
<div class="common-card" style="margin-bottom: 32px">
  <div class="common-table table-chuyen-tien">
    <div class="table-wrap table-responsive table-vertical-scroll">
      <div class="table-wrap-inner left-none">
        <table class="table-main table-sticky-ult table-strip">
          <thead>
            <tr>
              <!--<th class="checkbox-cell">
                
                <label class="rnc checkbox type-checkbox">
                  <input type="checkbox" class="hidden" />
                  <span
                    class="checkbox-ic checkbox-ic-default checkbox-size-default checkbox-style-default"
                  ></span>
                </label>
              </th>-->
              <th>STT</th>
              <th>MÃ TRUY CẬP</th>
              <th>HỌ VÀ TÊN</th>
              <th>SỐ ĐIỆN THOẠI</th>
              <th>VAI TRÒ</th>
              <th>TÀI KHOẢN TRUY VẤN</th>
              <th>TÀI KHOẢN GIAO DỊCH</th>
              <th class="sticky-ult">Thao tác</th>
            </tr>
          </thead>
          <tbody *ngIf="asyncData">
            <tr *ngFor="let item of asyncData; let i = index">
              <td class="stt">{{ getCurrentPageNumber(i + 1) }}</td>
              <td>{{item.code}}</td>
              <td>{{item.fullname}}</td>
              <td>{{item.tel}}</td>
              <td>{{genPositon(item?.position)}}</td>
              <td *ngIf="checkSAcc(item); else elseBlock">
                  <div *ngFor="let accItem of custAccS">
                    <p class="boder-td">{{accItem}}</p>
                  </div>
              </td>
              
              <td *ngIf="checkTAcc(item); else elseBlock">
                  <div *ngFor="let accItem of custAccT">
                    <p class="boder-td">{{accItem}}</p>
                  </div>
              </td>

              <td class="sticky-ult">
                <!-- tables.tableUlt -->
                <div class="ult-wrap">
                  <!-- button.button -->
                  <a data-tooltip="tooltip" title=""
                                  href="cai-dat/ql-quyen-truy-cap/{{item.id}}"
                                  class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                                  data-original-title="Thông tin">
                  <div class="ubtn-inner">
                    <span class="ubtn-ic ubtn-ic-left">
                      <img
                        src="assets/eye-icon.svg"
                        alt=""
                        class="ic-default"
                      />
                    </span>
                  </div>
                  </a>
                  <!-- end button.button -->
                </div>
                <!-- end tables.tableUlt -->
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <!--<pagination-controls id="server" [maxSize]="maxSize" [autoHide]="autoHide" [responsive]="responsive"
      [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
      (pageChange)="search($event)"></pagination-controls>-->
    </div>
  </div>
</div>


<ng-template #elseBlock>
  <td>  ---  </td>
</ng-template>
