.table-responsive {
    overflow: visible
}

.table-responsive>.table-wrap-inner {
    overflow: auto
}

.table-responsive>.table-wrap-inner thead tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #F4F5F6;
    z-index: 2
}

.table-responsive>.table-wrap-inner>.table-main td,
.table-responsive>.table-wrap-inner>.table-main th {
    white-space: nowrap
}

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-corner {
      background-color: #171c1f
} */

.table-responsive>.table-wrap-inner::-webkit-scrollbar {
    height: 12px
}

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
      background-color: #171c1f
} */

.table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb {
    background-color: #C0C2C3;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box
}

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb:hover {
      background-color: #3b474e
} */

.table-vertical-scroll>.table-wrap-inner {
    max-height: 540px;
    position: relative;
    border: 1px solid #EAEBEC;
    box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
    border-radius: 8px;
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>th,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>th {
    border-top: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:first-child {
    border-left: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:last-child {
    border-right: 0
}

.table-main {
    min-width: 100%
}

.table-main th {
    text-transform: capitalize;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #727374;
}

.table-main td,
.table-main th {
    padding: 9px 12px;
    /* border: 1px solid rgba(255, 255, 255, .12); */
    border-bottom: 1px solid #EAEBEC;
}

/* .table-strip>tbody>tr:hover {
      background-color: #171c1f !important
} */

/* .table-strip>tbody>tr:hover .sticky-ult {
      background-color: #171c1f !important
} */

/* .table-strip>tbody>tr:nth-of-type(odd) {
      background-color: #2d373d
  } */

/* .table-strip>tbody>tr:nth-of-type(odd) .sticky-ult {
      background-color: #2d373d
  } */

/* .table-strip.sticky-rnc>tbody>tr:hover .checkbox-cell {
      background-color: #171c1f !important
} */

/* .table-strip.sticky-rnc>tbody>tr:nth-of-type(odd) .checkbox-cell {
      background-color: #2d373d
} */

.table-sticky-ult {
    border-collapse: separate;
    border-spacing: 0;
}

/* .table-sticky-ult td,
  .table-sticky-ult th {
      border-bottom: 0
  } */

.table-sticky-ult td:not(:last-child),
.table-sticky-ult th:not(:last-child) {
    border-right: 0
}

.table-simple td,
.table-simple th {
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0
}

.table-simple th {
    border-top: 0
}

.table-equal {
    table-layout: fixed
}

.table-equal .cell-long {
    min-width: 0 !important
}

.table-space-lg td,
.table-space-lg th {
    padding-top: 12px;
    padding-bottom: 12px
}

.cell-long {
    white-space: normal !important
}

.sticky-ult {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    /* background-color: #242c30; */
    /* -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .16); */
    /* box-shadow: -2px 0 4px rgba(0, 0, 0, .16); */
    text-align: center;
}

.sticky-rnc .checkbox-cell {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    /* background-color: #242c30; */
    /* -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, .16); */
    /* box-shadow: 2px 0 4px rgba(0, 0, 0, .16); */
    text-align: right;
    z-index: 10
}

td.sticky-ult {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px
}

/* .ult-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  } */

.right-none .sticky-ult {
    -webkit-box-shadow: none;
    box-shadow: none
}

.record-and-pagination {
    margin-top: 16px
}

.table-wrap-inner-footer {
    padding: 16px 0;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    overflow: hidden
}

.table-main tr.error>td {
    background-color: #351719 !important
}

.table-strip>tbody>tr.error:hover>td {
    background-color: #2b1618 !important
}

td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #727374;
    height: 72px;
    padding: 0 16px;
    vertical-align: middle;
    text-align: center;
}

th.sticky-ult {
    background: #F4F5F6;
}

td.sticky-ult {
    background-color: #FAFAFA;
}

.table-pagination-box {
    padding: 14px 16px 18px 16px;
}

.table-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-number {
    display: flex;
    align-items: center;
    gap: 2px;
}

.table-page-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #727374;
}

.cell-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-next,
.page-previous {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 93px;
    height: 36px;
    background: #FAFAFA;
    border: 1px solid #C0C2C3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.page-number>.table-page-item {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-number>.table-page-item.active {
    background: #D9E6F2;
    color: #015AAB;
}
.boder-td {
    /* border-bottom: 1px solid #EAEBEC; */
    color:#727374;
}