<div class="page-header">
  <div class="title-section">
    <div class="title">Quản lý quyền truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Cài đặt</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Quản lý quyền truy cập</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Cập nhật quyền giao dịch</span>
      </a>
    </div>
  </div>
  <app-cskh-section></app-cskh-section>
</div>
<div class="mb-4"><span class="blue-txt">Khởi tạo </span></div>
  <div class="mb-4 container">
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Mã truy cập</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{cust.code}}</div>
      </div>
    </div>
    <hr class="mb-2"/>
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Vai trò</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{genPositon(cust.position)}}</div>
      </div>
    </div>
    <hr class="mb-2"/>
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Họ và tên</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{cust.fullname}}</div>
      </div>
    </div>
    <hr class="mb-2"/>
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Số điện thoại</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{cust.tel}}</div>
      </div>
    </div>
    <hr class="mb-2"/>
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Quyền giao dịch</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">Quyền giao dịch</div>
      </div>
    </div>
    <hr class="mb-2"/>
  </div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container box-white mb-4">
    <app-common-tabs class="w-100" [bodyClass]="'tabs-quyen-giao-dich'">
      <app-common-tab title="Tài khoản giao dịch" [bodyClass]="'tab-quyen-giao-dich'" >
        <div class="tab-container mb-4">
          <div class="px-3 py-3">
            <div class="txt-orange mb-3">Quý khách có thể cập nhật thông tin theo nhu cầu trong phân quyền giao dịch. Sau khi cập nhật, Quý khách nhấn "Tiếp tục" để thực hiện các bước tiếp theo.</div>
            <div class="mb-4 container">
              <div class="row row-data mb-2">
                <div  class="col-9">Vui lòng chọn các tài khoản cho phép người lập được phép tạo lệnh giao dịch</div>
                <div class="col-3 roboto-normal-w500-z16-lh20">
                  <ng-toggle 
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="tAccDd"
                    [width]="config.width"
                    [height]="config.height"
                    [margin]="config.margin"
                    [labels]="config.labels"
                    [color]="config.color"
                    [switchColor]="config.switchColor"
                    [fontColor]="config.fontColor"
                    [fontSize]="config.fontSize"
                  ></ng-toggle>
                </div>
              </div>
              <div *ngIf="!tAccDd" class="common-card-header">
                <div class="row row-data">
                  <div class="roboto-normal-w500-z20-lh20 color-17191B">
                    Tài khoản thanh toán
                  </div>
                </div>
              </div>
              <div *ngIf="!tAccDd" class="form-group">
                <div *ngFor="let item of AccDd" class="form-check my-3 border-bottom-div">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [value]="item.acc" (change)="changeDd($event)" [checked]="item.id">
                     {{item.acc}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-common-tab>
      <app-common-tab title="Dịch vụ" [bodyClass]="'tab-quyen-giao-dich'" >
        <div class="tab-container mb-4">
            <div class="px-3 py-3">
              <div class="txt-orange">Quý khách có thể cập nhật thông tin theo nhu cầu trong phân quyền giao dịch. Sau khi cập nhật, Quý khách nhấn "Tiếp tục" để thực hiện các bước tiếp theo.</div>
            </div>
            <div class="mb-4 container">
              <div class="common-card-header">
                <div class="row row-data">
                  <div class="roboto-normal-w500-z20-lh20 color-17191B">
                    Chuyển tiền
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div *ngFor="let item of chuyenTien" class="form-check my-3 border-bottom-div">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [value]="item.value" (change)="changeService($event)" [checked]="checkTichService(item.value)">
                      {{item.name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="mb-4 container">
              <div class="common-card-header">
                <div class="row row-data">
                  <div class="roboto-normal-w500-z20-lh20 color-17191B">
                    Thanh toán
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div *ngFor="let item of thanhToan" class="form-check my-3 border-bottom-div">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [value]="item.value" (change)="changeService($event)" [checked]="checkTichService(item.value)">
                      {{item.name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="mb-4 container">
              <div class="row row-data mb-2">
                <div  class="col-9">Mở tài khoản tiền gửi có kỳ hạn</div>
                <div class="col-3 roboto-normal-w500-z16-lh20">
                  <ng-toggle 
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="tienGui"
                    [width]="config.width"
                    [height]="config.height"
                    [margin]="config.margin"
                    [labels]="config.labels"
                    (change)="changeTienGui()"
                    [color]="config.color"
                    [switchColor]="config.switchColor"
                    [fontColor]="config.fontColor"
                    [fontSize]="config.fontSize"
                  ></ng-toggle>
                </div>
              </div>
            </div>
        </div>
      </app-common-tab>
      <app-common-tab title="Duyệt lệnh" [bodyClass]="'tab-quyen-giao-dich'" >
        <div class="tab-container mb-4">
            <div class="px-3 py-3">
              <div class="txt-orange">Quý khách có thể cập nhật thông tin theo nhu cầu trong phân quyền giao dịch. Sau khi cập nhật, Quý khách nhấn "Tiếp tục" để thực hiện các bước tiếp theo.</div>
            </div>
            <div *ngIf="checkTichChuyenTien()" class="mb-4 container">
              <div class="common-card-header mb-3">
                <div class="row row-data">
                  <div class="roboto-normal-w500-z20-lh20 color-17191B">
                    Chuyển tiền
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div *ngFor="let item of lstService">
                  <div *ngIf="checkChuyenTien(item)" class="color-17191B">{{genService(item)}}
                    <div *ngFor="let itemDL of lstCustDL" class="form-check my-3 border-bottom-div">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [value]="itemDL.code"  (change)="changeDLService($event, item)" [checked]="checkTichDLService(itemDL, item)">
                          {{itemDL.code}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="checkTichThanhToan()" class="mb-4 container">
              <div class="common-card-header mb-3">
                <div class="row row-data">
                  <div class="roboto-normal-w500-z20-lh20 color-17191B">
                    Thanh toán
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div *ngFor="let item of lstService">
                  <div *ngIf="checkThanhToan(item)" class="color-17191B">{{genService(item)}}
                    <div *ngFor="let itemDL of lstCustDL" class="form-check my-3 border-bottom-div">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [value]="itemDL.code"  (change)="changeDLService($event, item)" [checked]="checkTichDLService(itemDL, item)">
                          {{itemDL.code}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="checkTichTienGui()" class="mb-4 container">
              <div class="row row-data mb-2">
                <div  class="col-9 mb-3 color-17191B">Mở tài khoản tiền gửi có kỳ hạn</div>
                <div class="form-group">
                  <div *ngFor="let itemDL of lstCustDL" class="form-check my-3 border-bottom-div">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" [value]="itemDL.code"  (change)="changeDLService($event, '10')" [checked]="checkTichDLService(itemDL, '10')">
                        {{itemDL.code}}
                    </label>
                  </div>
              </div>
              </div>
            </div>
        </div>
      </app-common-tab>
    </app-common-tabs>
  </div>
  <div class="row mt-5">
    <div class="col-6 d-flex justify-content-end">
        <button appBackButton type="button" class="btn btn-cancel" (click)="back()">Quay lại</button>
    </div>
    <div class="col-6 d-flex justify-content-start">
        <button type="submit" class="btn btn-allow">Lưu</button>
    </div>
  </div>
</form>