/* You can add global styles to this file, and also import other style files */
@import "../node_modules/scss-reset/src/scss/_reset.scss";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@import "~@ng-select/ng-select/themes/default.theme.css";

$background-color: #f5f5f5 !important;
$primary-color: #015aab !important;
$secondary-color: #fda601 !important;

* {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #17191b;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4) !important;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9) !important;
}

a,
a:hover {
  text-decoration: none;
}

.mx-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.common-card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  background: #fafafa;
  box-shadow: 0px 0px 32px rgba(151, 156, 168, 0.5);
  border-radius: 12px;

  .common-card__line {
    height: 1px !important;
    background: #eaebec !important;
  }

  .common-card__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #363e46;
  }
}


.common-card-init {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;
  background: rgb(228, 241, 250) !important;
  border-radius: 12px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #015aab !important;

  .common-card__line {
    height: 1px !important;
    background: #eaebec !important;
  }

  .common-card__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #363e46;
  }


}

.common-card-init-alert {

  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;
  background: rgb(228, 241, 250) !important;
  border-radius: 12px;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgb(246, 160, 48) !important;

  .common-card__line {
    height: 1px !important;
    background: #eaebec !important;
  }

  .common-card__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #363e46;
  }
}

//breadcumbs
.breadcrumbs .txt {
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  color: #5691c7;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.breadcrumbs {
  padding-top: 4px;
}

.breadcrumbs-item {
  vertical-align: middle;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 10px;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 10px;
}

.breadcrumbs-item--active .txt {
  color: #727374;
}

.breadcrumbs-item[href]:not(.breadcrumbs-item--active):hover .txt {
  color: #0064c2;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px;
  gap: 4px;
  padding-bottom: 32px;
}

.page-header .title-section .title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.003em;
  color: #17191b;
}

.title-section {
  width: 50%;
}

.cskh-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  gap: 8px;
  background: #fafafa;
  border: 1px solid #eaebec;
  border-radius: 24px;
}

.cskh-section .title {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.cskh-section .hot-line {
  color: #015aab;
}

//end breadcumbs

//link-style
.link-style-default {
  color: #17191b !important;
}

.link-style-blue {
  color: #015aab !important;
}

.link {
  background-repeat: no-repeat;
  background-image: -o-linear-gradient(left, #17191b 0, #17191b 100%);
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#17191b),
      to(#17191b));
  background-image: linear-gradient(to right, #17191b 0, #17191b 100%);
  background-size: 0 1px;
  background-position: 0 95%;
  -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -o-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 2px 0;
}

.link:hover {
  background-size: 100% 1px;
}

//end link-style

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-16 {
  margin-bottom: 16px;
}

.px-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.list-mb16>*:not(:last-child) {
  margin-bottom: 16px;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.gap-16 {
  gap: 16px;
}

.btn-cancel {
  padding: 14px 18px;
  width: 100%;
  background: rgb(170, 170, 170);
  border: 1px solid #eaebec;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.btn-download {
  padding: 14px 18px;
  width: 100%;
  background: linear-gradient(90.00000000000009deg, rgba(1, 89, 170, 1) 0%, rgba(247, 148, 29, 1) 139%);
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #FFFFFF;
}

.btn-cancel:hover {
  background: rgb(150, 150, 150);
  color: #17191b;
}

.btn-allow {
  padding: 12px 20px;
  width: 100%;
  background: #fda601;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.btn-allow:hover {
  background: #ec9a00;
  color: #ffffff;
}

//quandev
.btn-allow-custom {
  padding: 12px 20px;
  width: 50%;
  background: #fda601;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.btn-allow-custom:hover {
  background: #ec9a00;
  color: #ffffff;
}

//end quandev

.btn-denied {
  padding: 12px 20px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fda601;
  border-color: #fda601;
  border-width: 3px;
}

.btn-denied:hover {
  background: #ec9a00;
  color: #ffffff;
}

.primary-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #015aab;
}

.primary-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #363e46;
}

.badge {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaebec;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #17191b;
}

.common-tabs.tabs-quyen-giao-dich {
  background: #fafafa;
  border: 1px solid #eaebec;
  border-radius: 9px;
  padding-bottom: 0 !important;
  justify-content: space-between;
}

.common-tabs__item.tab-quyen-giao-dich {
  border-radius: 8px;
  font-weight: 500;
  padding: 12px 8px !important;
  gap: 8px;
  font-size: 16px !important;
  line-height: 16px !important;
  color: #727374 !important;
  width: 30%;
  position: relative;
}

.common-tabs__item.tab-quyen-giao-dich>span {
  position: absolute;
  left: 8px;
}

.common-tabs__item.tab-quyen-giao-dich.active {
  background: #fda601 !important;
  color: #f4f5f6 !important;
}

.common-tabs__item.tab-quyen-giao-dich.active>span {
  background: #fafafa;
}

.common-tabs.tabs-chuyen-tien {
  background: #fafafa;
  border: 1px solid #eaebec;
  border-radius: 9px;
  padding-bottom: 0 !important;
}

.common-tabs__item.tab-chuyen-tien {
  border-radius: 8px;
  font-weight: 500;
  padding: 12px 8px !important;
  gap: 8px;
  font-size: 16px !important;
  line-height: 16px !important;
  color: #727374 !important;
  width: 50%;
  position: relative;
  width: auto !important;
}

.common-tabs__item.tab-chuyen-tien>span {
  position: absolute;
  left: 8px;
}

.common-tabs__item.tab-chuyen-tien.active {
  background: rgb(49, 90, 127) !important;
  color: #f4f5f6 !important;
}

.common-tabs__item.tab-chuyen-tien.active>span {
  background: #fafafa;
}

.common-tabs__item.tab-gdcd {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #c0c2c3;
  padding: 4px;
}

.common-tabs__item.tab-gdcd.active {
  color: #363e46;
  border: none;
}

.common-tabs__item.tab-gdcd:not(:last-child) {
  margin-right: 32px;
}

//custome table bootstrap
.table {
  margin-bottom: unset !important;
  background: #fafafa;
}

.common-table {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-color: #eaebec;
}

.table thead th {
  border-top: unset;
  background: #f4f5f6;
  border-bottom: 1px solid #eaebec;
  padding: 16px !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #727374;
}

.table td {
  border-top: unset !important;
  border-bottom: 1px solid #eaebec !important;
  padding: 26px 16px !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #727374;
}

th.option-cell,
td.option-cell {
  text-align: center;
}

//end custom table bootstrap

//custom ng-select
.ng-select {
  width: 100%;
}

.ng-select.ng-select-single .ng-select-container {
  height: 24px;
  border: none;
  outline: none;
  min-height: 24px;
}

.ng-select .ng-select-container {
  border: none;
}

/* .ng-select .ng-select-container:hover {
    box-shadow: unset;
} */

/* .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: none !important;
    border-style: none !important;
    border-width: 0 !important;
}

.ng-select .ng-arrow-wrapper {
    background-image: url('/assets/img/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-size: 15px 7.5px;
} */

.ng-select .ng-arrow {
  border-color: inherit !important;
  border-width: 0 !important;
  top: 0 !important;
  left: -16px;
  color: inherit;
  text-align: center;
  transform: rotate(0deg);
  transform-origin: 8px 12px;
  transition: transform 0.2s ease;
}

.ng-select .ng-arrow:before {
  content: url("./assets/icon-dropdown.svg");
}

.ng-select.ng-select-opened .ng-arrow {
  transform: rotate(360deg);
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 0;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
  padding: 0;
}

//end custom ng-select
@media (max-width: 1199px) {
  .page-header {
    flex-direction: column;
    align-items: start;
  }
}

.p-16 {
  padding: 16px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.margin-0 {
  margin: 0 !important;
}

.px-16 {
  padding: auto 16px !important;
}

.py-16 {
  padding: 16px auto !important;
}

.padding-btn {
  padding: 12px 130.5px !important;
}

// border radius

.rounded-12 {
  border-radius: 0.75rem;
}

.rounded-8 {
  border-radius: 8px;
}

//font-weight
.fw__100 {
  font-weight: 100;
}

.fw__200 {
  font-weight: 200;
}

.fw__300 {
  font-weight: 300;
}

.fw__400 {
  font-weight: 400;
}

.fw__500 {
  font-weight: 500;
}

.fw__600 {
  font-weight: 600;
}

.fw__700 {
  font-weight: 700;
}

// text color style

.tcl-black-1 {
  color: #17191b;
}

.tcl-black-2 {
  color: #363e46;
}

.tcl-black-3 {
  color: #20262c;
}

.tcl-black-4 {
  color: #727374;
}

//font-size
.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

//line-height
.lh-24 {
  line-height: 24px !important;
}

.lh-22 {
  line-height: 22px !important;
}

// color for app
.primary-bg-color-app {
  background-color: $primary-color;
}

.secondary-bg-color-app {
  background-color: $secondary-color;
}

//mouse
.mouse-pointer {
  cursor: pointer;
}

// AUTHOR: HUONG
// BEGIN
.ng-select .ng-select-container:hover {
  box-shadow: unset;
}

.ng-select .ng-select-container {
  background: transparent;
}

.ng-select .ng-arrow-wrapper {
  padding-right: 0;
}

// END

//badge
.common-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.badge-duyet-lenh {
  background: rgba(86, 171, 1, 0.2);
  color: #56ab01;
}

.badge-cho-xu-ly {
  background: #fcefda;
  color: #fda601;
}

.badge-tu-choi {
  background: rgba(213, 1, 1, 0.2);
  color: #d50101;
}

.badge-huy {
  background: #eaebec;
  color: #727374;
}

//end badge

//text color font color
.text-color-grey {
  color: #727374;
}

.text-color-blue {
  color: #015aab;
}

//line height start
.line-heigth-24 {
  line-height: 24px;
}

// custom-modal
.modal-content {
  border-radius: 10px;
  box-shadow: 0 16px 32px rgb(0 0 0 / 40%);
  color: rgba(0, 0, 0, 0.88);
}

.modal-header {
  padding: 32px 24px 12px 24px;

  .modal-title {
    font-size: 22px;
    font-weight: 500;
    margin: auto;
    text-align: center;
  }
}

.modal-body {
  padding: 12px 24px;
  border: 0;
  text-align: inherit;
  border-top: 1px solid #c0c2c3;
  border-bottom: 1px solid #c0c2c3;
}

.modal-footer {
  padding: 12px 24px 32px 24px;
}

//end custom-modal

.progress {
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

.progress-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}


button.calendar-date,
button.calendar-date:active {
  width: 2.75rem;
  background-image: url(~/src/assets/calendar.jpg) !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid rgb(129, 175, 217);

}

.input-group-calender {
  padding-bottom: 7px;
}

.form-control-md {
  padding: 8px 16px;
  border: 2px solid rgb(129, 175, 217);
}

.dropdown-menu.show {
  background-color: #ffffff;
}

.mat-radio-group {
  display: flex;
  width: 100%;
  font-size: 0.5em;
  justify-content: space-between;
}

.btn-continue {
  padding: 12px 20px;
  width: 200px;
  background: rgb(1, 90, 170);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.btn-continue:hover {
  background: rgb(1, 90, 170);
  color: #ffffff;
}

.ngb-dp-weekday {
  color: #000000 !important;
}

.common-tabs.tabs-han-muc {
  background: #fafafa;
  border: 1px solid #eaebec;
  border-radius: 9px;
  padding-bottom: 0 !important;
  //justify-content: space-between;
  //width: 800px;
}

.common-tabs__item.tab-han-muc {
  border-radius: 8px 8px 0px 0px;
  font-weight: 500;
  padding: 12px 8px !important;
  gap: 8px;
  font-size: 16px !important;
  line-height: 16px !important;
  color: #f9f9fa !important;
  background-color: #015aab;
  width: 40%;
  height: 80px;
  position: relative;
  margin-left: 70px;
  //justify-content: space-between;
}

.common-tabs__item.tab-han-muc>span {
  position: absolute;
  left: 8px;
}

.common-tabs__item.tab-han-muc.active {
  background: #fda601 !important;
  color: #f4f5f6 !important;
}

.common-tabs__item.tab-han-muc.active>span {
  background: #fafafa;
}

.modal-full-height {
  height: unset !important;
}


.no-scroll ::ng-deep .ng-placeholder::before {
  width: 16px;
  content: " ";
  background-image: url("./assets/icon-search.svg");
  position: absolute;
}

//quandev 
.money-text {
  font-size: 15px !important;
}

//end quandev
.label-status-succes {
  width: fit-content;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(149, 242, 4, 1);
  border-radius: 10px;
}

.text-status-success {
  color: #56ab01;
}

.label-status-success {
  width: fit-content;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
  border-color:#56ab01;
  border-radius: 10px;
}
.label-status-error {
  width: fit-content;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 0, 27, 1);
  border-radius: 10px;
}

.text-status-error {
  color: #d50101;
}

.label-status-warning {
  width: fit-content;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(247, 148, 29, 1);
  border-radius: 10px;
}

.text-status-warning {
  color: #ff6600;
}

.label-status-default {
  width: fit-content;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(192, 192, 192, 0.2);
  border-radius: 10px;
}

.text-status-default {
  color: #949393;
}

.label-status-ok {
  width: fit-content;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(1, 89, 170, 1);
  border-radius: 10px;
}

.text-status-ok {
  color: #0159AA;
}