.title1{
    font-size: 35px ;
    color: #0159aa;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 500;
}
.container {
    padding: 2%;
    background: inherit;
    background-color: rgba(228, 240, 250, 1);
    border-radius: 5px;
    box-sizing: border-box;
    //border-width: 2px;
    border-style: solid;
    border-color: rgba(1, 89, 170, 1);
    box-shadow: none;
  }
  
  .box-white {
  border-width: 0px;
  background-color: rgb(247 247 248);
  padding-left: 0px;
  }
  
  .blue-txt{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #0159AA;
  }
  
  /*  */
  .roboto-normal-w400-z16-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  }
  
  .roboto-normal-w400-z16-lh24 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  }
  
  .roboto-normal-w500-z16-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  }
  
  .roboto-normal-w500-z20-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  }
  
  .color-363E46 {
  color: #363E46;
  }
  
  .color-015AAB {
  color: #015AAB;
  }
  
  .color-17191B {
  color: #17191B;
  }
  
  .color-727374 {
  color: #727374;
  }
  
  .common-card .row-data>.col-6:nth-child(odd)>* {
  text-align: left;
  }
  
  .common-card .row-data .col-6:nth-child(even)>* {
  text-align: right;
  }
  
  .row-data-right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  margin-bottom: 5px;
  }
  
  .button-outline {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 148px;
  height: 44px;
  border: 1px solid #C0C2C3;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  border-radius: 8px;
  }
  
  .common-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  }
  
  .border-bottom-div {
  border-bottom: 1px solid #abb4bb;
  }
  
  
  .tab-container{
  padding: 2%;
  background: inherit;
  background-color: rgba(228, 240, 250, 1);
  border-radius: 5px;
  }
  
  .txt-orange{
  color: #F59A23;
  }
  .btn-edit{
    color:#0159AA;
    background-color: rgba(228, 240, 250, 1);
    border-color:#0159AA;
    border-style: solid;
    border-width: 3px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
  }
  .btn-edit:hover{
    color: #0159AA;
    border-color:#0159AA;
  }
  .header-top{
    background-color: #0159AA;
    border: 1.5px solid #17191B;
    height: 60px;
  }
  .table-cust{
    padding: 2%;
    margin-right: 20px;
  }
  .mall{
    color: #f8fcfd;
    font-size: 20px;
    margin-top: 20px;
  }
  .table-trans{
    border: 2px ;
  }
  .title-table{
    color: #f8fcfd;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    border: 1px solid #2f3030;
  }
  thead{
    background-color: #0159AA;
    border: 1px solid #2f3030;
  }
  .prodName{
    padding-left: 20px;
    font-size: 17px;
    border: 1px solid #2f3030;
  }
  .form-control{
    border: 1px solid #2f3030;
    border-radius: 0%;
  }
  .cot1{
    border: 1px solid #2f3030;
    border-radius: 0%;
    background-color: #f8fafc;
    font-size: 17px;
    padding: 15px;
  }
  .btn-cb{
    background: radial-gradient(100% 147.77% at 100% 0%, #FFCB05 1%, #0159aa 104.42%);
    color: #e8eaeb;
    width: 150px;
    height: 40px;
    float: right;
    margin: 10px;
  }
  .common-card-header{
    padding-top: 10px;
    display: block;
  }
  input{
    height: 40px;
    padding-left: 40px;
  }
  .fa-search{
    position: absolute;
    z-index: 99999;
    margin: 10px 20px 10px 10px;
    font-size: 20px;
  }
  #keyWord{
    position: relative;
    z-index: 0;
  }
  .madl{
    float: right;
  }
  .titletop{
    padding-bottom: 20px;
    border-bottom: 1px solid #0159AA;
  }
  .checkbox-cell{
    padding-top: 20px;
  }
  .checkbox-cell1{
    padding-top: 30px;
  }
  .checksum{
    margin-left: 30px;
    padding-top: 20px;
  }
  .info{
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .tentk{
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .stk{
    margin-bottom: 10px;
  }
  .loaict{
    padding-top: 50px;
  }
  .action{
    display: flex;
    margin-top: 40px;
    padding-left: 60px;
  }
  .action img{
    width: 25px;
    height: 25px;
  }
  i {
    font-size: 18px;
  }
  .content{
    border-bottom: 1px solid #0159AA;
    margin-bottom: 30px;
  }
  .perpages{
    display: flex;
    // padding-top: 10px;
  }
  .perpages p{
    padding-top: 10px;
  }
  .select-wrapper{
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
    height: 40px;
    padding-top: 5px;
  }
  .btn-cancel{
    background-color: #636363;
    color: #e8eaeb;
    width: 150px;
    height: 40px;
    // float: right;
    margin: 10px;
    font-size: 17px;
    padding: 0;
  }
  .modal-footer{
    height: 50px;
  }
  .modal-body{
    font-size: 20px;
    margin: auto;
    text-align: center;
  }
  .btn-add{
    background: radial-gradient(100% 147.77% at 100% 0%, #FFCB05 1%, #0159aa 104.42%);
    color: #e8eaeb;
    width: 250px;
    height: 40px;
    float: right;
    margin: 10px;
  }
  