<div class="page-header">
    <div class="title-section">
      <div class="title1">Danh bạ thụ hưởng</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Danh bạ thụ hưởng</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
 </div>
  <div class="mb-4 col-10" style="margin-left: 20px;">
    <div class="mb-4 container row" style="display: flex;margin-left: 10px;">
      <div class="common-card-header col-8">
        <div class="row row-data">
          <form class="form-search" (ngSubmit)="search(1)" style="display: inline-block;">
            <i class="fa fa-search fa-btn"></i>
            <input type="text" class="form-control" placeholder="Tìm kiếm danh bạ" id="keyWord" name="keyWord" [(ngModel)]="custContactSearch.keyWord" (change)="search(1)">
            
            <!-- <input type="text" class="form-control" id="code"  [(ngModel)]="transLimitSearch.code"   formControlName="code"/> -->
          </form>
        </div>
      </div>
      <div  class="form-group  col-4">
        <button type="button" class="btn btn-add"><a href="tien-ich/them-moi-danh-ba-thu-huong" style="color: rgb(248, 249, 250); width: 300px;">Thêm mới</a></button>
      </div>
    </div>
    <div class="mb-2 container row" style="display: flex;margin-left: 10px;">
       <div class="content-top">
          <div class="row titletop">
            <div class="col-md-6" style="display: flex;">
              <div class="checkbox-cell">
                <label class="rnc checkbox type-checkbox">
                  <input type="checkbox" class="hidden" (change)="onChangeCheckBox($event)" [(ngModel)]="parentSelector" value="-1"/>
                  <span class="checkbox-ic checkbox-ic-default checkbox-size-default checkbox-style-default" ></span>
                </label>
              </div>
              
              <div class="checksum">
                Đã chọn ({{sumbg}}) bản ghi
              </div> 
            </div>
            <div class="col-md-6">
              <button type="button" *ngIf="sumbg > 0" class="btn btn-edit" (click)="openModalDelete()">Xóa</button>
            </div>
          </div>
       </div> 
       <div class="content row" *ngFor="let item of asyncDataCustContact| paginate: {
             id: 'server',
             itemsPerPage: page.size,
             currentPage: page.curentPage,
             totalItems: total
           };
            let i = index">
          <div class="col-6" style="display: flex;">
            <div class="checkbox-cell1">
              <label class="rnc checkbox type-checkbox">
                <input type="checkbox" class="hidden" value="{{item.id}}"  [checked]="item.checked" (change)="onChangeCheckBox($event)"/>
                <span
                  class="checkbox-ic checkbox-ic-default checkbox-size-default checkbox-style-default"
                ></span>
              </label>
          
            </div>

            <div class="info" >
              <div class="tentk">{{item.receiveName}}</div>
              <div class="stk">{{item.receiveAccount}}</div>
              <div class="name">{{item.sortname}}</div>
            </div>
          </div>
          <div class="loaict col-4">{{gennerateProduct(item.product)}}</div>
          <div class="action col-2">
            <a data-tooltip="tooltip" title="Chỉnh sửa" href="tien-ich/cap-nhat-danh-ba-thu-huong/{{item.id}}"
              class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
              data-original-title="Thông tin">
              <div class="ubtn-inner">
                <span class="ubtn-ic ubtn-ic-left">
                  <img  src="assets/PencilSimpleLine.svg" alt="" class="ic-default"/>
                </span>
              </div>
            </a>
            <a data-tooltip="tooltip" title="Lịch sử" href="tien-ich/lich-su-chinh-sua-danh-ba-thu-huong/{{item.id}}"
              class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
              data-original-title="Thông tin">
              <div class="ubtn-inner">
                <span class="ubtn-ic ubtn-ic-left">
                  <i class="fa-solid fa-clock-rotate-left"></i>
                </span>
              </div>
            </a>
          </div>
       </div>
       <div class="footer row">
        <div class="perpages col-6">
          <p>Hiển thị</p> 
          <div class="select-wrapper">
            <ng-select [(ngModel)]="size" (change)="search(1)">
              <ng-option *ngFor="let i of pageSizes" [value]="i">{{i}}</ng-option>
           </ng-select> 
        </div><p>bản ghi</p>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
          <pagination-controls id="server" [maxSize]="maxSize" [autoHide]="autoHide" [responsive]="responsive"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            (pageChange)="search($event)"></pagination-controls>
        </div>
       </div>
             
    </div>
  </div>

  <app-modal
  [isOpen]="showModalDelete"
  (closeEvent)="closeModalDelete()"
  [type]="'modal'"
  [titleModal]="nameModal"
  [sizeModal]="'md'"
>
      <div class="modal-body">
          <label>
            <p>Quý khách có chắc chắn xóa </p>
            <p>danh bạ này không?</p>
          </label>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-cancel" (click)="closeModalDelete()">Hủy</button>
        <button type="button" class="btn btn-cb" (click)="deleteItems()">Đồng ý</button>
      </div>
</app-modal>