<div class="cskh-section">
  <div class="inline-block">
    <img src="assets/cskh-icon.svg" alt="" />
  </div>
  <div class="inline-block title">Dịch vụ khách hàng 24/7:</div>
  <div class="inline-block">
    <a href="tel:19001816" class="link link-style-blue title hot-line">
      1900 1816
    </a>
  </div>
</div>
