<div class="mb-4"><span class="blue-txt">Khởi tạo </span></div>
<form [formGroup]="custForm" (ngSubmit)="goToSave()">
    <div class="container">
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Họ và tên</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="fullname" [(ngModel)]="cust.fullname" formControlName="fullname"/>
                <span *ngIf="isSubmit && custForm.controls.fullname?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
                <span *ngIf="custForm.controls.fullname?.errors!=null && custForm.controls.fullname?.errors?.['maxLength']"
                class="text-danger rq-input">Họ và tên quá dài</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Loại giấy tờ</label>
            <div class="col-sm-8">
                <ng-select id="indentitypapers" formControlName="indentitypapers" [(ngModel)]="cust.indentitypapers" class="form-control"
                [items]="indentitypapers" bindLabel="name" bindValue="value" ></ng-select>
                <span *ngIf="isSubmit && custForm.controls.indentitypapers?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Số giấy tờ</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="idno" [(ngModel)]="cust.idno" formControlName="idno"/>
                <span *ngIf="isSubmit && custForm.controls.idno?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
                <span *ngIf="custForm.controls.idno?.errors!=null && custForm.controls.idno?.errors?.['isExist']"
                class="text-danger rq-input">Thông tin giấy tờ đã tồn tại</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Ngày sinh</label>
            <div class="col-sm-8">
                <!--<input type="date" class="form-control" id="birthday" [(ngModel)]="cust.birthday" formControlName="birthday"/>-->
                <div class="input-group date-style">  
                    <input
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    formControlName="birthday"
                    [(ngModel)]="cust.birthday"
                    ngbDatepicker
                    #a="ngbDatepicker"
                    />
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary fas fa-calendar-alt" (click)="a.toggle()" type="button"></button>
                    </div>
                </div>
                <span *ngIf="isSubmit && custForm.controls.birthday?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Số điện thoại</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="tel" [(ngModel)]="cust.tel" formControlName="tel"/>
                <span *ngIf="isSubmit && custForm.controls.tel?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
                <span *ngIf="isSubmit && custForm.controls.tel?.errors?.['pattern']"
                class="text-danger rq-input">Sai định dạng số điện thoại</span>
                <span *ngIf="custForm.controls.tel?.errors!=null && custForm.controls.tel?.errors?.['isExist']"
                class="text-danger rq-input">Số điện thoại đã tồn tại</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="email" [(ngModel)]="cust.email" formControlName="email"/>
                <span *ngIf="isSubmit && custForm.controls.email?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
                <span *ngIf="isSubmit && custForm.controls.email?.errors?.['pattern']"
                class="text-danger rq-input">Sai định dạng email</span>
                <span *ngIf="custForm.controls.email?.errors!=null && custForm.controls.email?.errors?.['maxLength']"
                class="text-danger rq-input">Email quá dài</span>
                <span *ngIf="custForm.controls.email?.errors!=null && custForm.controls.email?.errors?.['isExist']"
                class="text-danger rq-input">Email đã tồn tại</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Vai trò</label>
            <div class="col-sm-8">
                <ng-select id="position" formControlName="position" [(ngModel)]="cust.position" class="form-control"
                [items]="positions" bindLabel="name" bindValue="value"></ng-select>
                <span *ngIf="isSubmit && custForm.controls.position?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Phương thức xác thực</label>
            <div class="col-sm-8">
                <label class="col-sm-3 col-form-label blue-txt">Smart OTP</label>
            </div>
        </div>
    </div>

    <div class="container note mt-5">
        <div class="warning-title">
            <img src="assets/alert-triangle.svg" alt="" />
            Lưu ý :
        </div>
        <div class="warning-list">
            <li class="warning-item">
                Số lượng mã truy cập không vượt quá số mã tối đa đối với mã lập lệnh theo chính sách Ngân hàng CB quy định.
            </li>
            <li class="warning-item">
                Thông tin mã truy cập sẽ được gửi đến Email đăng ký, Mật khẩu kích hoạt được gửi qua SMS đến Số điện thoại đăng ký.
            </li>
        </div>
    </div>

    
    <div class="row mt-5">
        <div class="col-6 d-flex justify-content-end">
            <button appBackButton type="button" class="btn btn-cancel" (click)="back()">Quay lại</button>
        </div>
        <div class="col-6 d-flex justify-content-start">
            <button type="submit" class="btn btn-allow">Tiếp</button>
        </div>
    </div>
</form>

