<div class="page-header">
    <div class="title-section">
      <div class="title" *ngIf="checkTabLL == true">Cập nhật hạn mức lập lệnh</div>
      <div class="title" *ngIf="checkTabDL == true">Cập nhật hạn mức duyệt lệnh</div>
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt">Cài đặt</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt">Cài đặt hạn mức</span>
        </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" *ngIf="checkTabLL == true">Cập nhật hạn mức lập lệnh</span>
          <span class="txt" *ngIf="checkTabDL == true">Cập nhật hạn mức duyệt lệnh</span>
        </a>
      </div>
    </div>
</div>
  <div class="mb-4" style="margin-left: 20px;">
    <div class="mb-4"><span class="blue-txt">Khởi tạo </span></div>
    <form [formGroup]="detailForm" (ngSubmit)="submit()">
        <div class="mb-4 container row" style="display: flex;margin-left: 10px;">
            <div class="common-card-header col-4">
              <div class="row row-data">
                <div class="roboto-normal-w500-z20-lh20 color-17191B" *ngIf="checkTabLL == true">
                  Mã lập lệnh
                </div>
                <div class="roboto-normal-w500-z20-lh20 color-17191B" *ngIf="checkTabDL == true">
                  Mã duyệt lệnh
                </div>
              </div>
            </div>
            <div  class="form-group madl col-4" *ngIf="checkTabLL == true">
              {{maLL}}
            </div>
            <div  class="form-group madl col-4" *ngIf="checkTabDL == true">
              {{maDL}}
            </div>
        </div>
        <div class="mb-4 container row" style="display: flex;margin-left: 10px;">
              
              <div class="table-cust">
                  <div class="header-top row">
                      <div class="mall col-6">
                          Cập nhật hạn mức
                      </div>
                  
                  </div>
                  <div class="row">
                      <!-- <form [formGroup]="transLimitDetail"> -->
                      <table border="1">
                          <thead>
                          <th class="title-table" width="30%">Dịch vụ</th>
                          <th class="title-table" width="30%">Hạn mức tối đa/giao dịch</th>
                          <th class="title-table" *ngIf="checkTabLL == true" width="30%">Tổng hạn mức giao dịch/ngày</th>
                          </thead>
                          <tbody formArrayName="transLimitCust" *ngIf="checkTabLL == true">
                              
                          <tr   [formGroupName]="i"
                          *ngFor="let e of itemLLs; index as i">
                              <td  scope="row" class="prodName"> 
                              {{e.productName}}
                              </td>   
                              <td> 
                                  <input
                                  type="text"
                                  formControlName="maxtrans"
                                  [(ngModel)]="e.maxtrans"
                                  [readonly]="isReadOnly()"
                                  class="form-control"
                                  maxlength="250"
                              />
                              </td>
                              <td> 
                              <input
                              type="text"
                              formControlName="maxdaily"
                              [(ngModel)]="e.maxdaily"
                              [readonly]="isReadOnly()"
                              class="form-control"
                              maxlength="250"
                              />
                              </td>     
                          </tr>
                          </tbody>
      
                          <tbody formArrayName="transLimitCust" *ngIf="checkTabDL == true">
                              
                              <tr   [formGroupName]="i"
                              *ngFor="let e of itemDLs; index as i">
                              <td  scope="row" class="prodName"> 
                                  {{e.productName}}
                              </td>   
                                  <td> 
                                  <input
                                  type="text"
                                  formControlName="maxtrans"
                                  [(ngModel)]="e.maxtrans"
                                  [readonly]="isReadOnly()"
                                  class="form-control"
                                  maxlength="250"
                                  />
                              </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
        </div>
        <div class="dieu-khoan">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="checkbox" formControlName="checkbox" name="checkbox">
                Tôi đồng ý và cam kết tuân thủ các <a href="tien-ich/dieu-khoan-dich-vu" style="color: blue;">điều khoản, điều kiện hạn mức</a> về các dịch vụ thực hiện trên hệ thống ngân hàng số của CB.
              </label>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 d-flex justify-content-end">
                <button appBackButton type="button" class="btn btn-cancel" (click)="back()">Quay lại</button>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button type="submit" class="btn btn-allow">Tiếp tục</button>
            </div>
          </div>
    </form>
    
  </div>