.container {
    padding: 2%;
    background: inherit;
    background-color: rgba(228, 240, 250, 1);
    border-radius: 5px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(1, 89, 170, 1);
    box-shadow: none;
  }
  
  .box-white {
  border-width: 0px;
  background-color: rgb(247 247 248);
  padding-left: 0px;
  }
  
  .blue-txt{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #0159AA;
  }
  
  /*  */
  .roboto-normal-w400-z16-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  }
  
  .roboto-normal-w400-z16-lh24 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  }
  
  .roboto-normal-w500-z16-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  }
  
  .roboto-normal-w500-z20-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  }
  
  .color-363E46 {
  color: #363E46;
  }
  
  .color-015AAB {
  color: #015AAB;
  }
  
  .color-17191B {
  color: #17191B;
  }
  
  .color-727374 {
  color: #727374;
  }
  
  .common-card .row-data>.col-6:nth-child(odd)>* {
  text-align: left;
  }
  
  .common-card .row-data .col-6:nth-child(even)>* {
  text-align: right;
  }
  
  .row-data-right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  margin-bottom: 5px;
  }
  
  .button-outline {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 148px;
  height: 44px;
  border: 1px solid #C0C2C3;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  border-radius: 8px;
  }
  
  .common-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  }
  
  .border-bottom-div {
  border-bottom: 1px solid #abb4bb;
  }
  
  
  .tab-container{
  padding: 2%;
  background: inherit;
  background-color: rgba(228, 240, 250, 1);
  border-radius: 5px;
  }
  
  .txt-orange{
  color: #F59A23;
  }
  .btn-edit{
    color: rgb(249, 249, 250);
    background-color: #015AAB;
    border-color:#e8eaeb;
    border-style: solid;
    border-width: 3px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
  }
  .btn-edit:hover{
    color: #f1b307;
    border-color:#f1b307;
  }
  // .header-top{
  //   // background-color: #0159AA;
  //   border: 1.5px solid #17191B;
  //   height: 60px;
  // }
  // .table-cust{
  //   padding: 2%;
  //   margin-right: 20px;
  // }
  .mall{
    color: #171818;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    //margin-top: 20px;
  }
  .table-trans{
    border: 2px ;
  }
  .title-table{
    color: #f8fcfd;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    border: 1px solid #2f3030;
  }
  thead{
    background-color: #0159AA;
    border: 1px solid #2f3030;
  }
  .prodName{
    padding-left: 20px;
    font-size: 17px;
    border: 1px solid #2f3030;
    background-color: #ebc8a8fa;
  }
  .form-control{
    border: 1px solid #2f3030;
    border-radius: 0%;
  }
  .cot1{
    border: 1px solid #2f3030;
    border-radius: 0%;
    background-color: #f8fafc;
    font-size: 17px;
    padding: 15px;
  }
  .madl{
    color: #171818;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
  }
  .dieu-khoan{
    margin-left: 10px;
    font-size: 17px;
  }
  .btn-cancel{
    color: #fbfdfd;
    background-color: #C0C2C3;
    font-size: 17px;
  }
  .btn-allow{
    background-color: #0159AA;
  }
  // .form-check-input{
  //   border: 1px solid orange;
  //   background-color: #e8eaeb;
  //   color: orange;
  // }
  /*  */