<div class="mb-4"><span class="blue-txt">Khởi tạo </span></div>
<form [formGroup]="custEditForm" (ngSubmit)="goToSave()">
    <div class="container">
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Họ và tên</label>
            <div class="col-sm-8">
                <label class="col-form-label txt-defaut">{{cust.fullname}}</label>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Loại giấy tờ</label>
            <div class="col-sm-8">
                <ng-select id="indentitypapers" formControlName="indentitypapers"  [(ngModel)]="cust.indentitypapers" class="form-control"
                [items]="indentitypapers" bindLabel="name" bindValue="value" ></ng-select>
                <span *ngIf="isSubmit && custEditForm.controls.indentitypapers?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Số giấy tờ</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="idno" [(ngModel)]="cust.idno" formControlName="idno"/>
                <span *ngIf="isSubmit && custEditForm.controls.idno?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
                <span *ngIf="custEditForm.controls.idno?.errors!=null && custEditForm.controls.idno?.errors?.['isExist']"
                class="text-danger rq-input">Thông tin giấy tờ đã tồn tại</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Ngày sinh</label>
            <div class="col-sm-8">
                <label class="col-form-label txt-defaut">{{cust.birthday | date:'dd/MM/yyyy'}}</label>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Số điện thoại</label>
            <div class="col-sm-8">
                <label class="col-form-label txt-defaut">{{cust.tel}}</label>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="email" [(ngModel)]="cust.email" formControlName="email"/>
                <span *ngIf="isSubmit && custEditForm.controls.email?.errors?.['required']"
                class="text-danger rq-input">Thông tin bắt buộc</span>
                <span *ngIf="isSubmit && custEditForm.controls.email?.errors?.['pattern']"
                class="text-danger rq-input">Sai định dạng email</span>
                <span *ngIf="custEditForm.controls.email?.errors!=null && custEditForm.controls.email?.errors?.['maxLength']"
                class="text-danger rq-input">Email quá dài</span>
                <span *ngIf="custEditForm.controls.email?.errors!=null && custEditForm.controls.email?.errors?.['isExist']"
                class="text-danger rq-input">Email đã tồn tại</span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Vai trò</label>
            <div class="col-sm-8">
                <label class="col-form-label txt-defaut">{{genPositon(cust.position)}}</label>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Phương thức xác thực</label>
            <div class="col-sm-8">
                <label class="col-sm-3 col-form-label blue-txt txt-defaut">Smart OTP</label>
            </div>
        </div>
    </div>

    <div class="container note mt-5">
        <div class="warning-title">
            <img src="assets/alert-triangle.svg" alt="" />
            Lưu ý :
        </div>
        <div class="warning-list">
            <li class="warning-item">
                Số lượng mã truy cập không vượt quá số mã tối đa đối với mã lập lệnh theo chính sách Ngân hàng CB quy định.
            </li>
        </div>
    </div>

    
    <div class="row mt-5">
        <div class="col-6 d-flex justify-content-end">
            <button appBackButton type="button" class="btn btn-cancel" (click)="back()">Quay lại</button>
        </div>
        <div class="col-6 d-flex justify-content-start">
            <button type="submit" class="btn btn-allow">Lưu</button>
        </div>
    </div>
</form>