.container {
    padding: 5%;
    background: inherit;
    background-color: rgba(228, 240, 250, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(1, 89, 170, 1);
    box-shadow: none;
  }
.blue-txt{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #0159AA;
}
.note{
  border-color: rgb(253 166 1) !important;
}

.txt-orange{
  color: #F59A23;
}

.txt-defaut{
    padding-left: 1%;
}
  