.common-card__content {
    .common-card__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .common-card__qr-code {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 12px;

        .qr-code__img {
            width: 120px;
            height: 120px;
        }

        .qr-code__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;

            .txt {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #20262c;

                .txt-mgd {
                    font-weight: 500;
                }
            }
        }
    }

    .common-card__input {
        input {
            border-radius: 8px;
        }
    }
}

.common-card__footer {
    .qr-code__note {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #d50101;
    }
}

.primary-text {
    text-align: end;
}