<app-qr-code (maGiaoDich)="setCode($event)"></app-qr-code>

<div class="common-card mb-32">
    <div class="row">
        <div class="col-6 primary-label">Họ và tên</div>
        <div class="col-6 primary-text">{{cust.fullname}}</div>
    </div>
    <div class="common-card__line"></div>
    <div class="row">
        <div class="col-6 primary-label">Loại giấy tờ</div>
        <div class="col-6 primary-text">{{cust.indentitypapers}}</div>
    </div>
    <div class="common-card__line"></div>
    <div class="row">
        <div class="col-6 primary-label">Số giấy tờ</div>
        <div class="col-6 primary-text">{{cust.idno}}</div>
    </div>
    <div class="common-card__line"></div>
    <div class="row">
        <div class="col-6 primary-label">Ngày sinh</div>
        <div class="col-6 primary-text">{{cust.birthday | date: "dd/MM/yyyy"}}</div>
    </div>
    <div class="common-card__line"></div>
    <div class="row">
        <div class="col-6 primary-label">Email</div>
        <div class="col-6 primary-text">{{cust.email}}</div>
    </div>
    <div class="common-card__line"></div>
    <div class="row">
        <div class="col-6 primary-label">Vai trò</div>
        <div class="col-6 primary-text">{{genPositon(cust.position)}}</div>
    </div>
    <div class="common-card__line"></div>
    <div class="row">
        <div class="col-6 primary-label">Phương thức xác thực</div>
        <div class="col-6 primary-text">Smart OTP</div>
    </div>
</div>
<div class="row">
    <div class="col-6 d-flex justify-content-end">
        <button *ngIf="cust.id" type="button" class="btn btn-cancel" (click)="handleClickBtn('chinh-sua')">
            Quay lại
        </button>
        <button *ngIf="!cust.id" type="button" class="btn btn-cancel" (click)="handleClickBtn('khoi-tao')">
            Quay lại
        </button>
    </div>
    <div class="col-6 d-flex justify-content-start">
        <button type="button" class="btn btn-allow" (click)="submit()">
            Tiếp tục
        </button>
    </div>
</div>