<div class="page-header">
    <div class="title-section">
        <div class="title">Quản lý chức vụ</div>
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Trang chủ</span>
            </a>
            <span class="dot">/</span>
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Quản lý chức vụ</span>
            </a>
            <span class="dot">/</span>
            <a class="breadcrumbs-item breadcrumbs-item--active">
                <span class="txt">Chi tiết quản lý chức vụ</span>
            </a>
        </div>
    </div>
</div>

<div class="common-card mb-32">
    <div class="position-relative">
        <app-common-tabs>
            <app-common-tab title="Thông tin chức vụ" [bodyClass]="'tab-gdcd'">
                <div class="tab-content">
                    <app-common-tabs class="w-100" [bodyClass]="'tabs-chuyen-tien'">
                        <app-common-tab title="Thông tin chi tiết" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="mb-4">
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Chức vụ</div>
                                        <div class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="chucVu.ma" />
                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Trạng thái</div>
                                        <div class="col-3 primary-text">
                                            <div class="select-wrapper">
                                                <ng-select [items]="CSVCSTATUS" bindLabel="name" bindValue="value"
                                                    [(ngModel)]="chucVu.status">
                                                </ng-select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Mô tả</div>
                                        <div class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <textarea [(ngModel)]="chucVu.mota" class="textarea-autosize" rows="1"
                                                    autocorrect="off" spellcheck="false" maxlength="100" style="
              overflow: hidden;
              overflow-wrap: break-word;
              resize: none;
              height: 96px;
              width: 100%;
              border: none;
              outline: none;
            "></textarea>
                                            </div>
                                        </div>

                                    </div>



                                </div>


                            </div>
                        </app-common-tab>



                    </app-common-tabs>
                </div>
            </app-common-tab>

        </app-common-tabs>

    </div>
    <div class="row" style=" display: flex; justify-content: space-around; ">
        <div class="col-3">
            <button type="button" class="btn btn-cancel" (click)="return()">
                Quay lại
            </button>
        </div>

        <div *ngIf="this.action == FwAction.CREATE" class="col-3">
            <button type="button" class="btn btn-allow" (click)="createChucVu()">
                Tạo
            </button>
        </div>

        <div *ngIf="this.action == FwAction.DETAIL" class="col-3">
            <button type="button" class="btn btn-allow" (click)="updateChucVu()">
                Cập nhật
            </button>
        </div>
    </div>
</div>