<div class="page-header">
  <div class="title-section">
    <div class="title">Quản lý quyền truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Cài đặt</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Quản lý quyền truy cập</span>
      </a>
    </div>
  </div>
  <app-cskh-section></app-cskh-section>
</div>
<div class="common-card" style="margin-bottom: 32px">
  <div class="row row-data">
    <div class="col-6">
      <div class="primary-label">Mã truy cập</div>
    </div>
    <div class="col-6">
      <div class="roboto-normal-w400-z16-lh20 color-363E46">{{cust.code}}</div>
    </div>
  </div>
  <div class="row row-data">
    <div class="col-6">
      <div class="primary-label">Họ và tên</div>
    </div>
    <div class="col-6">
      <div class="roboto-normal-w400-z16-lh20 color-363E46">
        {{cust.fullname}}
      </div>
    </div>
  </div>
  <div class="row row-data">
    <div class="col-6">
      <div class="primary-label">Số điện thoại</div>
    </div>
    <div class="col-6">
      <div class="roboto-normal-w400-z16-lh20 color-363E46">{{cust.tel}}</div>
    </div>
  </div>
  <div class="row row-data">
    <div class="col-6">
      <div class="primary-label">Vai trò</div>
    </div>
    <div class="col-6">
      <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{genPositon(cust.position)}}</div>
    </div>
  </div>
</div>
<div class="common-card" style="margin-bottom: 32px">
  <div class="common-card-header">
    <div class="row row-data">
      <div class="col-6">
        <div class="roboto-normal-w500-z20-lh20 color-17191B">
          Quyền truy vấn
        </div>
      </div>
      <div class="col-6">
        <div>
          <ng-toggle
            [(ngModel)]="roleSearch"
            [width]="config.width"
            [height]="config.height"
            [margin]="config.margin"
            [labels]="config.labels"
            [color]="config.color"
            (change)="changeEventSearch()"
            [switchColor]="config.switchColor"
            [fontColor]="config.fontColor"
            [fontSize]="config.fontSize"
          ></ng-toggle>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="sAccDd" class="row row-data">
    <div class="col-6">
      <div class="roboto-normal-w400-z16-lh20 color-727374">
        Tài khoản thanh toán
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="cust.sallDd != YesNo.YES; else elseBlock">
        <div *ngFor="let item of cust.custAcc">
          <div *ngIf="item.type == TypeAcc.TRUYVAN && item.accType == AccType.TAIKHOAN" class="row-data-right">
            <span class="roboto-normal-w400-z16-lh20 color-17191B">{{item.acc}}</span>
            <img src="assets/CheckCircle.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="sAccFd" class="row row-data">
    <div class="col-6">
      <div class="roboto-normal-w400-z16-lh20 color-727374">
        Tài khoản tiền gửi
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="cust.sallFd != YesNo.YES; else elseBlock">
        <div *ngFor="let item of cust.custAcc">
          <div *ngIf="item.type == TypeAcc.TRUYVAN && item.accType == AccType.TIENGUI" class="row-data-right">
            <span class="roboto-normal-w400-z16-lh20 color-17191B">{{item.acc}}</span>
            <img src="assets/CheckCircle.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="sAccLn" class="row row-data">
    <div class="col-6">
      <div class="roboto-normal-w400-z16-lh20 color-727374">
        Tài khoản tiền vay
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="cust.sallLn != YesNo.YES; else elseBlock">
        <div *ngFor="let item of cust.custAcc">
          <div *ngIf="item.type == TypeAcc.TRUYVAN && item.accType == AccType.TIENVAY" class="row-data-right">
            <span class="roboto-normal-w400-z16-lh20 color-17191B">{{item.acc}}</span>
            <img src="assets/CheckCircle.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row row-data">
    <button class="button-outline" routerLink="./cap-nhat-quyen-truy-van">
      <img src="assets/pencil-edit.svg" alt="" />
      <div class="roboto-normal-w400-z16-lh20 color-17191B">Chỉnh sửa</div>
    </button>
  </div>
</div>

<div *ngIf="cust.position == POSITION.LAPLENH"  class="common-card" style="gap: 16px">
  <div class="common-card-header">
    <div class="row row-data">
      <div class="col-6">
        <div class="roboto-normal-w500-z20-lh20 color-17191B">
          Quyền giao dịch
        </div>
      </div>
      <div class="col-6">
        <div>
          <ng-toggle
            [(ngModel)]="roleTrans"
            [width]="config.width"
            [height]="config.height"
            [margin]="config.margin"
            [labels]="config.labels"
            [color]="config.color"
            (change)="changeEventTran()"
            [switchColor]="config.switchColor"
            [fontColor]="config.fontColor"
            [fontSize]="config.fontSize"
          ></ng-toggle>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="tAccDd" class="common-card-body">
    <div class="row row-data">
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-363E46">
          Tài khoản thanh toán
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="cust.tallDd != YesNo.YES; else elseBlock">
          <div *ngFor="let item of cust.custAcc">
            <div *ngIf="item.type == TypeAcc.GIAODICH" class="row-data-right">
              <span class="roboto-normal-w400-z16-lh20 color-17191B">{{item.acc}}</span>
              <img src="assets/CheckCircle.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cust.custProduct" class="common-card-body">
    <div class="row row-data">
      <div class="col-12">
        <div class="roboto-normal-w500-z16-lh20 color-363E46">
          Dịch vụ và mã duyệt lệnh
        </div>
      </div>
    </div>
    <div *ngFor="let item of cust.custProduct" class="row row-data">
      <div class="col-6">
        <div class="roboto-normal-w400-z16-lh20 color-727374">
          {{genService(item.product)}}
        </div>
      </div>
      <div class="col-6">
        <ul>
          <li *ngFor="let item2 of getArrAcc(item.custCode)" class="roboto-normal-w400-z16-lh24 color-17191B">
            {{item2}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row row-data">
    <button class="button-outline" routerLink="./cap-nhat-quyen-giao-dich">
      <img src="assets/pencil-edit.svg" alt="" />
      <div class="roboto-normal-w400-z16-lh20 color-17191B">Chỉnh sửa</div>
    </button>
  </div>
</div>

<ng-template #elseBlock>
  <div class="row-data-right">
    <span class="roboto-normal-w400-z16-lh20 color-17191B">Tất cả</span>
    <img src="assets/CheckCircle.svg" alt="" />
  </div>
</ng-template>

<app-modal
  [isOpen]="showModalSearch"
  (closeEvent)="closeModalSearch()"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label *ngIf="roleSearch">Bạn có chắc chắn muốn Mở Khóa quyền truy vấn với mã truy cập {{cust.code}}?</label>
          <label *ngIf="!roleSearch">Bạn có chắc chắn muốn Khóa quyền truy vấn với mã truy cập {{cust.code}}?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateRoleSearch()">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalSearch()">Hủy</button>
      </div>
</app-modal>

<app-modal
  [isOpen]="showModalTrans"
  (closeEvent)="closeModalTran()"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label *ngIf="roleTrans">Bạn có chắc chắn muốn Mở Khóa quyền giao dịch với mã truy cập {{cust.code}}?</label>
          <label *ngIf="!roleTrans">Bạn có chắc chắn muốn Khóa quyền giao dịch với mã truy cập {{cust.code}}?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateRoleTran()">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalTran()">Hủy</button>
      </div>
</app-modal>