<div class="page-header">
    <div class="title-section">
        <div class="title">Quản lý tài chính</div>
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Trang chủ</span>
            </a>
            <span class="dot">/</span>
            <a class="breadcrumbs-item breadcrumbs-item--active">
                <span class="txt">Quản lý tài chính</span>
            </a>
        </div>
    </div>
</div>

<div class="common-card mb-32">
    <div class="position-relative">

        <app-common-tabs>
            <app-common-tab title="Quản lý tài chính" [bodyClass]="'tab-gdcd'">
                <div class="form-group-tc">
                    <label class="mb-1">Khoảng thời gian</label>
                    <div class="row">
                        <div class="col-3">
                            <div class="input-group">
                                <input class="form-control" placeholder="Từ dd-mm-yyyy" name="dp-tu-ngay" ngbDatepicker
                                    #dpTuNgay="ngbDatepicker" [positionTarget]="btnTuNgay"
                                    [(ngModel)]="taiChinhSearch.tuNgay" />
                                <button #btnTuNgay class="btn btn-outline-secondary bi bi-calendar3"
                                    (click)="dpTuNgay.toggle()" type="button" (blur)="searchTaiChinh(1)"></button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <input class="form-control" placeholder="Đến dd-mm-yyyy" name="dp-den-ngay"
                                    ngbDatepicker #dpDenNgay="ngbDatepicker" [positionTarget]="btnDenNgay"
                                    [(ngModel)]="taiChinhSearch.denNgay" />
                                <button #btnDenNgay class="btn btn-outline-secondary bi bi-calendar3"
                                    (click)="dpDenNgay.toggle()" type="button" (blur)="searchTaiChinh(1)"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <app-common-tabs class="w-100" [bodyClass]="'tabs-chuyen-tien'">
                        <app-common-tab title="Toàn bộ" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="w-100 d-flex justify-content-between align-items-center">
                                    <div class="chuyen-tien__title">Danh sách</div>
                                    <div class="w-200 d-flex filter-inline">
                                        <button
                                            class="d-flex justify-content-between align-items-center chuyen-tien__download"
                                            (click)="downloadExcel()" style="color:rgb(75, 138, 194)">
                                            <img src="assets/download-icon.svg" alt="" />Export
                                        </button>
                                    </div>
                                </div>
                                <div class="common-table table-chuyen-tien" style="padding-top:1%">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Nội dung tài chính</th>
                                                        <th style="width: 80px;">Số tiền</th>
                                                        <th>Loại tài chính</th>
                                                        <th>Ngày cập nhật</th>
                                                        <th class="sticky-ult">
                                                            <a href="quan-ly-tai-chinh/quan-ly-tai-chinh/create">
                                                                <img src="assets/add.svg" alt="" class="icon" />
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTran">
                                                    <tr *ngFor="
                                      let item of asyncDataTran
                                        | paginate
                                          : {
                                              id: 'server',
                                              itemsPerPage: pageTrans.size,
                                              currentPage: pageTrans.curentPage,
                                              totalItems: totalTran
                                            };
                                      let i = index
                                    ">

                                                        <td class="stt">{{ getCurrentTranPageNumber(i + 1) }}</td>
                                                      
                                                        <td>{{item.mota}}</td>
                                                        <td>
                                                            <div *ngIf="item.type == '1'" class="label-status-warning">
                                                                <p class="text-status-warning fs-14">{{item.quantity | number: '2.'}}</p>
                                                            </div>

                                                            <div *ngIf="item.type == '0'" class="label-status-success">
                                                                <p class="text-status-success fs-14">{{item.quantity | number: '2.'}}</p>
                                                            </div>
                                                        </td>

                                                        <td>{{getTaiChinh(item.type)}}</td>
                                                        <td>{{item.createdAt | date:'dd/MM/yyyy'}}</td>
                                                        <td class="sticky-ult">
                                                            <!-- tables.tableUlt -->
                                                            <div class="ult-wrap">
                                                                <!-- button.button -->
                                                                <a data-tooltip="tooltip" title=""
                                                                    href="quan-ly-tai-chinh/quan-ly-tai-chinh/{{ACTION.DUYET}}/{{item.id}}"
                                                                    class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                                                                    data-original-title="Thông tin">
                                                                    <div class="ubtn-inner">
                                                                        <i class="fa fa-info-circle"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                </a>
                                                                <!-- end button.button -->
                                                            </div>
                                                            <!-- end tables.tableUlt -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <pagination-controls id="server" [maxSize]="maxSizeTran"
                                                [autoHide]="autoHide" [responsive]="responsive"
                                                [previousLabel]="labelsTran.previousLabel"
                                                [nextLabel]="labelsTran.nextLabel"
                                                (pageChange)="searchTaiChinh($event)"></pagination-controls>
                                        </div>


                                    </div>
                                </div>


                            </div>
                        </app-common-tab>
                        <app-common-tab title="Khoản thu" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="common-table table-chuyen-tien" style="padding-top:1%">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Nội dung tài chính</th>
                                                        <th style="width: 80px;">Số tiền</th>
                                                        <th>Loại tài chính</th>
                                                        <th>Ngày cập nhật</th>

                                                        <th class="sticky-ult">
                                                            <a href="quan-ly-tai-chinh/quan-ly-tai-chinh/create">
                                                                <img src="assets/add.svg" alt="" class="icon" />
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTranThu">
                                                    <tr *ngFor="
                                      let item of asyncDataTranThu
                                        | paginate
                                          : {
                                              id: 'server',
                                              itemsPerPage: pageTrans.size,
                                              currentPage: pageTrans.curentPage,
                                              totalItems: totalTran
                                            };
                                      let i = index
                                    ">

                                                        <td class="stt">{{ getCurrentTranPageNumber(i + 1) }}</td>
                                                        <td>{{item.mota}}</td>
                                                        <td>
                                                            <div class="label-status-success">
                                                                <p class="text-status-success fs-14">{{item.quantity | number: '2.'}}</p>
                                                            </div>
                                                        </td>
                                                        <td>{{getTaiChinh(item.type)}}</td>
                                                        <td>{{item.createdAt | date:'dd/MM/yyyy'}}</td>
                                                        <td class="sticky-ult">
                                                            <!-- tables.tableUlt -->
                                                            <div class="ult-wrap">
                                                                <!-- button.button -->
                                                                <a data-tooltip="tooltip" title=""
                                                                    href="quan-ly-tai-chinh/quan-ly-tai-chinh/{{ACTION.DUYET}}/{{item.id}}"
                                                                    class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                                                                    data-original-title="Thông tin">
                                                                    <div class="ubtn-inner">
                                                                        <i class="fa fa-info-circle"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                </a>
                                                                <!-- end button.button -->
                                                            </div>
                                                            <!-- end tables.tableUlt -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div>
                                            <pagination-controls id="server" [maxSize]="maxSizeTran"
                                                [autoHide]="autoHide" [responsive]="responsive"
                                                [previousLabel]="labelsTran.previousLabel"
                                                [nextLabel]="labelsTran.nextLabel"
                                                (pageChange)="searchTaiChinh($event)"></pagination-controls>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </app-common-tab>
                        <app-common-tab title="Khoản chi" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="common-table table-chuyen-tien" style="padding-top:1%">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Nội dung tài chính</th>
                                                        <th style="width: 80px;">Số tiền</th>
                                                        <th>Loại tài chính</th>
                                                        <th>Ngày cập nhật</th>
                                                        <th class="sticky-ult">
                                                            <a href="quan-ly-tai-chinh/quan-ly-tai-chinh/create">
                                                                <img src="assets/add.svg" alt="" class="icon" />
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTranChi">
                                                    <tr *ngFor="
                                      let item of asyncDataTranChi
                                        | paginate
                                          : {
                                              id: 'server',
                                              itemsPerPage: pageTrans.size,
                                              currentPage: pageTrans.curentPage,
                                              totalItems: totalTran
                                            };
                                      let i = index
                                    ">

                                                        <td class="stt">{{ getCurrentTranPageNumber(i + 1) }}</td>
                                                        <td>{{item.mota}}</td>
                                                        <td>
                                                            <div class="label-status-warning">
                                                                <p class="text-status-warning fs-14">{{item.quantity | number: '2.'}}</p>
                                                            </div>
                                                        </td>
                                                        <td >{{getTaiChinh(item.type)}}</td>
                                                        <td>{{item.createdAt | date:'dd/MM/yyyy'}}</td>
                                                        <td class="sticky-ult">
                                                            <!-- tables.tableUlt -->
                                                            <div class="ult-wrap">
                                                                <!-- button.button -->
                                                                <a data-tooltip="tooltip" title=""
                                                                    href="quan-ly-tai-chinh/quan-ly-tai-chinh/{{ACTION.DUYET}}/{{item.id}}"
                                                                    class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                                                                    data-original-title="Thông tin">
                                                                    <div class="ubtn-inner">
                                                                        <i class="fa fa-info-circle"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                </a>
                                                                <!-- end button.button -->
                                                            </div>
                                                            <!-- end tables.tableUlt -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div>
                                            <pagination-controls id="server" [maxSize]="maxSizeTran"
                                                [autoHide]="autoHide" [responsive]="responsive"
                                                [previousLabel]="labelsTran.previousLabel"
                                                [nextLabel]="labelsTran.nextLabel"
                                                (pageChange)="searchTaiChinh($event)"></pagination-controls>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </app-common-tab>
                    </app-common-tabs>
                </div>
            </app-common-tab>

        </app-common-tabs>

    </div>

</div>