<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-header">
    <div class="title-section">
      <div class="title1">Điều khoản dịch vụ</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Hỗ trợ</span>
        </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Điều khoản dịch vụ</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
</div>
<div class="mb-4 col-10" style="margin-left: 20px;">
    <div class="mb-4 container row">
        <div class="parent" *ngFor="let i of items">
            <div class="content" (click)="changeDropD(i)">
                <div class="icon">
                  <li class="fa-solid fa-chevron-circle-right" *ngIf="!i.isOpen" style="font-size: 20px; margin-right: 20px;"></li>
                  <li class="fa-solid fa-chevron-circle-down"  *ngIf="i.isOpen" style="font-size: 20px; margin-right: 20px;" ></li>
                </div>
                {{i.name}}</div>
            <div class="list" *ngIf="i.isOpen">
                <ul>
                    <li><a href="tien-ich/dieu-khoan-dich-vu/chi-tiet-dieu-khoan-dich-vu/{{i.id}}" style="color: blue;">Xem tại đây</a></li>
                </ul>
            </div>
        </div>
    </div> 
</div>