.container {
    padding: 5%;
    background: inherit;
    background-color: rgba(228, 240, 250, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(1, 89, 170, 1);
    border-radius: 5px;
  }