<div class="page-header">
  <div class="title-section">
    <div class="title">Thêm mới mã truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Chuyển tiền</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item">
        <span class="txt">Quản lý mã truy cập</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Lịch sử chỉnh sửa mã truy cập</span>
      </a>
    </div>
  </div>
  <div class="cskh-section">
    <div class="inline-block">
      <img src="assets/cskh-icon.svg" alt="" />
    </div>
    <div class="inline-block title">Dịch vụ khách hàng 24/7:</div>
    <div class="inline-block">
      <a href="tel:19001816" class="link link-style-default h3"> 1900 1816 </a>
    </div>
  </div>
</div>

<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="search(1)">
      <div class="row">
          <div class="form-group">
            <label class="label"> Khoảng thời gian </label>
            <div class="row">
              <div class="col-6">
                <input type="date" class="form-control" id="fromDate" placeholder="Từ" />
              </div>
              <div class="col-6">
                <input type="date" class="form-control" id="toDate" placeholder="Đến" />
              </div>
            </div>
          </div>
      </div>
      <div class="mt-3 justify-content-end">
        <button type="submit" class="btn btn-primary btn-icon">
          Tìm kiếm
        </button>
      </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-4">Người chỉnh sửa</div>
        <div class="col-md-6">{{cust.code}}</div>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <th class="stt">STT</th>
          <th>Thời gian</th>
          <th>Hành động</th>
          <th class="fix fix-right">
            <div class="fixed-column">Thao tác</div>
          </th>
        </thead>
        <tbody *ngIf="asyncData">
          <tr
            *ngFor="
              let item of asyncData
                | paginate
                  : {
                      id: 'server',
                      itemsPerPage: page.size,
                      currentPage: page.curentPage,
                      totalItems: total
                    };
              let i = index
            "
          >
            <td class="stt">{{ getCurrentPageNumber(i + 1) }}</td>
            <td></td>
            <td></td>
            <!--<td>{{ item.fullname }}</td>
            <td>{{ item.username }}</td>-->
            <td class="fix fix-right">
              <div class="fixed-column">
                <a
                  class="fixed-icon flex-center"
                  (click)="openModalDetail(item)"
                >
                  <span class="material-symbols-outlined"> info </span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      id="server"
      [maxSize]="maxSize"
      [autoHide]="autoHide"
      [responsive]="responsive"
      [previousLabel]="labels.previousLabel"
      [nextLabel]="labels.nextLabel"
      (pageChange)="search($event)"
    ></pagination-controls>
</div>

<!--Modal detail ma truy cap-->
<app-modal
  [isOpen]="showModalDetail"
  (closeEvent)="closeModal($event)"
  [sizeModal]="'lg'"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal($event)">OK</button>
      </div>
  </app-modal>