<footer class="footer main-footer">
  <div class="footer-inner">
    <div
      class="row align-items-center justify-content-center list-mb16 list-crop"
    >
      <div class="col-sm">
        <div class="row row-8 align-items-center">
          <div class="inline-block">
            <div class="p3 color-text-secondary-dark">
              Đăng nhập gần nhất 16:40 24/4/2021
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-auto">
        <div class="p3 footer-company">
          Ngân hàng thương mại TNHH MTV Xây dựng Việt Nam
        </div>
      </div>
    </div>
  </div>
</footer>
