<div class="page-header">
    <div class="title-section">
        <div class="title">Quản lý hoạt động</div>
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Trang chủ</span>
            </a>
            <span class="dot">/</span>
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Quản lý hoạt động</span>
            </a>
            <span class="dot">/</span>
            <a class="breadcrumbs-item breadcrumbs-item--active">
                <span class="txt">Chi tiết hoạt động</span>
            </a>
        </div>
    </div>
</div>

<div class="common-card mb-32">
    <div class="position-relative">
        <app-common-tabs>
            <app-common-tab title="Thông tin hoạt động" [bodyClass]="'tab-gdcd'">
                <div class="tab-content">
                    <app-common-tabs class="w-100" [bodyClass]="'tabs-chuyen-tien'">
                        <app-common-tab title="Thông tin hoạt động" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="mb-4">
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Tên hoạt động</div>
                                        <div class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="activities.ma" />
                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Loại hoạt động</div>
                                        <div class="col-3 primary-text">
                                            <div class="select-wrapper">
                                                <ng-select [items]="ACTIVITIESTYPE" bindLabel="name" bindValue="value"
                                                    required [(ngModel)]="activities.type"></ng-select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Ngày diễn ra</div>
                                        <div class="col-3 primary-text">
                                            <div class="input-group date-style">
                                                <input placeholder="dd/mm/yyyy" class="form-control" name="dp2"
                                                    ngbDatepicker appDate #e="ngbDatepicker"
                                                    [(ngModel)]="activities.startDate" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary fas fa-calendar-alt"
                                                        (click)="e.toggle()" type="button"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Số lượng TV tham gia tối đa</div>
                                        <div class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="activities.memberRequire" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row-tv">

                                        <div class="col-2 primary-label text-center">Mô tả</div>
                                        <div class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <textarea class="textarea-autosize" rows="1"
                                                    [(ngModel)]="activities.mota" autocorrect="off" spellcheck="false"
                                                    maxlength="300" style="
              overflow: hidden;
              overflow-wrap: break-word;
              resize: none;
              height: 96px;
              width: 100%;
              border: none;
              outline: none;
            "></textarea>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </app-common-tab>
                        <app-common-tab title="Danh sách tham gia" [bodyClass]="'tab-chuyen-tien'"
                            *ngIf="this.action == FwAction.DETAIL">
                            <div class="tab-content">
                                <div class="common-table table-chuyen-tien" style="padding-top:1%">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>STT</th> -->
                                                        <th>Tên thành viên</th>
                                                        <th>Thành tích/Vi phạm</th>
                                                        <th>Mô tả</th>
                                                        <th class="sticky-ult">
                                                            <a
                                                                href="quan-ly-hoat-dong/quan-ly-hoat-dong/{{id}}/thanhvien/award/create">
                                                                <img src="assets/add.svg" alt="" class="icon" />
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTran2">
                                                    <tr *ngFor="
                                      let item of asyncDataTran2
                                        | paginate
                                          : {
                                              id: 'server2',
                                              itemsPerPage: pageTrans2.size,
                                              currentPage: pageTrans2.curentPage,
                                              totalItems: totalTran2
                                            };
                                      let i = index
                                    ">

                                                        <!-- <td class="stt">{{ getCurrentTran2PageNumber(i + 1) }}</td> -->
                                                        <td>{{item.members?.fullname}}</td>
                                                        <td>{{getAward(item.award)}}</td>
                                                        <td>{{item.mota}}</td>
                                                        <td class="sticky-ult">
                                                            <!-- tables.tableUlt -->
                                                            <div class="ult-wrap">
                                                                <!-- button.button -->
                                                                <a data-tooltip="tooltip" title=""
                                                                    href="quan-ly-hoat-dong/quan-ly-hoat-dong/{{id}}/thanhvien/award/detail/{{item.id}}"
                                                                    class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                                                                    data-original-title="Thông tin">
                                                                    <div class="ubtn-inner">
                                                                        <i class="fa fa-info-circle"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                </a>
                                                                <!-- end button.button -->
                                                            </div>
                                                            <!-- end tables.tableUlt -->
                                                        </td>
                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </app-common-tab>
                        <app-common-tab title="Phân công nhiệm vụ" [bodyClass]="'tab-chuyen-tien'"
                            *ngIf="this.action == FwAction.DETAIL">
                            <div class="tab-content">
                                <div class="common-table table-chuyen-tien" style="padding-top:1%">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>STT</th> -->
                                                        <th>Tên thành viên</th>
                                                        <th>Công việc được giao</th>
                                                        <th>Trạng thái</th>
                                                        <th class="sticky-ult">
                                                            <a
                                                                href="quan-ly-hoat-dong/quan-ly-hoat-dong/{{id}}/thanhvien/mission/create">
                                                                <img src="assets/add.svg" alt="" class="icon" />
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTran">
                                                    <tr *ngFor="
                                      let item of asyncDataTran
                                        | paginate
                                          : {
                                              id: 'server',
                                              itemsPerPage: pageTrans.size,
                                              currentPage: pageTrans.curentPage,
                                              totalItems: totalTran
                                            };
                                      let i = index
                                    ">

                                                        <!-- <td class="stt">{{ getCurrentTranPageNumber(i + 1) }}</td> -->
                                                        <td>{{item.members?.fullname}}</td>
                                                        <td>{{item.mission}}</td>
                                                        <td>{{getMissionStatus(item.missionStatus)}}</td>
                                                        <td class="sticky-ult">
                                                            <!-- tables.tableUlt -->
                                                            <div class="ult-wrap">
                                                                <!-- button.button -->
                                                                <a data-tooltip="tooltip" title=""
                                                                    href="quan-ly-hoat-dong/quan-ly-hoat-dong/{{id}}/thanhvien/mission/detail/{{item.id}}"
                                                                    class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                                                                    data-original-title="Thông tin">
                                                                    <div class="ubtn-inner">
                                                                        <i class="fa fa-info-circle"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                </a>
                                                                <!-- end button.button -->
                                                            </div>
                                                            <!-- end tables.tableUlt -->
                                                        </td>
                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </app-common-tab>

                    </app-common-tabs>
                </div>
            </app-common-tab>

        </app-common-tabs>

    </div>
    <div class="row" style=" display: flex; justify-content: space-around; ">
        <div class="col-3">
            <button type="button" class="btn btn-cancel" (click)="return()">
                Quay lại
            </button>
        </div>

        <div *ngIf="this.action == FwAction.CREATE" class="col-3">
            <button type="button" class="btn btn-allow" (click)="createActivities()">
                Tạo
            </button>
        </div>

        <div *ngIf="this.action == FwAction.DETAIL" class="col-3">
            <button type="button" class="btn btn-allow" (click)="updateActivities()">
                Cập nhật
            </button>
        </div>
    </div>
</div>