.text-truncate__des {
      margin-top: 12px;
}

.ubg-liner {
      background: linear-gradient(86.14deg, #F3CC45 -5.23%, #FDA601 92.77%);
}

.box-tong-so-du {
      position: relative;
}

.bg-img-abs {
      position: absolute;
      width: 120.39px;
      height: 124.91px;
      right: 0;
      top: 0;
}

.box-tong-so-du .title {
      color: #363E46;
      font-weight: 500;
      font-size: 16px;
}

.box-tong-so-du .box__body.list-mb24.list-last-mb {
      position: relative;
      z-index: 1;
}

.box-tong-so-du .input-eye {
      background-image: url(/assets/eye-icon.svg);
      background-repeat: no-repeat;
      background-size: 24px;
}

.box-cac-lenh-cho-duyet .title {
      color: #20262C;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
}

.box-tra-cuu__content {
      display: flex;
      align-items: center;
      justify-content: center
}

.box-tra-cuu__content .box__body {
      display: flex;
      align-items: center;
      justify-content: center;
}

.box-tra-cuu__content .box__body .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.003em;
      color: #20262C;
      margin-left: 8px;
}

.box-tra-cuu__content>a:nth-child(1) {
      margin-right: 5px;
      padding: 8px;
}

.box-tra-cuu__content>a:nth-child(2) {
      margin-left: 5px;
      padding: 8px;
}

.box-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
}

.box-header .box-header__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #15334A;
}

.list-link-arrow>.border-item {
      font-weight: 500;
      font-size: 16px;
      color: #20262C !important;
}

.ic-bg {
      width: 48px;
      height: 48px;
      background: #D9E6F2;
      border-radius: 50%;
      padding: 12px;
      gap: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
}

::-webkit-scrollbar {
      width: 6px;
      height: 6px;
}