<div class="page-header">
  <div class="title-section">
    <div class="title">Quản lý mã truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Chuyển tiền</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Quản lý mã truy cập</span>
      </a>
    </div>
  </div>
  <div class="cskh-section">
    <div class="inline-block">
      <img src="assets/cskh-icon.svg" alt="" />
    </div>
    <div class="inline-block title">Dịch vụ khách hàng 24/7:</div>
    <div class="inline-block">
      <a href="tel:19001816" class="link link-style-default h3"> 1900 1816 </a>
    </div>
  </div>
</div>
<div class="common-card mb-32">
  <div class="row">
    <div class="col-sm-6">
      <p class="common-card__header">Danh sách mã truy cập</p>
    </div>
    <div class="col-sm-6">
      <div class="box-btn-add">
        <div class="btn-detail btn-style-3">
          <button type="button" class="button-icon" routerLink="./them-ma-truy-cap">
            <span class="material-symbols-outlined fs-14"> add_circle </span>
            <p class="fs-16 fw__400">Thêm mới</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 pd-right">
      <p class="text-color-grey fw__500 pb-6">Mã truy cập</p>
      <div>
        <div class="select-wrapper">
          <ng-select [items]="codes" (change)="search(1)" bindLabel="name" [(ngModel)]="custSearch.code" required></ng-select>
        </div>
      </div>
    </div>
    <div class="col-sm-2 pd-right">
      <p class="text-color-grey fw__500 pb-6">Số điện thoại</p>
      <div>
        <div class="select-wrapper">
          <ng-select
            [items]="tels"
            (change)="search(1)"
            bindLabel="name"
            [(ngModel)]="custSearch.tel"
            required
          ></ng-select>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pd-right">
      <p class="text-color-grey fw__500 pb-6">Email</p>
      <div>
        <div class="select-wrapper">
          <ng-select [items]="emails" (change)="search(1)" bindLabel="name" [(ngModel)]="custSearch.email" required></ng-select>
        </div>
      </div>
    </div>
    <div class="col-sm-2 pd-right">
      <p class="text-color-grey fw__500 pb-6">Trạng thái</p>
      <div>
        <div class="select-wrapper">
          <ng-select [items]="status" (change)="search(1)" bindLabel="name" [(ngModel)]="custSearch.status" required></ng-select>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="asyncData">
  <div *ngFor="let item of asyncData; let i = index">
    <!--Row 1 start-->
    <div class="common-card__line"></div>
    <!---->
    <div class="row p-16">
      <div class="col-sm-5">
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">Mã truy cập</p>
          <div class="fw__600 fs-16">{{  item?.code}}</div>
        </div>
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">Vai trò</p>
          <div class="fw__500 fs-16 text-color-blue">{{genPositon(item?.position)}}</div>
        </div>
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">Số điện thoại</p>
          <div class="fw__400 fs-16">{{item?.tel}}</div>
        </div>
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">Email</p>
          <div class="fw__400 fs-16">{{item?.email}}</div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">Trạng thái</p>
          <div>
            <div *ngIf="item.status == custStatus.HOATDONG" class="label-status-succes">
              <p class="text-status-success fs-14">Hoạt động</p>
            </div>
            <div *ngIf="item.status == custStatus.KHOA" class="label-status-error">
              <p class="text-status-error fs-14">Khóa</p>
            </div>
            <div *ngIf="item.status == custStatus.HUY" class="label-status-default">
              <p class="text-status-default fs-14">Hủy</p>
            </div>
            <div *ngIf="item.status == custStatus.CHOKICHHOAT" class="label-status-warning">
              <p class="text-status-warning fs-14">Chờ kích hoạt</p>
            </div>
          </div>
        </div>
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">SMS Banking</p>
          <div>
            <div *ngIf="item.sms == '1'" class="label-status-succes">
              <p class="text-status-success fs-14">Bật</p>
            </div>
            <div *ngIf="item.sms == '0'" class="label-status-error">
              <p class="text-status-error fs-14">Tắt</p>
            </div>
          </div>
        </div>
        <div class="row-item mb-20">
          <p class="fw__400 fs-16 text-color-grey">Nhận thông báo số dư</p>
          <div>
            <div *ngIf="item.notification == '1'" class="label-status-succes">
              <p class="text-status-success fs-14">Bật</p>
            </div>
            <div *ngIf="item.notification == '0'" class="label-status-error">
              <p class="text-status-error fs-14">Tắt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div
          class="btn btn-action"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-symbols-outlined">more_horiz</span>
        </div>
        <div
          class="dropdown-menu dropdown-custom"
          aria-labelledby="dropdownMenuLink"
        >
          <a class="dropdown-item" routerLink="./sua-ma-truy-cap/{{item.id}}">
            <div class="flex">
              <img src="../assets/Vector.png" alt="" class="ic-default" />
              <p class="text-action">Chỉnh sửa</p>
            </div>
          </a>
          <a *ngIf="item.status == custStatus.HOATDONG" class="dropdown-item" (click)="openModalCustKhoa(item)">
            <div class="flex">
              <img src="../assets/Lock.png" alt="" class="ic-default" />
              <p class="text-action">Khóa mã</p>
            </div>
          </a>
          <a *ngIf="item.status == custStatus.KHOA" class="dropdown-item" (click)="openModalCustMoKhoa(item)">
            <div class="flex">
              <img src="../assets/Lock.png" alt="" class="ic-default" />
              <p class="text-action">Mở khóa mã</p>
            </div>
          </a>
          <a *ngIf="item.status == custStatus.KHOA" class="dropdown-item" (click)="openModalCustHuy(item)">
            <div class="flex">
              <img src="../assets/Lock.png" alt="" class="ic-default" />
              <p class="text-action">Hủy mã</p>
            </div>
          </a>
          <a class="dropdown-item" (click)="openModalCustSms(item)">
            <div *ngIf="item.sms == YesNo.YES" class="flex">
              <img src="../assets/EnvelopeSimple.png" alt="" class="ic-default" />
              <p class="text-action">Ngừng SMS</p>
            </div>
            <div *ngIf="item.sms != YesNo.YES" class="flex">
              <img src="../assets/EnvelopeSimple.png" alt="" class="ic-default" />
              <p class="text-action">Bật SMS</p>
            </div>
          </a>
          <a class="dropdown-item" (click)="openModalCustNoti(item)">
            <div *ngIf="item.notification == YesNo.YES" class="flex">
              <img src="../assets/BellSimpleSlash.png" alt="" class="ic-default" />
              <p class="text-action">Tắt thông báo</p>
            </div>
            <div *ngIf="item.notification != YesNo.YES" class="flex">
              <img src="../assets/BellSimpleSlash.png" alt="" class="ic-default" />
              <p class="text-action">Bật thông báo</p>
            </div>
          </a>
          <a class="dropdown-item" routerLink="./ls-chinh-sua-ma-truy-cap/{{item.id}}">
            <div class="flex">
              <img src="../assets/TrashSimple.png" alt="" class="ic-default" />
              <p class="text-action">Lịch sử chỉnh sửa</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--Row 1 end-->
  
  </div>
  
  <div class="common-card__line"></div>
  <!--<pagination-controls id="server" [maxSize]="maxSize" [autoHide]="autoHide" [responsive]="responsive"
      [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
      (pageChange)="search($event)"></pagination-controls>-->
</div>
</div>

<!--Modal trang thai ma truy cap-->
<app-modal
  [isOpen]="showModalCustKhoa"
  (closeEvent)="closeModal($event)"
  [sizeModal]="'lg'"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label>Bạn có chắc chắn muốn khóa mã truy cập này không?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateStatus(custStatus.KHOA)">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAllModal()">Hủy</button>
      </div>
</app-modal>

<!--Modal trang thai ma truy cap-->
<app-modal
  [isOpen]="showModalCustMoKhoa"
  (closeEvent)="closeModal($event)"
  [sizeModal]="'lg'"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label>Bạn có chắc chắn muốn mở khóa mã truy cập này không?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateStatus(custStatus.HOATDONG)">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAllModal()">Hủy</button>
      </div>
</app-modal>

<!--Modal trang thai ma truy cap-->
<app-modal
  [isOpen]="showModalCustHuy"
  (closeEvent)="closeModal($event)"
  [sizeModal]="'lg'"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label>Bạn có chắc chắn muốn hủy mã truy cập này không?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateStatus(custStatus.HUY)">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAllModal()">Hủy</button>
      </div>
</app-modal>


<!--Modal sms ma truy cap-->
<app-modal
  [isOpen]="showModalCustSms"
  (closeEvent)="closeModal($event)"
  [sizeModal]="'lg'"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label *ngIf="cust.sms != YesNo.YES">Bạn có chắc chắn muốn bật sms mã truy cập này không?</label>
          <label *ngIf="cust.sms == YesNo.YES">Bạn có chắc chắn muốn tắt sms mã truy cập này không?</label>
      </div>
      <div class="modal-footer">
        <button *ngIf="cust.sms != YesNo.YES" type="button" class="btn btn-primary" (click)="updateSms(YesNo.YES)">Đồng ý</button>
        <button *ngIf="cust.sms == YesNo.YES" type="button" class="btn btn-primary" (click)="updateSms(YesNo.NO)">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAllModal()">Hủy</button>
      </div>
</app-modal>


<!--Modal notification ma truy cap-->
<app-modal
  [isOpen]="showModalCustNoti"
  (closeEvent)="closeModal($event)"
  [sizeModal]="'lg'"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label *ngIf="cust.notification != YesNo.YES">Bạn có chắc chắn muốn bật thông báo mã truy cập này không?</label>
          <label *ngIf="cust.notification == YesNo.YES">Bạn có chắc chắn muốn tắt thông báo mã truy cập này không?</label>
      </div>
      <div class="modal-footer">
        <button *ngIf="cust.notification != YesNo.YES"  type="button" class="btn btn-primary" (click)="updateNotification(YesNo.YES)">Đồng ý</button>
        <button *ngIf="cust.notification == YesNo.YES" type="button" class="btn btn-primary" (click)="updateNotification(YesNo.NO)">Đồng ý</button>
        <button type="button" class="btn btn-secondary" (click)="closeAllModal()">Hủy</button>
      </div>
  </app-modal>