.box-btn-add {
  display: flex;
  justify-content: flex-end;
}

.button-icon {
  display: flex;
  justify-content: space-between;
}

.btn-add {
  background: #015aab;
  width: 30%;
}

.btn-detail {
  width: 132px;
  height: 40px;
  display: grid;

  button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.btn-style-3 {
  button {
    color: #fff;
  }

  padding: 8px 16px;
  background-color: #015aab;
  border-radius: 8px;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #fafafa;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 10%);
  border-radius: 32px;
  float: right;
}

.row-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.label-status-succes {
  padding: 4px 12px;
  background: rgba(86, 171, 1, 0.2);
  border-radius: 16px;
}

.text-status-success {
  color: #56ab01;
}

.label-status-error {
  padding: 4px 12px;
  background: rgba(213, 1, 1, 0.2);
  border-radius: 16px;
}

.text-status-error {
  color: #d50101;
}

.label-status-warning {
  padding: 4px 12px;
  background: rgba(213, 121, 1, 0.2);
  border-radius: 16px;
}

.text-status-warning {
  color: #ff6600;
}

.label-status-default {
  padding: 4px 12px;
  background: rgba(192, 192, 192, 0.2);
  border-radius: 16px;
}

.text-status-default {
  color: #949393;
}

.dropdown-custom {
  width: 200px;
  // height: 300px;
  left: 1531px;
  top: 221px;
  background: #fafafa;
  border-radius: 12px;
}

.dropdown-item {
  padding: 12px;
  gap: 4px;
  width: 176px;
  height: 48px;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.flex {
  display: flex;
}
.ic-default {
  margin-left: 10px;
}
.text-action {
  margin-left: 10px;
}

.pd-right {
  padding-right: 0px !important;
}

.modal-footer button {
  float: right;
}
