.login-wrap {
      max-width: 720px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column
}

.login {
      background-color: #fafafa;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      padding: 32px;
      min-height: 100vh;
}

.login-header .login-header__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 38px;
      color: #20262C;
}

.login-header .login-header__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #727374;
}

.login-content {
      width: 100%;
}

.login-form {
      width: 360px;
      max-width: 100%;
      padding: 64px 32px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      background-color: #FFFFFF;
      border-radius: 12px;
}

.login-form .login-header,
.login-form .login-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
}

.login-bg {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
}

.login-bg::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(/assets/bg-login.svg);
}

.form__label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #363E46;
}

.form__input {
      padding: 10px 14px;
      border: 1px solid #C0C2C3;
      filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
      border-radius: 8px;
}

.input__ma-kiem-tra {
      background: #5691C7;
      color: #fff;
      text-align: center;
}

.form__txt {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #727374 !important;
}

.form-btn__submit {
      padding: 10px 18px;
      background: #0c4f89;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
}

.login-footer__option {
      font-weight: 500;
      color: #727374;
      cursor: pointer;
}

.mb-6 {
      margin-bottom: 6px;
}


.login-wrap {
      max-width: 100%
}

.login {
      border-radius: 20px 20px 0 0;
      margin-top: -20px;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      padding: 24px;
      background-image: url(/assets/bg.jpg);
      height: 100%;

  /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.login-bg {
      position: relative
}

.login-bg,
.login-bg::after {
      height: 30vh;
      max-height: 240px
}




img {
      max-width: 30%;
      display: inline-block;
      vertical-align: middle;
      /* height: auto; */
}