<div class="login d-flex">
  <div></div>
  <div class="login-form">
    <header class="login-header">
      <img src="assets/clb-image.jpg" alt="" />
      <div class="login-header__title">Quản lý CLB FIT MEDIA</div>
      <div class="login-header__subtitle">Xin hãy đăng nhập!</div>
    </header>

    <div class="login-content from-section form-vertical">
      <form class="w-100" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-20">
          <label for="username" class="form__label mb-6">Tên đăng nhập</label>
          <input type="text" class="form-control form__input" id="username" aria-describedby="username"
            placeholder="Nhập tên đăng nhập" [(ngModel)]="loginRequest.username" name="username"
            formControlName="username" />
          <span *ngIf="isSubmit && loginForm.controls.username?.errors?.['required']" class="text-danger rq-input">{{
            'thongtinbatbuoc' | i18n: i18nService.currentLanguage }}</span>

        </div>
        <div class="form-group mb-20">
          <label for="password" class="form__label mb-6">Mật khẩu</label>
          <input type="password" class="form-control form__input" id="password" placeholder="Nhập mật khẩu"
            [(ngModel)]="loginRequest.password" name="password" formControlName="password" />
          <span *ngIf="isSubmit && loginForm.controls.password?.errors?.['required']" class="text-danger rq-input">{{
            'thongtinbatbuoc' | i18n: i18nService.currentLanguage }}</span>
        </div>
        <button type="submit" class="btn form-btn__submit w-100 mb-24">
          Đăng nhập
        </button>

      </form>
    </div>
  </div>

</div>