<div class="form-group">
    <div class="row list-mb8 list-crop">
        <div class="col-sm-12">
            <div class="input-group-wrap input-default input-size-default input-group-horizontal">
                <label class="input-inner-wrap">
                    <input type="" [(ngModel)]="custContactSearch.keyWord" class="input input-label-change input-has-clear"
                        placeholder="Tìm kiếm danh bạ..." autocorrect="off" (keyup)="search(1)"/>
                    <div class="input-extend input-extend-right" (click)="search(1)">
                        <div class="input-box input-ic-clear"></div>
                        <div class="input-box input-ic">
                            <img src="assets/icon-search.svg" alt="" class="ic-default" />
                        </div>
                    </div>
                    <div class="input-frame"></div>
                </label>
            </div>
            <div class="errorBlock"></div>
        </div>
    </div>
</div>
<div *ngIf="asyncData" class="list-border list-border-size-default list-border-select" style="max-height: 270px;overflow: auto;">
    <label *ngFor="let item of asyncData" class="border-item">
        <input type="radio" name="listSelect1" class="hidden close-modal" (click)="selected(item)"/>
        <div class="inner">
            <div class="title p1">{{item.sortname}}</div>
            <div class="sub-title color-text-secondary-dark">{{item.receiveAccount}}</div>
        </div>
    </label>
</div>
