<div class="page-header">
    <div class="title-section">
        <div class="title">Quản lý hoạt động</div>
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Trang chủ</span>
            </a>
            <span class="dot">/</span>
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Quản lý hoạt động</span>
            </a>
            <span class="dot">/</span>
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Chi tiết hoạt động</span>
            </a>
            <span class="dot">/</span>
            <a class="breadcrumbs-item breadcrumbs-item--active">
                <span class="txt">Chi tiết thành viên của hoạt động</span>
            </a>
        </div>
    </div>
</div>

<div class="common-card mb-32">
    <div class="position-relative">
        <app-common-tabs>
            <app-common-tab title="Thông tin thành viên tham gia" [bodyClass]="'tab-gdcd'">
                <div class="tab-content">
                    <app-common-tabs class="w-100" [bodyClass]="'tabs-chuyen-tien'">
                        <app-common-tab title="Thông tin chi tiết" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="mb-4">
                                    <div class="row row-tv">
                                        <div *ngIf="this.type != 'mission'" class="col-2 primary-label text-center">
                                            Thành viên</div>
                                        <div *ngIf="this.type != 'mission'" class="col-3 primary-text">
                                            <div class="select-wrapper">
                                                <ng-select [items]="members" bindLabel="fullname" required
                                                    [(ngModel)]="activitiesMembers.members"></ng-select>
                                            </div>
                                        </div>


                                        <div *ngIf="this.type == 'mission'" class="col-2 primary-label text-center">
                                            Thành viên</div>
                                        <div *ngIf="this.type == 'mission'" class="col-3 primary-text">
                                            <div class="select-wrapper">
                                                <ng-select [items]="membersActivites" bindLabel="fullname" required
                                                    [(ngModel)]="activitiesMembers.members"></ng-select>
                                            </div>
                                        </div>

                                        <div *ngIf="this.type != 'mission'" class="col-2 primary-label text-center">
                                            Thành tích</div>
                                        <div *ngIf="this.type != 'mission'" class="col-3 primary-text">
                                            <div class="select-wrapper">
                                                <ng-select [items]="ACTIVITIESTYPE" bindLabel="name" bindValue="value"
                                                    required [(ngModel)]="activitiesMembers.award"></ng-select>
                                            </div>
                                        </div>

                                        <div *ngIf="this.type == 'mission'" class="col-2 primary-label text-center">
                                            Trạng thái</div>
                                        <div *ngIf="this.type == 'mission'" class="col-3 primary-text">
                                            <div class="select-wrapper">
                                                <ng-select [items]="MISSIONSTATUS" bindLabel="name" bindValue="value" [clearable]="false"
                                                    required [(ngModel)]="activitiesMembers.missionStatus"></ng-select>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row row-tv">
                                        <div *ngIf="this.type == 'mission'" class="col-2 primary-label text-center">
                                            Nhiệm vụ</div>
                                        <div *ngIf="this.type == 'mission'" class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <textarea class="textarea-autosize" rows="1"
                                                    [(ngModel)]="activitiesMembers.mission" autocorrect="off"
                                                    spellcheck="false" maxlength="100" style="
              overflow: hidden;
              overflow-wrap: break-word;
              resize: none;
              height: 96px;
              width: 100%;
              border: none;
              outline: none;
            "></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row row-tv">
                                        <div *ngIf="this.type != 'mission'" class="col-2 primary-label text-center">
                                            Mô tả</div>
                                        <div *ngIf="this.type != 'mission'" class="col-3 primary-text">
                                            <div class="input-wrapper">
                                                <textarea class="textarea-autosize" rows="1"
                                                    [(ngModel)]="activitiesMembers.mota" autocorrect="off"
                                                    spellcheck="false" maxlength="100" style="
              overflow: hidden;
              overflow-wrap: break-word;
              resize: none;
              height: 96px;
              width: 100%;
              border: none;
              outline: none;
            "></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </app-common-tab>

                    </app-common-tabs>
                </div>
            </app-common-tab>

        </app-common-tabs>

    </div>
    <div class="row" style=" display: flex; justify-content: space-around; ">
        <div class="col-3">
            <button type="button" class="btn btn-cancel" (click)="return()">
                Quay lại
            </button>
        </div>

        <div *ngIf="this.action == FwAction.CREATE" class="col-3">
            <button type="button" class="btn btn-allow" (click)="createAwardMembers()">
                Tạo
            </button>
        </div>

        <div *ngIf="this.action == FwAction.DETAIL" class="col-3">
            <button type="button" class="btn btn-allow" (click)="updateActivitiesMembers()">
                Cập nhật
            </button>
        </div>
    </div>
</div>