.filter {
      position: relative;
      top: 0;
      right: 20px;
      padding: 5px 15px;
      border: 1px solid #C0C2C3;
      border-radius: 6px;
}

.filterForm-label {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, .56);
      margin-bottom: 3px;
}

.filter-inline {
      padding-left: 20%;
}

.form-group {
      padding-top: 5%;
}

.tab-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 32px;
      gap: 24px;
}

.chuyen-tien__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #727374;
}


/* AUTHOR: HUONGPT */
/* BEGIN */
/* .table-responsive {
      overflow: visible
}

.table-responsive>.table-wrap-inner {
      overflow: auto
}

.table-responsive>.table-wrap-inner thead tr {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: #F4F5F6;
      z-index: 2
}

.table-responsive>.table-wrap-inner>.table-main td,
.table-responsive>.table-wrap-inner>.table-main th {
      white-space: nowrap
}

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-corner {
      background-color: #171c1f
} */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar {
      height: 12px
} */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
      background-color: #171c1f
} */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb {
      background-color: #C0C2C3;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box
} */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb:hover {
      background-color: #3b474e
} */

/* .table-vertical-scroll>.table-wrap-inner {
      max-height: 540px;
      position: relative;
      border: 1px solid #EAEBEC;
      box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
      border-radius: 8px;
} */

/* .table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>th,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>th {
      border-top: 0
} */

/* .table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:first-child {
      border-left: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:last-child {
      border-right: 0
}

.table-main {
      min-width: 100%
}

.table-main th {
      text-transform: capitalize;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #727374;
} */

/* .table-main td,
.table-main th {
      padding: 9px 12px;
      /* border: 1px solid rgba(255, 255, 255, .12); */
/* border-bottom: 1px solid #EAEBEC; */
/* } */

/* .table-strip>tbody>tr:hover {
      background-color: #171c1f !important
} */

/* .table-strip>tbody>tr:hover .sticky-ult {
      background-color: #171c1f !important
} */

/* .table-strip>tbody>tr:nth-of-type(odd) {
      background-color: #2d373d
  } */

/* .table-strip>tbody>tr:nth-of-type(odd) .sticky-ult {
      background-color: #2d373d
  } */

/* .table-strip.sticky-rnc>tbody>tr:hover .checkbox-cell {
      background-color: #171c1f !important
} */

/* .table-strip.sticky-rnc>tbody>tr:nth-of-type(odd) .checkbox-cell {
      background-color: #2d373d
} */

/* .table-sticky-ult {
      border-collapse: separate;
      border-spacing: 0;
} */

/* .table-sticky-ult td,
  .table-sticky-ult th {
      border-bottom: 0
  } */

/* .table-sticky-ult td:not(:last-child),
.table-sticky-ult th:not(:last-child) {
      border-right: 0
}

.table-simple td,
.table-simple th {
      border-left: 0;
      border-right: 0;
      padding-left: 0;
      padding-right: 0
}

.table-simple th {
      border-top: 0
}

.table-equal {
      table-layout: fixed
}

.table-equal .cell-long {
      min-width: 0 !important
}

.table-space-lg td,
.table-space-lg th {
      padding-top: 12px;
      padding-bottom: 12px
}

.cell-long {
      white-space: normal !important
} */

/* .sticky-ult {
      position: -webkit-sticky;
      position: sticky;
      right: 0; */
/* background-color: #242c30; */
/* -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .16); */
/* box-shadow: -2px 0 4px rgba(0, 0, 0, .16); */
/* text-align: center;
} */

/* .sticky-rnc .checkbox-cell {
      position: -webkit-sticky;
      position: sticky;
      left: 0; */
/* background-color: #242c30; */
/* -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, .16); */
/* box-shadow: 2px 0 4px rgba(0, 0, 0, .16); */
/* text-align: right;
      z-index: 10
} */

/* td.sticky-ult {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      padding-right: 8px
} */

/* .ult-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  } */

/* .right-none .sticky-ult {
      -webkit-box-shadow: none;
      box-shadow: none
}

.record-and-pagination {
      margin-top: 16px
}

.table-wrap-inner-footer {
      padding: 16px 0;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      overflow: hidden
}

.table-main tr.error>td {
      background-color: #351719 !important
}

.table-strip>tbody>tr.error:hover>td {
      background-color: #2b1618 !important
}

td {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #727374;
      height: 72px;
      padding: 0 16px;
      vertical-align: middle;
      text-align: center;
}

th.sticky-ult {
      background: #F4F5F6;
}

td.sticky-ult {
      background-color: #FAFAFA;
} */




/* END */

.ngx-pagination {
      margin-left: 0;

      justify-content: center;
      display: inline-table;
}

.ngx-pagination .current {
      padding: .1875rem .625rem;
      background: #b6bbc1 !important;
      color: #fefefe;
      cursor: default;
      border-radius: 8px;
}

.a:not([href]):not([class]),
a:not([href]):not([class]):hover {
      color: inherit;
      text-decoration: none;
      border-radius: 8px;
}

.container {
      padding: 2%;
      background: inherit;
      background-color: #fafafa;
      border-radius: 5px;
      box-sizing: border-box;
      border-width: 0px;
      border-style: solid;
      border-color: rgba(1, 89, 170, 1);
      box-shadow: 0px 0px 32px rgba(151, 156, 168, 0.5);
}


.blue-txt {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      color: #0159AA;
}

/*  */
.roboto-normal-w400-z16-lh20 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
}

.roboto-normal-w400-z16-lh24 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
}

.roboto-normal-w500-z16-lh20 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
}

.roboto-normal-w500-z20-lh20 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
}

.color-363E46 {
      color: #363E46;
}

.color-015AAB {
      color: #015AAB;
}

.color-17191B {
      color: #17191B;
}

.color-727374 {
      color: #727374;
}

.common-card .row-data>.col-6:nth-child(odd)>* {
      text-align: left;
}

.common-card .row-data .col-6:nth-child(even)>* {
      text-align: right;
}

.row-data-right {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: end;
      margin-bottom: 5px;
}

.button-outline {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 148px;
      height: 44px;
      border: 1px solid #C0C2C3;
      filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
      border-radius: 8px;
}

.common-card-body {
      display: flex;
      flex-direction: column;
      gap: 16px;
}

.border-bottom-div {
      border-bottom: 1px solid #abb4bb;
}


.txt-orange {
      color: #F59A23;
}


.date-style {
      position: relative;
}

.date-style .input-group-append {
      position: absolute;
      right: 0px;
      height: 100%;
}

.date-style .input-group-append .btn {
      height: 100%;
}

.btn-search {
      padding: 12px 20px;
      width: 150px;
      background: #fda601;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
}

.btn-filter {
      padding: 14px 18px;
      width: 150px;
      border: 1px solid #fda601;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #fda601;
}

.box-white {
      border-width: 0px;
      background-color: #fafafa;
      padding: 0px;
}


/*  */