<div class="page-header">
  <div class="title-section">
    <div class="title">Quản lý thành viên</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Quản lý thành viên</span>
      </a>
    </div>
  </div>
</div>

<div class="common-card">
  <div class="position-relative">
    <div class="mb-4">
      <div class="row mb-3">
        <div class="col-3">
          <label class="mb-1">Tên thành viên</label>
          <div class="select-wrapper">
            <input [(ngModel)]="membeRequest.fullname" (blur)="search(1)" />
          </div>
        </div>
        <div class="col-3">
          <label class="mb-1">Khóa</label>
          <div class="select-wrapper">
            <input [(ngModel)]="membeRequest.schoolYear" (blur)="search(1)" />
          </div>
        </div>

        <div class="col-3">
          <label class="mb-1">Nơi hoạt động</label>
          <div class="select-wrapper">
            <ng-select [items]="LOCATION" bindLabel="name" bindValue="value" [(ngModel)]="membeRequest.location"
              (blur)="search(1)">
            </ng-select>
          </div>
        </div>
        <div class="col-3">
          <label class="mb-1">Trạng thái</label>
          <div class="select-wrapper">
            <ng-select [items]="this.status" bindLabel="name" bindValue="id" [(ngModel)]="membeRequest.status"
              (blur)="search(1)">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="chuyen-tien__title">Danh sách</div>
        <div class="w-200 d-flex filter-inline">
          <button class="d-flex justify-content-between align-items-center chuyen-tien__download"
            (click)="downloadExcel(0)" style="color:rgb(75, 138, 194)">
            <img src="assets/download-icon.svg" alt="" />Export
          </button>
        </div>
      </div>

      <div class="common-table table-chuyen-tien">
        <div class="table-wrap table-responsive table-vertical-scroll">
          <div class="table-wrap-inner left-none">
            <table class="table-main table-sticky-ult table-strip">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Họ và tên</th>
                  <th>Giới tính</th>
                  <th>Ngày sinh</th>
                  <th>Email</th>
                  <th>SĐT</th>
                  <th>Ban</th>
                  <th>Lớp</th>
                  <th>Khóa</th>
                  <th>Chức vụ</th>
                  <th>Nơi hoạt động</th>
                  <th>Điểm xếp hạng</th>
                  <th>Trạng thái</th>
                  <th class="sticky-ult">
                    <a href="quan-ly-thanh-vien/quan-ly-thanh-vien/create">
                      <img src="assets/add.svg" alt="" class="icon" />
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="asyncDataTran">
                <tr *ngFor="
                    let item of asyncDataTran
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageTrans.size,
                            currentPage: pageTrans.curentPage,
                            totalItems: totalTran
                          };
                    let i = index
                  ">

                  <td class="stt">{{ getCurrentTranPageNumber(i + 1) }}</td>
                  <td>{{item.fullname}}</td>
                  <td>{{getSex(item.sex)}}</td>
                  <td>{{item.birthday | date: 'dd/MM/yyyy'}} </td>
                  <td>{{item.email}}</td>
                  <td>{{item.tel}}</td>
                  <td>{{item.ban}}</td>
                  <td>{{item.classes}}</td>
                  <td>{{item.schoolYear}}</td>
                  <td>{{item.chucVu?.ma}}</td>
                  <td>{{getLocation(item.location)}}</td>
                  <td>{{item.point}}</td>
                  <td>
                    <div *ngIf="item.status == STATUS.HETHOATDONG" class="label-status-succes">
                      <p class="text-status-success fs-14">{{getStatus(item.status)}}</p>
                    </div>
                    <div *ngIf="item.status == STATUS.HOATDONG" class="label-status-default">
                      <p class="text-status-default fs-14">{{getStatus(item.status)}}</p>
                    </div>
                  </td>
                  <td class="sticky-ult">
                    <!-- tables.tableUlt -->
                    <div class="ult-wrap">
                      <!-- button.button -->
                      <a data-tooltip="tooltip" title=""
                        href="quan-ly-thanh-vien/quan-ly-thanh-vien/{{ACTION.DUYET}}/{{item.id}}"
                        class="ubg-transparent ubox-size-button-sm ubox-square ubg-hover ubg-active ubg-opactiy ubg-opactiy-text-secondary-dark ubtn"
                        data-original-title="Thông tin">
                        <div class="ubtn-inner">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                      </a>
                      <!-- end button.button -->
                    </div>
                    <!-- end tables.tableUlt -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="table-pagination-box">
            <nav>
              <ul class="table-pagination">
                <li class="table-page-item page-previous">
                  <span class=""><img src="assets/arrow-left.svg" alt="" /></span>
                  <span class="">Trước</span>
                </li>
                <ul class="page-number">
                  <li class="table-page-item active">1</li>
                  <li class="table-page-item">2</li>
                  <li class="table-page-item">3</li>
                </ul>
                <li class="table-page-item page-next">
                  <span class="">Sau</span>
                  <span aria-hidden="true"><img src="assets/arrow-right.svg" alt="" /></span>
                </li>
              </ul>
            </nav>
          </div> -->

          <div>
            <pagination-controls id="server" [maxSize]="maxSizeTran" [autoHide]="autoHide" [responsive]="responsive"
              [previousLabel]="labelsTran.previousLabel" [nextLabel]="labelsTran.nextLabel"
              (pageChange)="searchMember($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #filterGDCDModalTldk let-modal>
  <div class="modal-header">
    <p class="modal-title">Tìm kiếm giao dịch tương lai định kỳ</p>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-label filterForm-label" for="loaiGD">
        Loại giao dịch
      </label>
      <div class="select-wrapper">
        <ng-select [items]="productType" [selectOnTab]="true" bindValue="value" bindLabel="name"
          placeholder="Loại giao dịch" [(ngModel)]="tranSearch.type">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="taiKhoanNguon">Tài khoản nguồn</label>
      <div class="select-wrapper">
        <ng-select [items]="loadCustAcc | async" [addTag]="true" placeholder="Nhập tài khoản nguồn"
          [typeahead]="loadCustAccInput" bindLabel="acc" bindValue="acc" [trackByFn]="trackByFnCustAcc"
          [(ngModel)]="tranSearch.taiKhoanNguon" typeToSearchText="Please enter 2 or more characters">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="taiKhoanThuHuong">Tài khoản thụ hưởng</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.taiKhoanThuHuong"
        placeholder="Nhập tài khoản thụ hưởng" />
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="taiKhoanThuHuong">Tên người thụ hưởng/nhà cung cấp</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.tenNguoiThuHuong"
        placeholder="Nhập tên người thụ hưởng" />
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="nganHangThuHuong">
        Ngân hàng thụ hưởng
      </label>
      <div class="select-wrapper">
        <ng-select [items]="this.bankReceive" bindLabel="name" bindValue="name"
          [(ngModel)]="tranSearch.nganHangThuHuong" placeholder="Chọn số ngân hàng thụ hưởng">
          <ng-template ng-option-tmp let-item="item">
            <div class="list-border list-border-size-default list-border-select list-contact">
              <label class="border-item">
                <div class="inner">
                  <div class="title p1">{{item.sortname}}</div>
                  <div class="sub-title color-text-secondary-dark">{{item.name}}</div>
                </div>
              </label>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label">Mã giao dịch</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.maGiaoDich" placeholder="Nhập mã giao dịch" />
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="nguoiLap">Người lập</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.userLapLenh"
        placeholder="Nhập mã người lập giao dịch" />
    </div>

    <div class="form-group">
      <label class="form-label filterForm-label">Khoảng tiền</label>
      <div class="row align-items-center">
        <div class="col">
          <input type="text" class="form-control" (keydown)="numberCheck($event)" maxlength="11"
            (keyup)="CommaFormatted($event,'from')" [(ngModel)]="tranSearch.khoangTienTu" placeholder="Từ"
            id="tu-tien" />
        </div>
        -
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="tranSearch.khoangTienDen" (keydown)="numberCheck($event)"
            maxlength="11" (keyup)="CommaFormatted($event,'to')" placeholder="Đến" id="den-tien" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label filterForm-label">Khoảng thời gian</label>
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <input class="form-control" placeholder="Từ dd-mm-yyyy" name="dp-tu-ngay" ngbDatepicker
              #dpTuNgay="ngbDatepicker" [positionTarget]="btnTuNgay" [(ngModel)]="tranSearch.thoiGianLapLenhTu" />
            <button #btnTuNgay class="btn btn-outline-secondary bi bi-calendar3" (click)="dpTuNgay.toggle()"
              type="button"></button>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <input class="form-control" placeholder="Đến dd-mm-yyyy" name="dp-den-ngay" ngbDatepicker
              #dpDenNgay="ngbDatepicker" [positionTarget]="btnDenNgay" [(ngModel)]="tranSearch.thoiGianLapLenhDen" />
            <button #btnDenNgay class="btn btn-outline-secondary bi bi-calendar3" (click)="dpDenNgay.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-cancel" (click)="modal.close('Close click')">
          Close
        </button>
      </div>
      <div class="col-6 d-flex justify-content-start">
        <button type="button" class="btn btn-allow" (click)="searchTranSchedule(1)">Tìm kiếm</button>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #filterGDCDModal let-modal>
  <div class="modal-header">
    <p class="modal-title">Tìm kiếm giao dịch</p>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-label filterForm-label" for="loaiGD">
        Loại giao dịch
      </label>
      <div class="select-wrapper">
        <ng-select [items]="productType" [selectOnTab]="true" bindValue="value" bindLabel="name"
          placeholder="Loại giao dịch" [(ngModel)]="tranSearch.type">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="taiKhoanNguon">Tài khoản nguồn</label>
      <div class="select-wrapper">
        <ng-select [items]="loadCustAcc | async" [addTag]="true" placeholder="Nhập tài khoản nguồn"
          [typeahead]="loadCustAccInput" bindLabel="acc" bindValue="acc" [trackByFn]="trackByFnCustAcc"
          [(ngModel)]="tranSearch.taiKhoanNguon" typeToSearchText="Please enter 2 or more characters">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="taiKhoanThuHuong">Tài khoản thụ hưởng</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.taiKhoanThuHuong"
        placeholder="Nhập tài khoản thụ hưởng" />
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="taiKhoanThuHuong">Tên người thụ hưởng/nhà cung cấp</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.tenNguoiThuHuong"
        placeholder="Nhập tên người thụ hưởng" />
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="nganHangThuHuong">
        Ngân hàng thụ hưởng
      </label>
      <div class="select-wrapper">
        <ng-select [items]="this.bankReceive" bindLabel="name" bindValue="name"
          [(ngModel)]="tranSearch.nganHangThuHuong" placeholder="Chọn số ngân hàng thụ hưởng">
          <ng-template ng-option-tmp let-item="item">
            <div class="list-border list-border-size-default list-border-select list-contact">
              <label class="border-item">
                <div class="inner">
                  <div class="title p1">{{item.sortname}}</div>
                  <div class="sub-title color-text-secondary-dark">{{item.name}}</div>
                </div>
              </label>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label">Mã giao dịch</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.maGiaoDich" placeholder="Nhập mã giao dịch" />
    </div>
    <div class="form-group">
      <label class="form-label filterForm-label" for="nguoiLap">Người lập</label>
      <input type="text" class="form-control" [(ngModel)]="tranSearch.userLapLenh"
        placeholder="Nhập mã người lập giao dịch" />
    </div>

    <div class="form-group">
      <label class="form-label filterForm-label">Khoảng tiền</label>
      <div class="row align-items-center">
        <div class="col">
          <input type="text" class="form-control" (keydown)="numberCheck($event)" maxlength="11"
            (keyup)="CommaFormatted($event,'from')" [(ngModel)]="tranSearch.khoangTienTu" placeholder="Từ"
            id="tu-tien" />
        </div>
        -
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="tranSearch.khoangTienDen" (keydown)="numberCheck($event)"
            maxlength="11" (keyup)="CommaFormatted($event,'to')" placeholder="Đến" id="den-tien" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label filterForm-label">Khoảng thời gian</label>
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <input class="form-control" placeholder="Từ dd-mm-yyyy" name="dp-tu-ngay" ngbDatepicker
              #dpTuNgay="ngbDatepicker" [positionTarget]="btnTuNgay" [(ngModel)]="tranSearch.thoiGianLapLenhTu" />
            <button #btnTuNgay class="btn btn-outline-secondary bi bi-calendar3" (click)="dpTuNgay.toggle()"
              type="button"></button>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <input class="form-control" placeholder="Đến dd-mm-yyyy" name="dp-den-ngay" ngbDatepicker
              #dpDenNgay="ngbDatepicker" [positionTarget]="btnDenNgay" [(ngModel)]="tranSearch.thoiGianLapLenhDen" />
            <button #btnDenNgay class="btn btn-outline-secondary bi bi-calendar3" (click)="dpDenNgay.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-cancel" (click)="modal.close('Close click')">
          Close
        </button>
      </div>
      <div class="col-6 d-flex justify-content-start">
        <button type="button" class="btn btn-allow" (click)="searchMember(1)">Tìm kiếm</button>
      </div>
    </div>
  </div>
</ng-template>