.container {
    padding: 2%;
    background: inherit;
    background-color: rgba(228, 240, 250, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(1, 89, 170, 1);
    box-shadow: none;
  }

.box-white {
  border-width: 0px;
  background-color: rgb(247 247 248);
  padding-left: 0px;
}

.blue-txt{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #0159AA;
}

/*  */
.roboto-normal-w400-z16-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.roboto-normal-w400-z16-lh24 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.roboto-normal-w500-z16-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.roboto-normal-w500-z20-lh20 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.color-363E46 {
  color: #363E46;
}

.color-015AAB {
  color: #015AAB;
}

.color-17191B {
  color: #17191B;
}

.color-727374 {
  color: #727374;
}

.common-card .row-data>.col-6:nth-child(odd)>* {
  text-align: left;
}

.common-card .row-data .col-6:nth-child(even)>* {
  text-align: right;
}

.row-data-right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  margin-bottom: 5px;
}

.button-outline {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 148px;
  height: 44px;
  border: 1px solid #C0C2C3;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  border-radius: 8px;
}

.common-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.border-bottom-div {
  border-bottom: 1px solid #abb4bb;
}

/*  */