<div class="page-header">
  <div class="title-section">
    <div class="title">Quản lý quyền truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Cài đặt</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Quản lý quyền truy cập</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Cập nhật quyền truy vấn</span>
      </a>
    </div>
  </div>
  <app-cskh-section></app-cskh-section>
</div>
<div class="mb-4"><span class="blue-txt">Khởi tạo </span></div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-4 container">
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Mã truy cập</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{cust.code}}</div>
      </div>
    </div>
    <hr class="mb-2"/>
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Vai trò</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">{{genPositon(cust.position)}}</div>
      </div>
    </div>
    <hr class="mb-2"/>
    <div class="row row-data">
      <div class="col-6">
        <div class="primary-label">Quyền truy vấn</div>
      </div>
      <div class="col-6">
        <div class="roboto-normal-w500-z16-lh20 color-015AAB">Quyền truy vấn</div>
      </div>
    </div>
    <hr class="mb-2"/>
  </div>
  <div class="container box-white mb-2">
  <div class="primary-label">Thông tin cập nhật</div>
  <p>Vui lòng chọn các tài khoản hoặc nhóm tài khoản cho phép người lập được phép truy vấn</p>
  </div>
  <div class="container mb-4">
      <div class="common-card-header">
        <div class="row row-data">
          <div class="col-6">
            <div class="roboto-normal-w500-z20-lh20 color-17191B">
              Tài khoản thanh toán
            </div>
          </div>
          <div class="col-6">
            <div class="roboto-normal-w500-z16-lh20">
              <ng-toggle [ngModelOptions]="{standalone: true}"
                [(ngModel)]="sAccDd"
                [width]="config.width"
                [height]="config.height"
                [margin]="config.margin"
                [labels]="config.labels"
                [color]="config.color"
                [switchColor]="config.switchColor"
                [fontColor]="config.fontColor"
                [fontSize]="config.fontSize"
              ></ng-toggle>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!sAccDd" class="form-group">
        <div *ngFor="let item of AccDd" class="form-check my-3 border-bottom-div">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [value]="item.acc" (change)="changeDd($event)" [checked]="item.id" >
            {{item.acc}}
          </label>
        </div>
      </div>
  </div>

  <div class="container mb-4">
      <div class="common-card-header">
        <div class="row row-data">
          <div class="col-6">
            <div class="roboto-normal-w500-z20-lh20 color-17191B">
              Tài khoản tiền gửi
            </div>
          </div>
          <div class="col-6">
            <div class="roboto-normal-w500-z16-lh20">
              <ng-toggle
                [(ngModel)]="sAccFd" [ngModelOptions]="{standalone: true}"
                [width]="config.width"
                [height]="config.height"
                [margin]="config.margin"
                [labels]="config.labels"
                [color]="config.color"
                [switchColor]="config.switchColor"
                [fontColor]="config.fontColor"
                [fontSize]="config.fontSize"
              ></ng-toggle>
            </div>
          </div>
        </div>
        <div *ngIf="!sAccFd" class="form-group">
          <div *ngFor="let item of AccFd" class="form-check my-3 border-bottom-div">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="item.acc" (change)="changeFd($event)" [checked]="item.id" >
              {{item.acc}}
            </label>
          </div>
        </div>
      </div>
      <hr class="my-2"/>
      <div class="common-card-header">
        <div class="row row-data">
          <div class="col-6">
            <div class="roboto-normal-w500-z20-lh20 color-17191B">
              Tài khoản tiền vay
            </div>
          </div>
          <div class="col-6">
            <div class="roboto-normal-w500-z16-lh20">
              <ng-toggle
                [(ngModel)]="sAccLn" [ngModelOptions]="{standalone: true}"
                [width]="config.width"
                [height]="config.height"
                [margin]="config.margin"
                [labels]="config.labels"
                [color]="config.color"
                [switchColor]="config.switchColor"
                [fontColor]="config.fontColor"
                [fontSize]="config.fontSize"
              ></ng-toggle>
            </div>
          </div>
        </div>
        <div *ngIf="!sAccLn" class="form-group">
          <div *ngFor="let item of AccLn" class="form-check my-3 border-bottom-div">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="item.acc" (change)="changeLn($event)" [checked]="item.id" >
              {{item.acc}}
            </label>
          </div>
        </div>
      </div>
      <hr class="my-2"/>
  </div>
  <div class="row mt-5">
      <div class="col-6 d-flex justify-content-end">
          <button appBackButton type="button" class="btn btn-cancel" (click)="back()">Quay lại</button>
      </div>
      <div class="col-6 d-flex justify-content-start">
          <button type="submit" class="btn btn-allow">Lưu</button>
      </div>
  </div>
</form>