<div class="common-card mb-32">
    <p class="common-card__header">Xác thực</p>
    <div class="common-card__content">
        <div class="common-card__text">
            Quý khách vui lòng sử dụng ứng dụng
            <a class="primary-text__links" href="/">IB doanh nghiệp trên Mobile</a>
            để quét mã QR hoặc nhập mã giao dịch để lấy
            <a class="primary-text__links" href="/"> Mã OTP </a>
            xác thực giao dịch
        </div>
        <div class="mx-20 common-card__qr-code">
            <div class="qr-code__content">
                <div class="txt">
                    Mã giao dịch
                    <span class="txt-mgd">{{code}}</span>
                </div>
                <div class="text-muted qr-code__line">hoặc</div>
                <div class="txt">Quét QR để lấy mã</div>
            </div>
            <div class="qr-code__img">
                <img src="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcREk1UchFScf-y2IlTgVGSdRqnWKtEqtCslcJ7XfDT2EYMg_dpRN47ZULq-i0BNmxcg"
                    alt="this is QR code" />
            </div>

        </div>
        <div class="d-flex justify-content-center common-card__input">
            <input type="text" class="form-control w-50 text-center" placeholder="Nhập mã OTP trên mobile tại đây"
                aria-label="" aria-describedby="basic-addon1" />
        </div>
    </div>
    <div class="common-card__line"></div>
    <div class="common-card__footer">
        <div class="d-flex justify-content-center qr-code__note">
            Lưu ý: OTP sẽ bị Khóa nếu nhập sai mật khẩu 5 lần liên tiếp
        </div>
    </div>
</div>