<div class="page-header">
    <div class="title-section">
        <div class="title">Quản lý thành viên</div>
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Trang chủ</span>
            </a>
            <span class="dot">/</span>
            <a href="#" class="breadcrumbs-item">
                <span class="txt">Quản lý thành viên</span>
            </a>
            <span class="dot">/</span>
            <a class="breadcrumbs-item breadcrumbs-item--active">
                <span class="txt">Chi tiết thành viên</span>
            </a>
        </div>
    </div>
</div>

<div class="common-card mb-32">
    <div class="position-relative">
        <app-common-tabs>
            <app-common-tab title="Thông tin thành viên" [bodyClass]="'tab-gdcd'">
                <div class="tab-content">
                    <app-common-tabs class="w-100" [bodyClass]="'tabs-chuyen-tien'">
                        <app-common-tab title="Thông tin cá nhân" [bodyClass]="'tab-chuyen-tien'">
                            <div class="tab-content">
                                <div class="mb-4">
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Tên thành viên</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="member.fullname" />
                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Ban</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="member.ban" />
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Ngày sinh</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-group date-style">
                                                <input placeholder="dd/mm/yyyy" class="form-control" name="dp2"
                                                    ngbDatepicker appDate #e="ngbDatepicker"
                                                    [(ngModel)]="member.birthday" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary fas fa-calendar-alt"
                                                        (click)="e.toggle()" type="button"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Khóa</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="member.schoolYear" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Giới tính</div>
                                        <div class="col-2 primary-text">
                                            <div class="row form-radio-btn">
                                                <div class="col-6">
                                                    <input type="radio" id="schedule" [value]="0"
                                                        [(ngModel)]="member.sex" />
                                                    <label for="schedule">Nam</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="radio" id="schedule2" [value]="1"
                                                        [(ngModel)]="member.sex" />
                                                    <label for="schedule2">Nữ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Lớp</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="member.classes" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">SĐT</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="member.tel" />
                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Chức vụ</div>
                                        <div class="col-2 primary-text">
                                            <div class="select-wrapper-custom">
                                                <ng-select [items]="chucVuList" bindLabel="ma"
                                                    [(ngModel)]="member.chucVu">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Email</div>
                                        <div class="col-2 primary-text">
                                            <div class="input-wrapper">
                                                <input [(ngModel)]="member.email" />
                                            </div>
                                        </div>
                                        <div class="col-2 primary-label text-center">Nơi hoạt động</div>
                                        <div class="col-2 primary-text">
                                            <div class="select-wrapper-custom">
                                                <ng-select [items]="LOCATION" bindLabel="name" bindValue="value"
                                                    [(ngModel)]="member.location">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-tv">
                                        <div class="col-2 primary-label text-center">Trạng thái</div>
                                        <div class="col-2 primary-text">
                                            <div class="select-wrapper-custom">
                                                <ng-select [items]="this.status" bindLabel="name" bindValue="id"
                                                    [(ngModel)]="member.status">
                                                </ng-select>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>
                        </app-common-tab>
                        <app-common-tab title="Thành tích/ Vi phạm" [bodyClass]="'tab-chuyen-tien'"
                            *ngIf="this.action == FwAction.DETAIL">
                            <div class="tab-content">
                                <div class="common-table table-chuyen-tien">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>
                                                        <th>Tên hoạt động</th>
                                                        <th>Thành tích/Vi phạm</th>
                                                        <th>Mô tả</th>

                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTran2">
                                                    <tr *ngFor="
                                      let item of asyncDataTran2
                                        | paginate
                                          : {
                                              id: 'server2',
                                              itemsPerPage: pageTrans2.size,
                                              currentPage: pageTrans2.curentPage,
                                              totalItems: totalTran2
                                            };
                                      let i = index
                                    ">

                                                        <!-- <td class="stt">{{ getCurrentTran2PageNumber(i + 1) }}</td> -->
                                                        <td>{{item.activities?.ma}}</td>
                                                        <td>{{getAward(item.award)}}</td>
                                                        <td>{{item.mota}}</td>

                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </app-common-tab>
                        <app-common-tab title="Công việc được giao" [bodyClass]="'tab-chuyen-tien'"
                            *ngIf="this.action == FwAction.DETAIL">
                            <div class="tab-content">
                                <div class="common-table table-chuyen-tien">
                                    <div class="table-wrap table-responsive table-vertical-scroll">
                                        <div class="table-wrap-inner left-none">
                                            <table class="table-main table-sticky-ult table-strip">
                                                <thead>
                                                    <tr>

                                                        <th>Tên hoạt động</th>
                                                        <th>Công việc được giao</th>
                                                        <th>Trạng thái</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="asyncDataTran">
                                                    <tr *ngFor="
                                      let item of asyncDataTran
                                        | paginate
                                          : {
                                              id: 'server',
                                              itemsPerPage: pageTrans.size,
                                              currentPage: pageTrans.curentPage,
                                              totalItems: totalTran
                                            };
                                      let i = index
                                    ">


                                                        <td>{{item.activities?.ma}}</td>
                                                        <td>{{item.mission}}</td>

                                                        <td>{{getMissionStatus(item.missionStatus)}}</td>
                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </app-common-tab>
                    </app-common-tabs>
                </div>
            </app-common-tab>

        </app-common-tabs>

    </div>
    <div class="row" style=" display: flex; justify-content: space-around; ">
        <div class="col-3">
            <button type="button" class="btn btn-cancel" (click)="return()">
                Quay lại
            </button>
        </div>

        <div *ngIf="this.action == FwAction.CREATE" class="col-3">
            <button type="button" class="btn btn-allow" (click)="createMember()">
                Tạo
            </button>
        </div>

        <div *ngIf="this.action == FwAction.DETAIL" class="col-3">
            <button type="button" class="btn btn-allow" (click)="updateMember()">
                Cập nhật
            </button>
        </div>
    </div>
</div>