.container {
  padding: 2%;
  background: inherit;
  background-color: rgba(228, 240, 250, 1);
  border-radius: 5px;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(1, 89, 170, 1);
  box-shadow: none;
}

.pdf {
  position: absolute;
  z-index: -100;
  top: 0px;
  width: 100%;
}

.confirm-label {
  display: flex;
  justify-content: left;
  font-weight: 600;
  padding: 13px 2px;
}


.textarea-autosize-denied {
  max-height: 200px;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important
}

.textarea-autosize-denied:not(.input-hadval) {
  line-height: 1
}

.textarea-autosize-denied::first-line {
  font-family: inherit;
  line-height: 1;
  font-size: inherit;
  font-weight: inherit
}

.btn-page {
  max-width: 538px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto 24px;
}

.btn-detail {
  width: 160px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn-style-3 {
  background-color: #015aab;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.btn-style-1 {
  border: 2px solid rgb(150, 150, 150);
  border-radius: 8px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  color: rgb(150, 150, 150);
}

.btn-style-1:hover {
  background: rgb(150, 150, 150);
  color: #17191b;
}


.btn-style-3:hover {
  background: #06447e;
  color: #fff;
}


.alert {
  display: grid !important;
}

.btn-page {
  max-width: 538px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.alert-img {
  width: 100%;
  height: 100%;
}

.warning-title {
  height: 50px;
  width: 50px;
}

.text-center {
  text-align: center;
  padding: 12px 0;
}

.row-tv {
  padding-top: 2%;
}


.user-avatar {
  justify-content: center;
  text-align: center;
}

.date-style {
  position: relative;
}

.date-style .input-group-append {
  position: absolute;
  right: 0px;
  height: 100%;
}

.date-style .input-group-append .btn {
  height: 100%;
}

.date-style {
  position: relative;
}

.date-style .input-group-append {
  position: absolute;
  right: 0px;
  height: 100%;
}

.date-style .input-group-append .btn {
  height: 100%;
}

.table-responsive>.table-wrap-inner>.table-main td,
.table-responsive>.table-wrap-inner>.table-main th {
  height: 40px !important;
}

/*  */