/* @charset "UTF-8"; */

@font-face {
    font-family: Roboto;
    src: url(../fonts/main/Roboto-Regular.ttf) format("embedded-opentype"), url(../fonts/main/Roboto-Regular.3e1af3ef.ttf) format("truetype");
    font-weight: regular;
    font-display: swap
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/main/Roboto-Medium.ttf) format("embedded-opentype"), url(../fonts/main/Roboto-Medium.58aef543.ttf) format("truetype");
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/main/Roboto-Bold.ttf) format("embedded-opentype");
    font-weight: 600;
    font-display: swap
}

.main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden
}

.main-wrap {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-inner {
    position: relative;
    -ms-flex: 1 0 auto;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    /* max-width: 860px; */
    width: 100%;
    padding: 32px 64px;
    margin: 0 auto;
    background: #F8FCFF
}

.main--hide-sidebar-right .main-inner--full {
    max-width: 1188px
}

.main-footer {
    margin-top: auto
}

.box {
    border: 1px solid #EAEBEC;
    border-radius: 8px;
    display: block
}

.box--sm {
    padding: 16px
}

.box:not(.box-simple) {
    background: #FAFAFA;
    box-shadow: 0px 0px 32px rgb(151 156 168 / 15%);
    border-radius: 12px;
}

.box-main {
    background-color: rgba(45, 55, 61, .6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px)
}

.box-main .box__body,
.box-main .box__header {
    padding: 24px 32px;
    position: relative
}

.box-main-sm .box__body,
.box-main-sm .box__header {
    padding: 32px;
}

.box-main:not(.box-accordion) .box__header {
    position: relative;
    padding-bottom: 16px
}

.box-main:not(.box-accordion) .box__header::after {
    content: "";
    position: relative;
    bottom: -16px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #EAEBEC
}

.box-accordion>.box__header+.box__body>.box__body-inner::before {
    content: "";
    position: relative;
    top: -16px;
    display: block;
    width: 100%;
    border-bottom: 1px dashed #EAEBEC
}

.box-accordion-sm>.box__header {
    padding-top: 16px;
    padding-bottom: 16px
}

.box-main .box__header-dashed::after {
    border-bottom: 1px dashed rgba(255, 255, 255, .12) !important
}

.box-main .box__header+.box__body,
.box-main .box__header+.box__body .form {
    padding-top: 16px
}

.box-section-group {
    padding-top: 8px;
    padding-bottom: 8px
}

.box-title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    color: #20262C;
}

.box-title::after {
    content: "";
    position: absolute;
    bottom: -16px;
    width: 100%;
    height: 2px;
}

.box-simple>.box__header {
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.box-accordion .box__header>.row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto
}

.box-accordion {
    padding: 0
}

.box__body-inner {
    padding: 16px 32px
}

.box-accordion.box--sm .box__body-inner,
.box-accordion.box--sm>:not(.box__body) {
    padding: 12px
}

.box-accordion .box__header::after {
    border-bottom-style: dashed;
    opacity: 0
}

.box-accordion.open .box__header::after {
    opacity: 1
}

.box__header [data-control].ubtn {
    right: -10px
}

.box__header [data-control] .ubtn-ic,
.list-link-arrow>.border-item .title,
.list-link-arrow>.border-item .value {
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out
}

.open>.box__header [data-control] .ubtn-ic {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.box-group:not(:last-child) {
    margin-bottom: 32px
}

.box-accordion .box__body {
    padding: 0 !important
}

.accordion-big-btn.ubtn.ubox-size-button-sm .ic-default {
    height: 24px;
    width: 24px
}

.box-main .box__header [data-control].ubtn {
    right: 0
}

.box__body-accordion-extend~.box__body>.box__body-inner {
    padding-top: 0
}

.box__body-accordion-extend~.box__body>.box__body-inner>.list-border:first-child>.border-item:first-child {
    border-top: 1px solid rgba(255, 255, 255, .12);
    padding-top: 16px
}

.box__footer {
    padding: 24px
}

.box__footer::before {
    content: "";
    position: relative;
    top: -24px;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .12)
}

.box-simple .box__body-inner {
    padding: 0
}

.box-simple-inner .box__body-inner {
    padding-top: 15px
}

.box__body .box__header {
    padding-top: 0
}

.box__body-inner>.box__header-tab {
    margin-top: -16px;
    padding-bottom: 16px
}

.box-card-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.box-card-sm .box__body,
.box-card-sm .box__header {
    padding: 16px
}

.box-equal {
    height: 100%
}

.box-card-sm .title {
    position: relative
}

.box-link {
    color: rgba(255, 255, 255, .88)
}

.box-link:hover .title {
    color: #17191B !important
}

@media (min-width:992px) {
    .box-setting-fav {
        position: -webkit-sticky;
        position: sticky;
        top: 72px
    }
}

@media (min-width:1200px) {
    .box-setting-fav {
        position: -webkit-sticky;
        position: sticky;
        top: 100px
    }
}

@media (max-width:767px) {

    .box-main .box__body,
    .box-main .box__header,
    .box__body-inner,
    .main-inner {
        padding-left: 16px;
        padding-right: 16px
    }
}

.alert-box-warning {
    color: #ce8e00;
    border-color: #ce8e00 !important
}

.border-item {
    display: block;
    border-top: 1px solid #EAEBEC
}

.border-item:first-child {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, .12)
}

.border-item-header .value {
    color: rgba(255, 255, 255, .56)
}

.border-item:first-child,
.section+.border-item {
    border: 0
}

.list-border-size-default .border-item {
    padding: 12px 0
}

.list-border-size-sm .border-item {
    padding: 8px 0
}

.list-border-size-md .border-item {
    padding: 14px 0
}

.list-border-size-lg .border-item {
    padding: 16px 0
}

.list-info>.border-item:first-child {
    padding-top: 8px
}

.list-info>.border-item:last-child {
    padding-bottom: 8px
}

.border-item-header {
    text-transform: uppercase;
    padding: 8px 0 !important;
    font-size: 12px
}

.modal .border-item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, .12)
}

.list-border-select label.border-item {
    cursor: pointer
}

.list-border-select label.border-item .inner {
    padding-right: 16px
}

.border-item .inner>*,
a.border-item .sub-title,
a.border-item .title {
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out
}

.list-border-select label.border-item:hover .inner>* {
    color: #17191B
}

.border-item>input:checked~.inner>* {
    color: #17191B
}

a.border-item:hover .title {
    color: #17191B
}

a.border-item:hover .sub-title {
    color: #17191B
}

/* .border-item>input:checked~.inner {
    background-image: url(../media/icons-color/primary/default/check.1c55bf6b.svg);
    background-position: center right 0;
    background-repeat: no-repeat;
    background-size: 16px
} */

.border-item+.section {
    padding: 16px 0
}

.list-border-size-lg.list-link-arrow .border-item {
    padding-right: 32px !important
}

.list-link-arrow .box-item::after {
    background-position: center right 5px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.811' height='8.121' viewBox='0 0 4.811 8.121'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23a1c038;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M223.6,353.06l3,3-3,3' transform='translate(-222.543 -352)'/%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, .12);
    content: "";
    width: 16px;
    border-radius: 50%;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out
}

.link-arrow {
    background-position: center right 5px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.811' height='8.121' viewBox='0 0 4.811 8.121'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23a1c038;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M223.6,353.06l3,3-3,3' transform='translate(-222.543 -352)'/%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, .12);
    content: "";
    width: 16px;
    border-radius: 50%;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out
}

.list-link-arrow>.border-item .ic-default {
    opacity: .56;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out
}

.list-link-arrow .box-item:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.811' height='8.121' viewBox='0 0 4.811 8.121'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M223.6,353.06l3,3-3,3' transform='translate(-222.543 -352)'/%3E%3C/svg%3E");
    background-color: #17191B
}

.box-card-sm:hover .link-arrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.811' height='8.121' viewBox='0 0 4.811 8.121'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M223.6,353.06l3,3-3,3' transform='translate(-222.543 -352)'/%3E%3C/svg%3E");
    background-color: #17191B
}

.list-link-arrow>.border-item:hover .ic-default {
    opacity: 1
}

.link-arrow:last-child {
    border-top: 0
}

.list-link-arrow .box-item {
    padding-right: 48px
}

.list-link-arrow .box-item::after {
    right: 16px
}

.border-item-header {
    border-bottom-style: dashed;
    color: rgba(255, 255, 255, .56)
}

.border-item-header .rnc,
.border-item-header.rnc {
    text-transform: none
}

.border-item-header.rnc {
    font-size: inherit
}

.box-item {
    color: rgba(255, 255, 255, .88) !important
}

.list-link-arrow .border-item-header {
    padding-right: 24px !important;
    color: rgba(255, 255, 255, .56) !important
}

.list-link-arrow>.border-item-header::after {
    display: none
}

.list-link-arrow>a.border-item:hover {
    color: #17191B !important
}

a.box-item:hover {
    color: #17191B !important
}

.list-link-arrow>[data-toggle=modal].border-item:hover .title {
    color: #17191B !important
}

.list-link-arrow>[data-toggle=modal].border-item:hover .value {
    color: #17191B !important
}

@media (max-width:575px) {
    .border-item-header:not(.rnc):not(.border-header-show) {
        display: none
    }
}

@media (min-width:1400px) {
    .col-xxl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }

    .row-cols-xxl-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-xxl-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-xxl-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-xxl-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .row-cols-xxl-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-xxl-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-xxl-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }

    .col-xxl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }

    .col-xxl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%
    }

    .col-xxl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }

    .col-xxl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }

    .col-xxl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .col-xxl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%
    }

    .col-xxl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }

    .col-xxl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%
    }

    .col-xxl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%
    }

    .col-xxl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%
    }

    .col-xxl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%
    }

    .col-xxl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%
    }

    .col-xxl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
}

.icon-alt {
    display: none
}

.ubox-avatar {
    overflow: hidden
}

.avatar-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center
}

.avatar-main {
    border: 2px solid rgba(255, 255, 255, .4)
}

.avatar-group {
    position: relative
}

.avatar-symbol {
    width: 8px;
    height: 8px;
    position: relative;
    right: -8px;
    margin-right: 0;
    margin-left: auto
}

.avatar-symbol>img {
    position: absolute;
    max-width: none;
    bottom: 0;
    right: 0
}

.avatar-editable {
    cursor: pointer;
    position: relative;
    z-index: 3
}

.avatar-editable::after,
.avatar-editable::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out
}

.avatar-editable:hover::after,
.avatar-editable:hover::before {
    opacity: 1
}

.avatar-editable::after {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, .56);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/icons-color/primary/solid/edit.42c570e0.svg)
}

.avatar-editable::before {
    background-color: rgba(0, 0, 0, .56)
}

.link-card-main {
    text-align: center;
    cursor: pointer;
    display: block
}

.link-card-main .ubox {
    margin: 0 auto
}

.link-card-main .title {
    margin-top: 16px
}

.txt-hover .title {
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear
}

.list-link-card .group-col-item {
    position: relative
}

.list-link-card-sm .ubox-ic {
    width: 56px;
    height: 56px
}

.list-link-card-sm .ubox-ic .ic-default {
    width: 32px;
    height: 32px
}

.list-link-card-sm .title {
    margin-top: 12px;
    font-size: 14px
}

.txt-hover:hover .title {
    color: rgba(255, 255, 255, .88)
}

.list-link-home .link-card-main .title {
    min-height: 2em;
    max-width: 108px;
    margin-left: auto;
    margin-right: auto
}

.list-link-home {
    padding: 16px 0
}

.list-info-item-horizontal .title.col-auto {
    max-width: 40%
}

.list-info-item-horizontal .value {
    text-align: right;
    word-break: break-word
}

@media (max-width:1199px) {
    .link-card-main .ubox-size-ic-xl {
        min-width: 52px;
        width: 52px;
        height: 52px
    }

    .link-card-main .ubox-size-ic-xl .ic-default {
        width: 32px;
        height: 32px
    }

    .link-card-main .title {
        font-size: 12px
    }
}

.banner-item {
    width: 100%;
    padding-top: 26%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    display: block;
    overflow: hidden
}

.banner-item-inner {
    position: absolute;
    top: 0;
    left: 0
}

.banner {
    margin-bottom: 24px
}

.list-info-item-horizontal-6 .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:768px) {
    .banner-mobile {
        display: none
    }
}

@media (max-width:767px) {
    .banner-item {
        padding-top: 46.3%
    }

    .banner-desktop {
        display: none
    }

    .banner {
        padding: 0 16px;
        margin-left: -16px;
        margin-right: -16px;
        overflow: hidden
    }

    .swiper-banner {
        overflow: visible
    }
}

.otp-section {
    text-align: center;
    color: rgba(255, 255, 255, .56);
    padding: 16px 0
}

.otp-section-inner {
    max-width: 484px;
    margin: 0 auto
}

.otp-qr {
    width: 140px;
    margin: 0 auto;
    height: 140px;
    background-color: #171c1f
}

.otp-box-code {
    border-radius: 6px;
    padding: 16px 24px;
    background-color: #171c1f
}

.otp-section-input .input {
    text-align: center;
    padding-right: 12px !important
}

.otp-section-smart .otp-section-input .input {
    padding-left: 48px
}

.success-section {
    text-align: center;
    padding: 24px 0
}

.success-section-icon {
    margin-bottom: 16px
}

.success-sub-title {
    color: rgba(255, 255, 255, .56)
}

.ubox-tag .title {
    padding-left: 8px;
    padding-right: 8px
}

.ubox-tag .title:only-child {
    padding-right: 8px
}

.ubox-tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.tag-box-inner {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.title-line-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.title-line-bar .title {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-right: 12px
}

.barline {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%
}

.title-line-bar .barline::after {
    content: "";
    border-bottom: 1px solid #17191B;
    display: block;
    line-height: 0;
    width: 100%
}

.cc-card-text-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cc-card-text-item .title:not(:only-child) {
    padding-left: 12px
}

@media (max-width:575px) {
    .col-auto.row-span-sm-2 {
        grid-row: 1/span 2
    }

    .cc-card-text-item>.row {
        display: grid;
        grid-template-columns: auto 1fr
    }
}

.blank-section {
    min-height: 200px;
    padding: 30px
}

.blank-txt {
    color: rgba(255, 255, 255, .4);
    text-align: center
}

.cc-card {
    width: 292px;
    background-color: rgba(255, 255, 255, .12);
    position: relative;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto
}

.cc-ccard-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 63%
}

.cc-card-size-default-horizontal {
    width: 198px
}

.cc-card-size-default-horizontal .cc-ccard-image {
    padding-top: 158%
}

.cc-ccard-image img {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0
}

.cc-card-size-default-horizontal .cc-ccard-info {
    bottom: 24px
}

.cc-ccard-info {
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .56);
    padding: 8px;
    position: absolute;
    width: auto;
    left: 8px;
    bottom: 8px;
    display: inline-block
}

.cc-ccard-info .title {
    font-size: 16px
}

.cc-ccard-info .sub-title {
    font-size: 12px;
    color: rgba(255, 255, 255, .56);
    margin-top: 4px
}

.box-captcha {
    background-color: #0e1012;
    border-radius: 6px;
    margin-top: 8px
}

.box-captcha-inner {
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 12px
}

.box-captcha-inner .row {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.record-number {
    color: rgba(255, 255, 255, .56)
}

.record-number .form-group {
    width: 80px
}

.loading {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4)
}

/* .loading-ic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 52px;
    height: 52px;
    background-size: cover;
    background-image: url(../media/img/mics/loading.9ee72c86.svg);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite
} */

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.link-crop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: auto 1fr auto
}

.link-crop>.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px
}

.link-crop>.title {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    text-align: justify
}

.dragable-empty-slot,
.not-dragable {
    pointer-events: none !important
}

.not-dragable:not(.dragable-empty-slot) .ubox-ic {
    opacity: .3
}

.not-dragable .title {
    color: rgba(255, 255, 255, .4)
}

.list-link-setting .link-card-main {
    cursor: -webkit-grab;
    cursor: grab
}

.link-card-main .mini-delete {
    position: absolute;
    top: -4px;
    right: -4px;
    left: 0;
    margin: auto;
    width: 56px;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.list-check {
    list-style-type: none
}

.list-check {
    margin: 0
}

.list-check>li {
    padding-left: 28px;
    position: relative
}

.list-check>li:not(:last-child) {
    padding-bottom: 10px
}

/* .list-check>li::before {
    content: "a";
    width: 16px;
    color: transparent;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 16px;
    background-image: url(../media/icons-color/primary/default/check.1c55bf6b.svg)
} */

.box-change-package .left {
    border-right: 1px solid rgba(255, 255, 255, .12)
}

.box-change-package>input:checked~.box {
    border-color: #17191B
}

.box-change-package .box {
    -webkit-transition: .15s all linear;
    -o-transition: .15s all linear;
    transition: .15s all linear
}

.box-change-package:hover .box {
    border-color: rgba(255, 255, 255, .4)
}

.package-sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: -59px;
    top: -25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    width: 116px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='115.966' height='30.83' viewBox='0 0 115.966 30.83'%3E%3Cg id='Group_17712' data-name='Group 17712' transform='translate(0 0)'%3E%3Crect id='Rectangle_5803' data-name='Rectangle 5803' width='39.598' height='4.001' transform='translate(0 28.001) rotate(-45)' fill='%239c6b00'/%3E%3Crect id='Rectangle_5804' data-name='Rectangle 5804' width='4' height='39.598' transform='translate(85.137 2.83) rotate(-45)' fill='%239c6b00'/%3E%3Cpath id='Path_16743' data-name='Path 16743' d='M28,0,0,28H115.966l-28-28Z' fill='%23ce8e00'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    text-transform: uppercase;
    z-index: 2
}

.package-sale .icon {
    width: 16px;
    height: 16px
}

.package-sale .text {
    padding-left: 4px
}

@media (max-width:767px) {
    .box-change-package .left {
        border-right: 0;
        position: relative
    }

    .box-change-package .left::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 24px;
        height: 1px;
        width: calc(100% - 48px);
        border-top: 1px solid rgba(255, 255, 255, .12)
    }

    .box-change-package .title {
        padding-right: 60px
    }
}

@media (max-width:575px) {
    .input-size-default-label-value {
        padding: 0
    }
}

.highcharts-scrollable-mask {
    fill: #242c31;
    fill-opacity: .9
}

.hc-val-title {
    padding-right: 8px
}

.hc-shape-td {
    vertical-align: middle
}

.hc-symbol {
    width: 12px;
    height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.hc-symbol-column {
    width: 8px;
    height: 8px;
    border-radius: 50%
}

.hc-symbol-line,
.hc-symbol-spline {
    width: 10px;
    height: 2px
}

.highcharts-label table td {
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px
}

.highcharts-reset-zoom {
    display: none
}

.highcharts-scrolling .highcharts-inner-container>* {
    padding-left: 10px
}

.highcharts-legend-item-hidden text {
    fill: rgba(255, 255, 255, .4)
}

.highcharts-legend-item-hidden>:not(text) {
    opacity: .4
}

.break-word-all {
    word-break: break-all
}

.ic-color-op-secondary {
    opacity: .6;
    -webkit-transition: .1s all linear;
    -o-transition: .1s all linear;
    transition: .1s all linear
}

.ubg-transparent.ubtn:hover .ic-color-op-secondary {
    opacity: 1
}

.ubg-blank {
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    margin-left: 0;
    margin-right: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.ubg-blank::after,
.ubg-blank::before {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0
}

.ubtn.ubox-size-button-blank-sm .ubtn-text:not(:only-child):last-child {
    padding-right: 0
}

.ubox-size-button-blank-sm .ubtn-inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.ubox-size-button-blank-sm .ubtn-text {
    text-align: left
}

.alert-ic {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto
}

.alert-ic>img {
    width: 100%
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgba(28, 28, 28, 0.88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

input:-webkit-autofill:hover {
    -webkit-text-fill-color: rgba(28, 28, 28, 0.88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(28, 28, 28, 0.88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

textarea:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, .88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: rgba(255, 255, 255, .88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(255, 255, 255, .88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

select:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, .88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

select:-webkit-autofill:hover {
    -webkit-text-fill-color: rgba(255, 255, 255, .88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(255, 255, 255, .88);
    -webkit-box-shadow: 0 0 0 1000px #171c1f inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

.croppie-container .cr-viewport {
    -webkit-box-shadow: 0 0 2000px 2000px rgba(23, 28, 31, .7);
    box-shadow: 0 0 2000px 2000px rgba(23, 28, 31, .7)
}

.croppie-container .cr-resizer {
    -webkit-box-shadow: 0 0 2000px 2000px rgba(23, 28, 31, .7);
    box-shadow: 0 0 2000px 2000px rgba(23, 28, 31, .7)
}

.swiper-btn-banner .swiper-next,
.swiper-btn-banner .swiper-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    opacity: 0;
    outline: 0 !important
}

.swiper-btn-banner .swiper-next {
    right: 12px
}

.swiper-btn-banner .swiper-prev {
    left: 12px
}

.swiper-btn-banner:hover .swiper-next:not([aria-disabled=true]),
.swiper-btn-banner:hover .swiper-prev:not([aria-disabled=true]) {
    opacity: 1
}

[aria-disabled=true].swiper-next,
[aria-disabled=true].swiper-prev {
    opacity: 0
}

.rnc-text span {
    padding-left: 2px;
    padding-right: 2px
}

.ubox-size-button-xs {
    overflow: visible
}

.ubox-size-button-xs::after {
    position: absolute;
    width: 44px;
    height: 44px;
    content: "";
    top: -10px;
    left: -10px;
    border-radius: 50%
}

.otp-section-input .ubox-size-button-xs::after {
    display: none
}

.ubox-avatar-card {
    max-height: 24px;
    border-radius: 2px
}

.ubox-avatar-card-sm {
    max-height: 16px;
    border-radius: 2px
}

.break-word {
    word-break: break-word
}

.modal-header-extend {
    padding-top: 16px
}

.modal-header-extend:empty {
    padding: 0
}

.modal .color-text-secondary-dark {
    color: rgba(0, 0, 0, .56)
}

.modal .otp-section {
    color: rgba(0, 0, 0, .56)
}

.modal .textarea-counter {
    color: rgba(0, 0, 0, .56)
}

.modal .otp-section {
    padding: 0
}

.modal .color-default {
    color: rgba(0, 0, 0, .88)
}

.modal .list-link-arrow>.border-item:not(:hover)::after {
    background-color: rgba(0, 0, 0, .12)
}

.modal .input:-moz-read-only:not(.select-2)~.input-frame {
    background-color: rgba(0, 0, 0, .12)
}

.modal .input:read-only:not(.select-2)~.input-frame {
    background-color: rgba(0, 0, 0, .12)
}

.modal .input:disabled:not(.select-2)~.input-frame {
    background-color: rgba(0, 0, 0, .12)
}

.modal .input-file~.input-frame {
    background-color: transparent !important
}

.modal .input-fake-placeholder {
    color: rgba(0, 0, 0, .4)
}

.modal .list-link-arrow>.border-item {
    color: rgba(0, 0, 0, .88) !important
}

.modal .input-default:not(:focus):not(:disabled) .input:not(:disabled):not(:-moz-read-only):hover~.input-frame {
    border: 1px solid rgba(0, 0, 0, .56) !important
}

.modal .input-default:not(:focus):not(:disabled) .input:not(:disabled):not(:read-only):hover~.input-frame {
    border: 1px solid rgba(0, 0, 0, .56) !important
}

.modal .input-default:not(:focus):not(:disabled) .select2:hover~.input-frame {
    border: 1px solid rgba(0, 0, 0, .56) !important
}

.modal select[readonly].select-2~.input-frame {
    border: 1px solid rgba(0, 0, 0, .56) !important
}

/* .modal .select2-container--default .select2-search--dropdown .select2-search__field {
    background-image: url(../media/icons-color/invert/default/search.98469b34.svg)
}

.modal-open .select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: rgba(23, 28, 31, .1);
    background-image: url(../media/icons-color/invert/default/search.98469b34.svg)
} */

.modal-open .select2-container--default .select2-search--dropdown .select2-search__field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .56)
}

.modal-open .select2-container--default .select2-search--dropdown .select2-search__field::-moz-placeholder {
    color: rgba(0, 0, 0, .56)
}

.modal-open .select2-container--default .select2-search--dropdown .select2-search__field:-ms-input-placeholder {
    color: rgba(0, 0, 0, .56)
}

.modal-open .select2-container--default .select2-search--dropdown .select2-search__field::-ms-input-placeholder {
    color: rgba(0, 0, 0, .56)
}

.modal-open .select2-container--default .select2-search--dropdown .select2-search__field::placeholder {
    color: rgba(0, 0, 0, .56)
}

.modal .blank-txt {
    color: rgba(0, 0, 0, .4)
}

.modal table {
    border-collapse: collapse
}

.modal .table-sticky-ult {
    border: 1px solid rgba(0, 0, 0, .12)
}

.modal .table-main td {
    border: 1px solid rgba(0, 0, 0, .12)
}

.modal .table-main th {
    border: 1px solid rgba(0, 0, 0, .12)
}

.modal .table-strip>tbody>tr:nth-of-type(odd) {
    background-color: #efefef
}

.modal .table-main th {
    color: rgba(0, 0, 0, .56)
}

.modal .table-strip>tbody>tr:hover {
    background-color: rgba(0, 0, 0, .12) !important
}

.modal .section-dash {
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px dashed rgba(0, 0, 0, .12)
}

@media (min-width:768px) {
    .modal-open .modal .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: rgba(0, 0, 0, .4)
    }

    .modal-open .select2-dropdown {
        background-color: #fff
    }

    .modal-open .select2-search--dropdown {
        background-color: #fff
    }

    .modal-open .select2-container--default .select2-results__option--highlighted[aria-selected]:not([aria-selected=true]) {
        color: #0e1012
    }

    .modal-open .select2-results__option {
        color: #0e1012
    }
}

.modal .form {
    padding-bottom: 12px
}

.modal .box {
    background-color: transparent
}

.modal .box__body {
    padding: 0
}

.modal .otp-box-code {
    background-color: #e4e4e4
}

.modal .table-responsive>.table-wrap-inner thead tr,
.modal .table-responsive>.table-wrap-inner-v-scroll>.table-wrap-inner thead tr {
    background-color: #fff
}

.modal .table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .12)
}

.modal .table-responsive>.table-wrap-inner-v-scroll>.table-wrap-inner::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .12)
}

.modal .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .24)
}

.modal .table-responsive>.table-wrap-inner-v-scroll>.table-wrap-inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .24)
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .24)
}

.show-accordion>[data-control=data-control]>.ic-arrow {
    display: none
}

.show-accordion>[data-content=data-content] .sidebar__item {
    opacity: 1;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0)
}

.show-accordion>[data-control=data-control]>.txt {
    color: #17191B
}

.textarea-counter {
    text-align: right;
    color: rgba(255, 255, 255, .56)
}

.tooltip.show {
    opacity: 1
}

.tooltip-inner {
    max-width: 100%;
    width: auto;
    display: table
}

.tooltip-content-size-default {
    width: auto;
    max-width: 360px;
    padding: 10px 6px
}

.list-normal {
    margin-bottom: 0
}

.list-normal>li:not(:last-child) {
    margin-bottom: 8px
}

.alert-box .box__body[data-content] {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.alert-box .box__header {
    padding-top: 16px;
    padding-bottom: 16px
}

.alert-box .box__header::after {
    display: none !important
}

.alert-box .box__header::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear
}

/* .alert-box-warning .box__header::before {
    background-image: url(../media/icons-color/warning/default/chevron-down.eaa51377.svg)
} */

.open>.box__header::before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.alert-box .box__body[data-content] .alert-box-content-inner {
    padding-top: 0;
    padding-bottom: 16px
}

.open-init [data-content] {
    max-height: none !important
}

.select-tpl-img.visa-card {
    width: 44px;
    height: 24px;
    background-size: cover;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .12)
}

.ult-wrap .ubtn.ubox-size-button-sm .ic-default {
    width: 24px;
    height: 24px
}

.input-size-sm .datepicker-range,
.input-size-sm .datepicker-single {
    background-size: 16px 16px
}

.group-label-special {
    text-align: center
}

.group-label-special .label-main {
    font-weight: 500
}

.group-label-special .label-sub {
    font-size: 12px
}

[data-toggle=modal] {
    cursor: pointer
}

.link-card-main[href="#"],
.sidebar__item[href="pages/#"] .txt {
    opacity: .5 !important
}

.sidebar__item[href="pages/#"] {
    pointer-events: none
}

.dropdown .ubtn.ubox-size-button-sm .ic-default {
    width: 24px;
    height: 24px
}

.hidden-soft {
    opacity: 0;
    pointer-events: none
}

.modal-content {
    -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, .4);
    box-shadow: 0 16px 32px rgba(0, 0, 0, .4)
}

@media (max-width:767px) {

    .select2-dropdown,
    .select2-search--dropdown {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 0 !important
    }

    .select2-results__option {
        padding: 12px 40px 12px 16px
    }
}

@media (max-width:575px) {
    .row-grid-special {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto
    }

    .row-grid-special>div:nth-child(2) {
        grid-row: 2 span
    }
}

input {
    line-height: normal !important
}

.modal-body:last-child {
    padding-bottom: 32px !important
}

.record-number .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 30px
}

.input-rnc-btn:checked~.ubg-line-primary {
    border-color: transparent;
    background: -o-linear-gradient(330deg, #17191B 0, #074c31 100%);
    background: linear-gradient(120deg, #17191B 0, #074c31 100%)
}

.input-rnc-btn:checked~.ubg-line-primary .ubtn-inner {
    color: rgba(255, 255, 255, .88)
}

td .form-group {
    min-width: 173px
}

td .select2-selection__rendered {
    max-width: 260px
}

td .input-inner-wrap {
    -ms-grid-columns: auto auto 1fr auto auto;
    grid-template-columns: auto auto 1fr auto auto
}

.box--avatar .box__header .ubox-size-button-default.ubg-transparent::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .56)
}

.section-tk-main .title {
    font-size: 18px
}

.otp-section-inner .errorBlock {
    text-align: center
}

@media (max-width:480px) {
    .tooltip-inner {
        max-width: 90vw
    }
}

.input-size-sm .input-ic .ic-default {
    width: 20px;
    height: 20px
}

.ubg-white {
    background-color: #fff
}

/* @media (min-width:1601px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
}

@media (min-width:1441px) and (max-width:1600px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
}

@media (min-width:1367px) and (max-width:1440px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
}

@media (min-width:1281px) and (max-width:1366px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
}

@media (min-width:767px) and (max-width:1024px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
}

@media (min-width:0) and (max-width:766px) {
    .background-default::after {
        background-image: url(../media/img/login/bg.2ef4ad50.jpg)
    }
} */

.tagify.input:not(textarea) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    white-space: normal;
    margin-left: -4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -4px
}

@keyframes tags--bump {
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@-webkit-keyframes rotateLoader {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotateLoader {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.tagify:hover {
    border-color: #ccc;
    border-color: #ccc
}

.tagify.tagify--focus {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-color: #3595f6;
    border-color: #3595f6
}

.tagify[disabled] {
    background: #f1f1f1;
    -webkit-filter: saturate(0);
    filter: saturate(0);
    opacity: .5;
    pointer-events: none
}

.tagify[disabled].tagify--select,
.tagify[readonly].tagify--select {
    pointer-events: none
}

.tagify[disabled]:not(.tagify--mix):not(.tagify--select),
.tagify[readonly]:not(.tagify--mix):not(.tagify--select) {
    cursor: default
}

.tagify[disabled]:not(.tagify--mix):not(.tagify--select)>.tagify__input,
.tagify[readonly]:not(.tagify--mix):not(.tagify--select)>.tagify__input {
    visibility: hidden;
    width: 0;
    margin: 5px 0
}

.tagify[disabled]:not(.tagify--mix):not(.tagify--select) .tagify__tag>div {
    padding: .3em .5em;
    padding: .3em .5em
}

.tagify[readonly]:not(.tagify--mix):not(.tagify--select) .tagify__tag>div {
    padding: .3em .5em;
    padding: .3em .5em
}

@keyframes readonlyStyles {
    0% {
        background: -o-linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 50%, #e5e5e5 50%, #e5e5e5 75%, transparent 75%, transparent) 0/5px 5px;
        background: linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 50%, #e5e5e5 50%, #e5e5e5 75%, transparent 75%, transparent) 0/5px 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-filter: brightness(.95);
        filter: brightness(.95)
    }
}

.tagify[disabled] .tagify__tag__removeBtn,
.tagify[readonly] .tagify__tag__removeBtn {
    display: none
}

.tagify--loading .tagify__input>br:last-child {
    display: none
}

.tagify--loading .tagify__input::before {
    content: none
}

.tagify--loading .tagify__input::after {
    content: "";
    vertical-align: middle;
    opacity: 1;
    width: .7em;
    height: .7em;
    width: .8em;
    height: .8em;
    border: 3px solid;
    border-color: #eee #bbb #888 transparent;
    border-radius: 50%;
    -webkit-animation: rotateLoader .4s infinite linear;
    animation: rotateLoader .4s infinite linear;
    content: "" !important;
    margin: -2px 0 -2px .5em
}

.tagify--loading .tagify__input:empty::after {
    margin-left: 0
}

.tagify+input,
.tagify+textarea {
    position: absolute !important;
    left: -9999em !important;
    -webkit-transform: scale(0) !important;
    -ms-transform: scale(0) !important;
    transform: scale(0) !important
}

.tagify__tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4px;
    position: relative;
    z-index: 1;
    outline: 0;
    line-height: normal;
    cursor: default;
    -webkit-transition: .13s ease-out;
    -o-transition: .13s ease-out;
    transition: .13s ease-out;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, .16);
    border: 1px solid transparent
}

.tagify__tag>div {
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    padding: 4px 4px 4px 12px;
    color: #17191B !important;
    line-height: inherit;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-transition: .13s ease-out;
    -o-transition: .13s ease-out;
    transition: .13s ease-out
}

.tagify__tag>div>* {
    white-space: pre-wrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    min-width: 1ch;
    max-width: auto;
    min-width: 1ch;
    max-width: auto;
    -webkit-transition: .8s ease, .1s color;
    -o-transition: .8s ease, .1s color;
    transition: .8s ease, .1s color
}

.tagify__tag>div>[contenteditable] {
    outline: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
    margin: -2px;
    padding: 2px;
    max-width: 350px
}

.tagify__tag>div::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: 120ms ease;
    -o-transition: 120ms ease;
    transition: 120ms ease
}

.tagify__tag:focus div::before,
.tagify__tag:hover:not([readonly]) div::before {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px
}

.tagify__tag--loading {
    pointer-events: none
}

.tagify__tag--loading .tagify__tag__removeBtn {
    display: none
}

.tagify__tag--loading::after {
    content: "";
    vertical-align: middle;
    opacity: 1;
    width: .7em;
    height: .7em;
    width: .8em;
    height: .8em;
    border: 3px solid;
    border-color: #eee #bbb #888 transparent;
    border-radius: 50%;
    -webkit-animation: rotateLoader .4s infinite linear;
    animation: rotateLoader .4s infinite linear;
    margin: 0 .5em 0 -.1em
}

.tagify__tag--loading::after::after {
    height: .4em
}

.tagify__tag--loading::after::after {
    width: .4em
}

.tagify__tag--flash div::before {
    -webkit-animation: none;
    animation: none
}

.tagify__tag--hide {
    width: 0 !important;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transition: .3s;
    pointer-events: none
}

.tagify__tag--hide>div>* {
    white-space: nowrap
}

.tagify__tag.tagify--noAnim>div::before {
    -webkit-animation: none;
    animation: none
}

.tagify__tag.tagify--notAllowed {
    background-color: #ff4242
}

.tagify__tag.tagify--invalid {
    background-color: #ff4242
}

.tagify__tag.tagify--invalid div>span,
.tagify__tag.tagify--notAllowed div>span {
    color: #fff !important
}

.tagify__tag.tagify--notAllowed:not(.tagify__tag--editable) div::before {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.tagify__tag[readonly] .tagify__tag__removeBtn {
    display: none
}

.tagify__tag[readonly]>div::before {
    -webkit-animation: readonlyStyles 1s calc(-1s * (1 - 1)) paused;
    animation: readonlyStyles 1s calc(-1s * (1 - 1)) paused
}

@keyframes readonlyStyles {
    0% {
        background: -o-linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 50%, #e5e5e5 50%, #e5e5e5 75%, transparent 75%, transparent) 0/5px 5px;
        background: linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 50%, #e5e5e5 50%, #e5e5e5 75%, transparent 75%, transparent) 0/5px 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-filter: brightness(.95);
        filter: brightness(.95)
    }
}

.tagify__tag--editable>div {
    color: #000;
    color: #000
}

.tagify__tag--editable:not(.tagify--invalid) {
    border: 1px solid rgba(255, 255, 255, .24)
}

.tagify__tag--editable>.tagify__tag__removeBtn {
    pointer-events: none
}

.tagify__tag--editable>.tagify__tag__removeBtn::after {
    opacity: 0;
    -webkit-transform: translateX(100%) translateX(5px);
    -ms-transform: translateX(100%) translateX(5px);
    transform: translateX(100%) translateX(5px)
}

.tagify__tag__removeBtn {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    background: 0 0;
    background: 0 0;
    color: #000;
    color: #000;
    width: 16px;
    height: 16px;
    margin-right: 4.6666666667px;
    margin-left: auto;
    overflow: hidden;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    background-image: url("data:image/svg+xml,%3Csvg id='_24x24-close' data-name='24x24-close' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Crect id='boundingbox' width='16' height='16' fill='rgba(255,255,255,0.56)' opacity='0'/%3E%3Cpath id='Exclusion_7' data-name='Exclusion 7' d='M6,12a6,6,0,1,1,6-6A6.007,6.007,0,0,1,6,12ZM6,6.754H6l1.969,1.97.755-.753L6.756,6,8.725,4.03,7.97,3.276,6,5.245,4.031,3.276l-.755.754L5.246,6,3.276,7.97l.755.753L6,6.754Z' transform='translate(2 2)' fill='rgba(255,255,255,0.56)'/%3E%3C/svg%3E%0A")
}

.tagify__tag__removeBtn::after {
    -webkit-transition: .3s, color 0s;
    -o-transition: .3s, color 0s;
    transition: .3s, color 0s
}

.tagify__tag__removeBtn:hover {
    color: #fff
}

.tagify:not(.tagify--mix) .tagify__input br {
    display: none
}

.tagify:not(.tagify--mix) .tagify__input * {
    display: inline;
    white-space: nowrap
}

.tagify__input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: inline-block;
    min-width: 110px;
    margin: 5px;
    padding: .3em .5em;
    padding: .3em .5em;
    line-height: normal;
    position: relative;
    white-space: pre-wrap;
    color: inherit;
    color: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.tagify__input:focus {
    outline: 0
}

.tagify--focus:not([readonly])~.input-frame {
    border: 1px solid #17191B;
    outline: 0
}

.tagify__input:focus::before {
    opacity: 0;
    -webkit-transform: translatex(6px);
    -ms-transform: translatex(6px);
    transform: translatex(6px)
}

@supports (-ms-ime-align:auto) {
    .tagify__input:focus::before {
        display: none
    }
}

.tagify__input:focus:empty::before {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .25)
}

@-moz-document url-prefix() {
    .tagify__input:focus:empty::after {
        display: none
    }
}

.tagify__input::before {
    content: attr(data-placeholder);
    margin: auto 0;
    z-index: 1;
    font-size: 16px;
    color: rgba(255, 255, 255, .4);
    white-space: nowrap;
    pointer-events: none;
    left: 0;
    position: absolute
}

.tagify__input::after {
    content: attr(data-suggest);
    display: inline-block;
    white-space: pre;
    color: #000;
    opacity: .3;
    pointer-events: none;
    max-width: 100px
}

.tagify__input .tagify__tag {
    margin: 0 1px
}

.tagify--mix {
    display: block
}

.tagify--mix .tagify__input {
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    display: block
}

.tagify--mix .tagify__input::before {
    height: auto;
    display: none;
    line-height: inherit
}

.tagify--mix .tagify__input::after {
    content: none
}

.tagify--select::after {
    content: ">";
    opacity: .5;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    font: 16px monospace;
    line-height: 8px;
    height: 8px;
    pointer-events: none;
    -webkit-transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg);
    -ms-transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg);
    transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg)
}

.tagify--select[aria-expanded=true]::after {
    -webkit-transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2);
    -ms-transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2);
    transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2)
}

.tagify--select .tagify__tag {
    position: absolute;
    top: 0;
    right: 1.8em;
    bottom: 0
}

.tagify--select .tagify__tag div {
    display: none
}

.tagify--select .tagify__input {
    width: 100%
}

.tagify--empty .tagify__input::before {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: inline-block;
    width: auto
}

.tagify--mix .tagify--empty .tagify__input::before {
    display: inline-block
}

.tagify__dropdown {
    position: absolute;
    z-index: 9999;
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    overflow: hidden
}

.tagify__dropdown[placement=top] {
    margin-top: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.tagify__dropdown[placement=top] .tagify__dropdown__wrapper {
    border-top-width: 1.1px;
    border-bottom-width: 0
}

.tagify__dropdown[position=text] {
    -webkit-box-shadow: 0 0 0 3px rgba(#3595f6, .1);
    box-shadow: 0 0 0 3px rgba(#3595f6, .1);
    font-size: .9em
}

.tagify__dropdown[position=text] .tagify__dropdown__wrapper {
    border-width: 1px
}

.tagify__dropdown__wrapper {
    max-height: 300px;
    overflow: auto;
    background: #fff;
    background: #fff;
    border: 1px solid #3595f6;
    border-color: #3595f6;
    border-bottom-width: 1.33px;
    border-top-width: 0;
    -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
    -webkit-transition: .25s cubic-bezier(0, 1, .5, 1);
    -o-transition: .25s cubic-bezier(0, 1, .5, 1);
    transition: .25s cubic-bezier(0, 1, .5, 1)
}

.tagify__dropdown--initial .tagify__dropdown__wrapper {
    max-height: 20px;
    -webkit-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    transform: translateY(-1em)
}

.tagify__dropdown--initial[placement=top] .tagify__dropdown__wrapper {
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em)
}

.tagify__dropdown__item {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: .3em .5em;
    margin: 1px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    outline: 0
}

.tagify__dropdown__item--active {
    background: #3595f6;
    background: #3595f6;
    color: #fff
}

.tagify__dropdown__item:active {
    -webkit-filter: brightness(105%);
    filter: brightness(105%)
}

.color-block {
    max-width: 100%;
    width: 158px;
    min-height: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, .08);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, .08)
}

.color-block-color {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px
}

.color-block-info {
    padding: 10px;
    font-size: 12px;
    line-height: 1.6
}

.color-block-label {
    opacity: .8
}

.color-block-sample {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    display: inline-block
}

.input-eye {
    background-image: url(../media/icons-color/default/solid/eye.6142eeca.svg);
    position: relative
}

.eye-slash {
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    height: 3px;
    background-color: rgba(255, 255, 255, .88);
    border-bottom: 1px solid #0e1012;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0%
}

.input-eye>input:checked~.eye-slash {
    width: 100%
}

.pagination {
    font-size: 0
}

.pagination-item {
    font-size: 13px;
    display: inline-block;
    background-color: transparent;
    margin: 0 4px;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    vertical-align: middle
}

.pagination-item img {
    width: 16px
}

.pagination-item:first-child,
.pagination-item:last-child {
    margin: 0
}

.pagination-item:not(.pagination-active):hover {
    background-color: rgba(255, 255, 255, .24)
}

.pagination-dots {
    color: #b7c0cd;
    cursor: default
}

.pagination-last {
    width: 40px;
    height: 30px
}

.pagination-back,
.pagination-dots,
.pagination-next,
.pagination-number {
    width: 36px;
    height: 36px
}

.pagination-active {
    background-color: #17191B;
    color: #fff
}

.pagination-back,
.pagination-next {
    position: relative
}

.pagination-back:before,
.pagination-next:before {
    background-size: 24px auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: ""
}

.pagination-next:before {
    background-image: url(../media/icons-color/default/default/chevron-right.351ab4d3.svg)
}

.pagination-back:before {
    background-image: url(../media/icons-color/default/default/chevron-left.3a84e1c6.svg)
}

.pagination-item-disabled {
    opacity: .4;
    cursor: default
}

.pagination-item.pagination-item-disabled:not(.pagination-active) {
    background-color: transparent
}

.input-otp-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 8px
}

.input-otp-inner>input {
    background-color: rgba(255, 255, 255, .12);
    height: 64px;
    max-width: 46px;
    padding: 0;
    text-align: center;
    font-size: 40px;
    outline: 0;
    border: 1px solid transparent;
    margin-right: 12px;
    border-radius: 10px;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    width: 16.6777%
}

.input-otp-inner>input:focus {
    border: 1px solid #17191B
}

.input-otp-inner>input:last-child {
    margin-right: 0
}

.steps {
    position: relative;
    padding-bottom: 32px
}

.steps__wrap {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    position: relative
}

.steps__item {
    -ms-flex-preferred-size: calc(12.5% - 36px);
    flex-basis: calc(12.5% - 36px);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    color: rgba(255, 255, 255, .56)
}

.steps__item:first-child,
.steps__item:last-child {
    -webkit-box-flex: .5;
    -ms-flex-positive: .5;
    flex-grow: .5;
    -ms-flex-preferred-size: caclc(6.25% - 18px);
    flex-basis: caclc(6.25% - 18px)
}

.steps__item::before {
    content: "";
    top: 18px;
    height: 2px;
    width: calc(50% - 18px);
    position: absolute;
    background-color: rgba(255, 255, 255, .12)
}

.steps__item::after {
    content: "";
    top: 18px;
    height: 2px;
    width: calc(50% - 18px);
    position: absolute;
    background-color: rgba(255, 255, 255, .12)
}

.steps__item:first-child::after,
.steps__item:last-child::before {
    width: calc(100% - 36px)
}

.steps__item:first-child::before,
.steps__item:last-child::after {
    display: none
}

.steps__item.active .steps__circle {
    border-color: #17191B
}

.steps__item.checked .steps__circle {
    color: #17191B
}

.steps__item.checked.active::after {
    background-color: #17191B
}

.steps__item.checked.active::before {
    background-color: #17191B
}

.steps__item.active:not(.checked)::before {
    background-color: #17191B
}

.steps__item.active:not(.checked) .steps__circle {
    background: -o-linear-gradient(330deg, #17191B 0, #074c31 100%);
    background: linear-gradient(120deg, #17191B 0, #074c31 100%)
}

.steps__item.active:not(.checked) {
    color: rgba(255, 255, 255, .88)
}

.steps__item::before {
    left: 0
}

.steps__item::after {
    right: 0
}

.steps__inner {
    display: inline-block;
    position: relative;
    z-index: 4
}

.steps__item:not(:first-child):not(:last-child) {
    text-align: center
}

.steps__item:last-child {
    text-align: right
}

.steps__circle {
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 10px auto;
    border: 2px solid rgba(255, 255, 255, .24);
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, .7)
}

.steps__item:first-child .steps__circle {
    margin-left: 0;
    margin-right: auto
}

.steps__item:last-child .steps__circle {
    margin-left: auto;
    margin-right: 0
}

@media (max-width:576px) {
    .steps__txt {
        display: none
    }
}

.main-footer {
    padding: 24px 0;
    width: 100%;
    border-top: 1px solid #C0C2C3
}

@media (max-width:1199px) {
    .main-footer {
        padding-left: 16px;
        padding-right: 16px
    }
}

.header {
    position: fixed;
    top: 0;
    width: calc(100% - 584px);
    background-color: rgba(23, 28, 31, .6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 90
}

.header-desktop {
    height: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 32px
}

/* .main--with-header .main-inner {
    padding-top: 109px
} */

.header-mobile {
    border-bottom: 1px solid rgba(255, 255, 255, .12)
}

.header-mobile .header-logo img {
    max-height: 40px
}

.header-mobile .avatar-main {
    margin-right: 12px
}

.header-placeholder {
    width: 50px
}

@media (max-width:1199px) {
    .header-desktop {
        display: none
    }

    .main--with-header .main-inner {
        padding-top: 74px
    }
}

@media (min-width:1200px) {
    .header-mobile {
        display: none
    }
}

.sidebar-special-trigger {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block
}

.bg-home--with-sidebar,
.header--with-sidebar,
.main--with-sidebar {
    margin-left: 70px;
    /* margin-right: 160px */
}

.main--hide-sidebar-right {
    margin-right: 0
}

@media (max-width:1199px) {
    .main {
        -webkit-transition: .2s opacity ease-in-out;
        -o-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out
    }

    .bg-home--with-sidebar,
    .header--with-sidebar,
    .main--with-sidebar {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }
}

@media (max-width:599px) {
    .main--with-sidebar {
        margin: 0
    }
}

.sidebar {
    position: fixed;
    top: 0;
    width: 240px;
    background-color: #171c1f;
    color: inherit;
    z-index: 90;
    overflow-y: auto;
    padding-bottom: 30px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    -webkit-box-shadow: inset 0 10px 40px rgba(0, 0, 0, .03);
    box-shadow: inset 0 10px 40px rgba(0, 0, 0, .03)
}

@media (max-width:1199px) {
    .sidebar {
        z-index: 101
    }
}

@media (min-width:992px) {
    .style-scrollbar::-webkit-scrollbar {
        width: 4px
    }

    .style-scrollbar::-webkit-scrollbar-thumb {
        background-color: #2d373d;
        position: absolute;
        right: 0
    }

    .style-scrollbar::-webkit-scrollbar-track {
        width: 17px
    }
}

@media (max-width:480px) {
    .sidebar {
        width: 80vw
    }
}

.sidebar::-webkit-scrollbar-thumb {
    background: 0 0
}

.sidebar:hover::-webkit-scrollbar {
    width: 4px
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #e0e4eb;
    border-radius: 10px
}

.sidebar:hover::-webkit-scrollbar-track {
    width: 17px
}

.sidebar__list {
    position: relative
}

.sidebar__list.active:after {
    width: 2px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    content: ""
}

.sidebar__list.active>.sidebar__item .txt {
    color: rgba(255, 255, 255, .88);
    line-height: 1.4
}

@media (max-width:1199px) {
    .sidebar__list.active:after {
        height: 46px
    }
}

.sidebar__list.active>.sidebar__item>.text {
    color: inherit;
    font-size: 14px
}

.sidebar table {
    height: 100%
}

.sidebar__item {
    min-height: 30px;
    color: rgba(255, 255, 255, .56) !important;
    cursor: pointer;
    text-decoration: none !important;
    background-color: transparent;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sidebar__item:hover {
    color: rgba(255, 255, 255, .88) !important
}

@media (max-width:1199px) {
    .sidebar__item {
        height: 45px
    }
}

.sidebar__item.active .text {
    color: #fff
}

.sidebar__item:not([data-control]) {
    -webkit-tap-highlight-color: rgba(223, 228, 235, .1)
}

.sidebar__item:active,
.sidebar__item:focus,
.sidebar__item:hover {
    color: inherit
}

/* @media (min-width:1025px) {
    .sidebar__item:hover {
        background-color: #171c1f
    }

    .sidebar__item:focus {
        background-color: #171c1f
    }

    .sidebar__item:active {
        background-color: #171c1f
    }
} */

.sidebar__item .ic {
    width: 16px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative
}

.sidebar__item .ic-arrow {
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.d%7Bfill:none;%7D.a%7Bstroke:%23a1c038;opacity:0;%7D.a,.b%7Bstroke-miterlimit:10;%7D.b%7Bstroke:rgba(255,255,255,0.56);stroke-width:1.36px;%7D.c%7Bstroke:none;%7D%3C/style%3E%3C/defs%3E%3Cg class='a'%3E%3Crect class='c' width='10' height='10'/%3E%3Crect class='d' x='0.5' y='0.5' width='9' height='9'/%3E%3C/g%3E%3Cpath class='b' d='M4.023,0,0,4.022,4.023,8.045' transform='translate(3.042 1.215)'/%3E%3C/svg%3E");
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease
}

.open>.sidebar__item>.ic-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.d%7Bfill:none;%7D.a,.b%7Bstroke:%23a1c038;stroke-miterlimit:10;%7D.a%7Bopacity:0;%7D.b%7Bstroke-width:1.36px;%7D.c%7Bstroke:none;%7D%3C/style%3E%3C/defs%3E%3Cg class='a'%3E%3Crect class='c' width='10' height='10'/%3E%3Crect class='d' x='0.5' y='0.5' width='9' height='9'/%3E%3C/g%3E%3Cpath class='b' d='M4.023,0,0,4.022,4.023,8.045' transform='translate(3.042 1.215)'/%3E%3C/svg%3E")
}

.open>.sidebar__item>.txt {
    color: #17191B
}

.sidebar__item .txt {
    padding: 3px 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    font-size: 16px;
}

.sidebar__item .ic:last-child {
    text-align: right;
    width: 40px;
    padding-right: 12px
}

.sidebar__sub__wrap {
    padding-left: 16px
}

.sidebar__sub__wrap>.sidebar__list>.sidebar__item::before {
    display: inline-block;
    content: "•";
    padding-right: 8px
}

.sidebar__sub .sidebar__item {
    opacity: 0;
    -webkit-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    transform: translate(0, -30%);
    -webkit-transition: .3s opacity ease-in-out, .3s transform ease-in-out;
    -webkit-transition: .3s opacity ease-in-out, .3s -webkit-transform ease-in-out;
    transition: .3s opacity ease-in-out, .3s -webkit-transform ease-in-out;
    -o-transition: .3s opacity ease-in-out, .3s transform ease-in-out;
    transition: .3s opacity ease-in-out, .3s transform ease-in-out;
    transition: .3s opacity ease-in-out, .3s transform ease-in-out, .3s -webkit-transform ease-in-out
}

@media (max-width:1199px) {
    .sidebar__sub .sidebar__item {
        height: 40px
    }
}

[data-accordion].open .sidebar__item {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.sidebar__list .notify {
    top: 5%;
    right: 10%;
    -webkit-box-shadow: none;
    box-shadow: none
}

@media (max-width:1199px) {
    .sidebar {
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }

    .sidebar-left-main {
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }

    .sidebar-left-main,
    .sidebar:not(.sidebarswipe) {
        -webkit-transition: .2s all ease-in-out;
        -o-transition: .2s all ease-in-out;
        transition: .2s all ease-in-out
    }

    #sidebar-left-main-trigger:checked~.sidebar-left-main,
    #sidebar-trigger:checked~.sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@media (min-width:1200px) {
    #sidebar-trigger:checked~.sidebar {
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@media (min-width:1200px) {
    #sidebar-trigger:checked~.main {
        margin-left: 20px
    }

    .sidebar-overlay {
        line-height: 0;
        display: none
    }
}

@media (max-width:1199px) {
    .sidebar-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 101;
        background-color: #0e1012;
        pointer-events: none;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        -o-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out
    }
}

@media (max-width:1199px) {

    #sidebar-left-main-trigger:checked+.sidebar-overlay,
    #sidebar-trigger:checked+.sidebar-overlay {
        opacity: .88;
        pointer-events: all
    }
}

.sidebar-left {
    padding-left: 72px;
    height: 100%;
    border-right: 1px solid #EAEBEC;
}

.sidebar-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 72px;
    height: 100%;
    background-color: #FAFAFA;
}

.sidebar-mini__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.sidebar-mini__item {
    width: 48px;
    height: 48px;
    text-align: center;
    display: block;
    line-height: 48px;
    margin: 0 auto 12px auto;
    cursor: pointer;
    border-radius: 16px;
    z-index: 2;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sidebar-mini__body {
    position: relative;
    padding-top: 12px;
    background-color: #315A7F;
}

.sidebar-mini__item:hover {
    background-color: rgba(255, 255, 255, .12)
}

.sidebar-mini__item--bot {
    margin-top: auto
}

.sidebar-mini__item--bot~.sidebar-mini__item--bot {
    margin-top: 0
}

.sidebar-mini__item .icon {
    height: 24px;
    width: 24px
}

.sidebar-mini-active {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 16px;
    z-index: 1;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    background-color: #a626aa;
    opacity: 0
}

.sidebar-mini-active.show {
    opacity: 1
}

.sidebar-mini__header {
    display: none
}

.sidebar-left {
    width: auto;
    left: 0;
    min-width: 72px;
    padding-bottom: 0;
}

.sidebar-left-content,
.sidebar-left-inner {
    width: 310px;
    max-width: calc(100vw - 100px);
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    position: relative
}

.sidebar-left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.sidebar-menu {
    width: 100%;
    display: none;
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    overflow-y: scroll
}

.sidebar-menu>.title {
    margin-bottom: 16px
}

.style-srcoll-cover {
    position: relative
}

/* .style-srcoll-cover::after,
.style-srcoll-cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    z-index: 5
}

.style-srcoll-cover::before {
    top: 0;
    background: -o-linear-gradient(top, #171c1f 50%, rgba(23, 28, 31, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #171c1f), to(rgba(23, 28, 31, 0)));
    background: linear-gradient(180deg, #171c1f 50%, rgba(23, 28, 31, 0) 100%)
}

.style-srcoll-cover::after {
    bottom: 0;
    background: -o-linear-gradient(0, #171c1f 50%, rgba(23, 28, 31, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(50%, #171c1f), to(rgba(23, 28, 31, 0)));
    background: linear-gradient(0, #171c1f 50%, rgba(23, 28, 31, 0) 100%)
} */

.style-srcoll-cover.style-srcoll-invert::before {
    background: -o-linear-gradient(top, #0e1012 50%, rgba(14, 16, 18, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0e1012), to(rgba(14, 16, 18, 0)));
    background: linear-gradient(180deg, #0e1012 50%, rgba(14, 16, 18, 0) 100%)
}

.style-srcoll-cover.style-srcoll-invert::after {
    background: -o-linear-gradient(0, #0e1012 50%, rgba(14, 16, 18, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(50%, #0e1012), to(rgba(14, 16, 18, 0)));
    background: linear-gradient(0, #0e1012 50%, rgba(14, 16, 18, 0) 100%)
}

.sidebar-left {
    overflow: hidden
}

.sidebar-mini__item>label {
    width: 100%;
    height: 100%;
    cursor: pointer
}

.sidebar-right-expand-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none
}

.sidebar-left-content,
.sidebar-left-inner {
    height: 100%
}

.sidebar-left-back-btn {
    position: relative;
    z-index: 3;
    cursor: pointer;
    padding: 16px;
    padding-left: 44px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7' viewBox='0 0 4 7'%3E%3Cpath id='Path_564' data-name='Path 564' d='M6.146.146a.5.5,0,1,1,.708.708l-3,3a.5.5,0,0,1-.692.015l-3-2.75A.5.5,0,0,1,.838.381L3.485,2.808Z' transform='translate(4) rotate(90)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-position: center left 30px;
    background-repeat: no-repeat;
    display: none
}

.sidebar-input-trigger:not(#sidebar-left-close):checked~.sidebar-left-content {
    width: 310px
}

.hidden-menu-mobile,
.show-menu-mobile {
    display: none;
    pointer-events: none
}

@media (min-width:1200px) {
    .sidebar-input-trigger:checked:not(#sidebar-left-close)~.sidebar-right-expand-overlay {
        display: block
    }

    .sidebar-left-top {
        padding-top: 16px
    }

    .sidebar-left-back-btn {
        display: block;
        left: 0;
        width: 100%;
        top: 0;
        margin: 0;
        z-index: 5
    }

    .sidebar-left-content {
        width: 0;
        overflow: hidden
    }

    .hidden-menu-mobile {
        display: block;
        pointer-events: all
    }
}

@media (max-width:1199px) {

    .sidebar-left,
    .sidebar-mini {
        border-radius: 0
    }

    .show-menu-mobile {
        display: block;
        pointer-events: all
    }

    .sidebar-mini__item.active:nth-child(2)~.sidebar-mini-active {
        top: 80px
    }

    .sidebar-mini__header {
        display: block;
        padding-top: 12px
    }

    .sidebar-menu {
        padding-top: 33px
    }

    .sidebar-left-inner::before {
        height: 30px
    }

    .sidebar-input-trigger:not(:checked)~.sidebar-mini .sidebar-mini-active {
        top: 72px;
        opacity: 1
    }
}

.sidebar-special-trigger {
    display: block !important
}

a.sidebar-special-trigger {
    z-index: 99;
    pointer-events: all !important
}

#sidebar-left-close:checked~.sidebar-mini [for=sidebar-left-close] .icon:not(:only-child),
.sidebar-mini__item.active .icon:not(:only-child) {
    opacity: 0
}

.sidebar-mini .icon-alt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

#sidebar-left-close:checked~.sidebar-mini [for=sidebar-left-close] .icon-alt,
#sidebarReport:checked~.sidebar-mini [for=sidebarReport] .icon-alt,
#sidebarSetting:checked~.sidebar-mini [for=sidebarSetting] .icon-alt,
#sidebarUtilities:checked~.sidebar-mini [for=sidebarUtilities] .icon-alt,
.sidebar-mini__item.active .icon-alt {
    display: block
}

.sidebar-left-main-footer {
    padding-top: 16px
}

.sidebar-left-main {
    background: #FAFAFA;
    box-shadow: 0px 0px 32px 64px rgba(151, 156, 168, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    width: 470px
}

.sidebar-left-main-header {
    margin-bottom: 32px
}

.sidebar-left-main .logo>img {
    margin-bottom: 8px;
    margin-top: 8px
}

.sidebar-left-main-inner {
    padding: 24px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll
}

.sidebar-left-main .sidebar-mini__item {
    margin-right: 0;
    margin-bottom: 0
}

.sidebar-left-main-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.sidebar-left-main-header .show-menu-mobile .logo img {
    height: 24px
}

@media (min-width:1200px) {
    .sidebar-left-main {
        padding-left: 73px
    }
}

@media (max-width:1199px) {
    .sidebar-left-main-inner {
        padding-top: 12px
    }

    .sidebar-left-main-header {
        margin-bottom: 12px
    }

    .sidebar-left-main {
        right: 0;
        left: auto;
        max-width: 80vw;
        min-width: 300px;
        z-index: 199
    }
}

.sidebar-right {
    position: fixed;
    z-index: 80;
    right: 0;
    width: 160px;
    background-color: #0e1012
}

.sidebar-right-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.sidebar-right-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto
}

.sidebar-right-body-inner {
    overflow-y: auto;
    height: 100%;
    padding: 24px 20px
}

.sidebar-right-body-inner>.section {
    padding: 24px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .12)
}

.sidebar-right-footer {
    padding: 24px 20px
}

.sidebar-right-body>.section:last-child {
    border-bottom: 0
}

@media (max-width:1199px) {
    .sidebar-right {
        width: 100%;
        top: 50px;
        height: 60px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: .2s all ease-in-out;
        -o-transition: .2s all ease-in-out;
        transition: .2s all ease-in-out
    }

    .sticky-fav {
        opacity: 1;
        pointer-events: all
    }

    .sidebar-right {
        width: 100%
    }

    .sidebar-right-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .sidebar-right-body-inner {
        overflow-y: hidden;
        overflow-x: auto;
        padding: 0 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .sidebar-right-body-inner .list-link-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .sidebar-right-body-inner>.section {
        padding: 0;
        border-bottom: 0
    }

    .sidebar-right-footer {
        padding: 0 16px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        white-space: nowrap
    }

    .sidebar-right-body.style-srcoll-cover.style-srcoll-invert::after,
    .sidebar-right-body.style-srcoll-cover.style-srcoll-invert::before {
        height: 100%;
        width: 16px
    }

    .sidebar-right-body.style-srcoll-cover.style-srcoll-invert::before {
        left: 0;
        right: auto;
        background: -o-linear-gradient(left, #0e1012 50%, rgba(14, 16, 18, 0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0e1012), to(rgba(14, 16, 18, 0)));
        background: linear-gradient(90deg, #0e1012 50%, rgba(14, 16, 18, 0) 100%)
    }

    .sidebar-right-body.style-srcoll-cover.style-srcoll-invert::after {
        right: 0;
        left: auto;
        background: -o-linear-gradient(right, #0e1012 50%, rgba(14, 16, 18, 0) 100%);
        background: -webkit-gradient(linear, right top, left top, color-stop(50%, #0e1012), to(rgba(14, 16, 18, 0)));
        background: linear-gradient(-90deg, #0e1012 50%, rgba(14, 16, 18, 0) 100%)
    }

    .sidebar-right-inner .ubox-size-ic-xl {
        min-width: 44px;
        width: 44px;
        height: 44px
    }

    .sidebar-right-inner .ubox-size-ic-xl .ic-default {
        width: 24px;
        height: 24px
    }

    .sidebar-right-inner .title {
        display: none
    }

    .sidebar-right-inner .group-col-item,
    .sidebar-right-inner .link-card-main,
    .sidebar-right-inner .list-link-card {
        margin-bottom: 0 !important
    }

    .sidebar-right-inner .link-card-main {
        padding-right: 16px
    }

    .sidebar-right-footer .ubox-size-button-default {
        height: 36px
    }
}

.fav-section {
    margin: 24px 0 32px 0
}

.fav-section .group-col-item {
    margin-bottom: 12px
}

.fav-section .link-card-main {
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 10px;
    background-color: rgba(14, 16, 18, .15);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    height: 100%;
    padding: 12px
}