<div class="page-header">
    <div class="title-section">
      <div class="title1">Lịch sử chỉnh sửa</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
            <span class="txt1">Quản lý danh bạ</span>
          </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
            <span class="txt1">Danh bạ thụ hưởng</span>
          </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Lịch sử chỉnh sửa</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
</div>

<div class="mb-4" style="margin-left: 20px;">
    <div class="mb-4 container row" style="display: flex;margin-left: 10px;">
            <div class="common-card-header ">
              <div class="row row-data">
                <label class="col-2">Thời gian</label>
                <div class="col-4">
                    <input
                    class="form-control"
                    placeholder="Từ"
                    name=""
                    
                    ngbDatepicker
                    #a="ngbDatepicker"
                    />
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary fas fa-calendar-alt" (click)="a.toggle()" type="button"></button>
                    </div>
                </div>
                <div class="col-4">
                    <input
                    class="form-control"
                    placeholder="Đến"
                    name=""
                    
                    ngbDatepicker
                    #a="ngbDatepicker"
                    />
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary fas fa-calendar-alt" (click)="a.toggle()" type="button"></button>
                    </div>
                </div>
              </div>
            </div>
            <div  class="form-group madl col-4" >
            </div>
    </div>
    <div class="mb-4 container row" style="display: flex;margin-left: 10px;">
              
              <div class="table-cust">
                  <div class="header-top row">
                      <div class="userEdit col-6">
                          Người chỉnh sửa
                      </div>
                  
                  </div>
                  <div class="row">
                      <!-- <table border="1">
                          <thead>
                          <th class="title-table" width="30%">Dịch vụ</th>
                          <th class="title-table" width="30%">Hạn mức tối đa/giao dịch</th>
                          <th class="title-table" *ngIf="checkTabLL == true" width="30%">Tổng hạn mức giao dịch/ngày</th>
                          </thead>
                          <tbody formArrayName="transLimitCust" *ngIf="checkTabLL == true">
                              
                          <tr   [formGroupName]="i"
                          *ngFor="let e of itemLLs; index as i">
                              <td  scope="row" class="prodName"> 
                              {{e.productName}}
                              </td>   
                              <td> 
                                  <input
                                  type="text"
                                  formControlName="maxtrans"
                                  [(ngModel)]="e.maxtrans"
                                  [readonly]="isReadOnly()"
                                  class="form-control"
                                  maxlength="250"
                              />
                              </td>
                              <td> 
                              <input
                              type="text"
                              formControlName="maxdaily"
                              [(ngModel)]="e.maxdaily"
                              [readonly]="isReadOnly()"
                              class="form-control"
                              maxlength="250"
                              />
                              </td>     
                          </tr>
                          </tbody>
      
                          <tbody formArrayName="transLimitCust" *ngIf="checkTabDL == true">
                              
                              <tr   [formGroupName]="i"
                              *ngFor="let e of itemDLs; index as i">
                              <td  scope="row" class="prodName"> 
                                  {{e.productName}}
                              </td>   
                                  <td> 
                                  <input
                                  type="text"
                                  formControlName="maxtrans"
                                  [(ngModel)]="e.maxtrans"
                                  [readonly]="isReadOnly()"
                                  class="form-control"
                                  maxlength="250"
                                  />
                              </td>
                              </tr>
                          </tbody>
                      </table> -->
                  </div>
              </div>
    </div>
</div>