<div class="page-header">
    <div class="title-section">
      <div class="title1">Chỉnh sửa danh bạ</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Quản lý danh bạ</span>
        </a>
      <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
            <span class="txt1">Danh bạ thụ hưởng</span>
          </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Chỉnh sửa danh bạ</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
</div>
<div class="mb-4 col-10" style="margin-left: 20px;">
    <form class="formAdd" [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="mb-4 container row">
            <div class="column col-md-12" >
                <div class="col-md-4"><label>Loại chuyển tiền<span class="spanRq">*</span></label></div>
                <div class="col-md-8">
                    <div class="select-wrapper">
                        <ng-select id="product" formControlName="product" class="width-100p form-control " [(ngModel)]="item.product" >
                            <ng-option *ngFor="let product of products"  [value]="product.value">
                              {{product.name}}</ng-option>
                          </ng-select>
                    </div>
                    
                      <!-- <div class="select-wrapper">
                        <select id="product" formControlName="product" class="width-100p form-control "
                        [(ngModel)]="item.product">
                        <option *ngFor="let product of products" [value]="product.value">
                           {{product.name}}</option>
                        </select>
                      </div> -->
                     
                        <label class="f-left text-danger rq-input"
                        *ngIf="isFormSubmit && addForm.controls['product'].errors && addForm.controls['product'].errors['required']">Trường thông tin bắt buộc</label>
                </div>    
            </div>
            <div class="column col-md-12" >
                <div class="col-md-4"><label>Ngân hàng thụ hưởng<span class="spanRq">*</span></label></div>
                <div class="col-md-8">
                    <div class="select-wrapper">
                        <ng-select [items]="bankReceivings" class="form-control"  bindLabel="name"  [(ngModel)]="item.bankReceiving" formControlName="bankReceiving">
                        </ng-select>
                        <!-- <select id="bankReceiving" formControlName="bankReceiving"
                              class="width-100p form-control " [(ngModel)]="item.bankReceiving" >
                              <option *ngFor="let bankReceiving of bankReceivings" [ngValue]="bankReceiving">
                                {{bankReceiving.name}}</option>
                            </select> -->
                    </div>
                    <label class="f-left text-danger rq-input"
                        *ngIf="isFormSubmit && addForm.controls['bankReceiving'].errors && addForm.controls['bankReceiving'].errors['required']">Trường thông tin bắt buộc</label>
                </div>
            </div>
            <div class="column col-md-12">
                <div class="col-md-4"><label>Tên người hưởng<span class="spanRq">*</span></label></div>
                <div class="col-md-8">
                    <input type="text" placeholder="Tên người hưởng" class="form-control" id="receiveName" formControlName="receiveName"
                    [(ngModel)]="item.receiveName" maxlength="300">
                    <label class="f-left text-danger rq-input"
                    *ngIf="isFormSubmit && addForm.controls['receiveName'].errors && addForm.controls['receiveName'].errors['required']">Trường thông tin bắt buộc</label>
                </div>    
            </div>
            <div class="column col-md-12" >
                <div class="col-md-4"><label>Số tài khoản<span class="spanRq">*</span></label></div>
                <div class="col-md-8">
                    <input type="text" placeholder="Số tài khoản" class="form-control" id="receiveAccount" formControlName="receiveAccount"
                    [(ngModel)]="item.receiveAccount" maxlength="300">
                    <label class="f-left text-danger rq-input"
                    *ngIf="isFormSubmit && addForm.controls['receiveAccount'].errors && addForm.controls['receiveAccount'].errors['required']">Trường thông tin bắt buộc</label>
                </div>
            </div>
            <div class="column col-md-12">
                <div class="col-md-4"><label>Tên gợi nhớ</label></div>
                <div class="col-md-8">
                    <input type="text" placeholder="Tên gợi nhớ" class="form-control" id="" formControlName="sortname"
                    [(ngModel)]="item.sortname" maxlength="300">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 d-flex justify-content-end">
                <!-- <button type="button" class="btn btn-cancel" (click)="back()">Hủy</button> -->
                <button type="button" class="btn btn-cancel" (click)="back()">Hủy</button>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button type="submit" class="btn btn-cb">Lưu</button>
            </div>
          </div>
    </form>
    
  </div>
