.title1{
    font-size: 40px ;
    color: #0159aa;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 200;
}
.cb-bank{
    color: #0159aa;
    font-size: 40px ;
    margin-top: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
.note{
    margin-left: 0;
    font-size: 16px;
    // width: 500px;
    margin-top: 40px;
}
.card-body{
    margin-top: 40px;
    width: 1000px;
}
.row{
    padding-left: 20px;
}
.form-group{
    display: flex;
    padding-bottom: 10px;
    border-bottom:2px solid  #0159aa ;
    padding-top: 10px;
}
.icon{
    font-size: 55px;
}
.content{
    padding-left: 15px;
    padding-top: 8px;
    font-size: 16px;
}
.view{
    color: #0159aa;
    padding-top: 12px;
    font-weight: bold;
}