<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-header">
    <div class="title-section">
      <div class="title1">Liên hệ</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Hỗ trợ</span>
        </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Liên hệ</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
 </div>
 <div class="cb-bank">CBway Biz</div>
 <div class="contain">
    <div class="note">
        <p>Là dịch vụ ngân hàng trực tuyến cho phép Khách hàng thực hiện các giao dịch ngân hàng trên các thiết bị có kết nối Internet</p>
    </div>
    <div class="card-body">
        <form class="contactform">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="icon">
                  <i class="fa fa-phone-square" style="color: #0159aa;"></i>
                </div>
                <div class="content" >
                  <label>Hotline 24/7</label>
                  <div class="view">
                    {{item.hotline}}
                  </div>
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="icon">
                  <i class="fa fa-share-square" style="color: #0159aa;"></i>
                </div>
                <div class="content">
                  <label>Trụ sở chính</label>
                  <div class="view">
                    {{item.address}}
                  </div>
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="icon">
                  <i class="fa fa-envelope-square" style="color: #0159aa;"></i>
                </div>
                <div class="content">
                  <label>Email</label>
                  <div class="view">
                    {{item.email}}
                  </div>
                </div>      
              </div>
            </div>
          </div>  
           <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="icon">
                  <i class="fa fa-phone-square" style="color: #0159aa;"></i>
                </div>
                <div class="content">
                  <label>Số điện thoại</label>
                  <div class="view">
                    {{item.tel}}
                  </div>
                </div>      
              </div>
            </div>
           </div> 
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="icon">
                  <i class="fa fa-snapchat-square" style="color: #0159aa;"></i>
                </div>
                <div class="content">
                  <label>FAX</label>
                  <div class="view">
                    {{item.fax}}
                  </div>
                </div>      
              </div>
            </div>
          </div>
        </form>
    </div>
 </div>