<header class="header header--with-sidebar">
  <div class="header-inner">
    <div class="header-desktop">
      <div class="header-logo">
        <a href="pages/index.html"><img src="" alt="" /></a>
      </div>
    </div>
    <div class="header-mobile">
      <div class="row align-items-center">
        <div class="col-auto">
          <label
            for="sidebar-trigger"
            class="ubg-transparent ubox-size-button-lg ubox-square ubg-hover ubg-active ubtn"
          >
            <div class="ubtn-inner">
              <span class="ubtn-ic ubtn-ic-left">
                <img src="" alt="" class="ic-default" />
              </span>
            </div>
          </label>
        </div>
        <div class="col">
          <div class="text-center header-logo">
            <a href="pages/index.html"><img src="" alt="" /></a>
          </div>
        </div>
        <div class="col-auto">
          <div class="header-placeholder"></div>
        </div>
      </div>
    </div>
  </div>
</header>
