<div class="page-header">

</div>
<div class="trang-chu-box-group">
  <div class="box box-main box-main-sm height-100 mb-32">
    <div class="row graph">
      <div class="col-5">
        <a href="#">
          <div class="common-card trang-chu-card">
            <div>
              <div class="box-title">Tổng quỹ</div>
            </div>
            <div class="label-center">
              <label class="label-center-text">{{taiChinh | number: '2.'}}</label>
            </div>
          </div>
        </a>
      </div>
      <div class="col-7">
        <div class="row thong-ke">
          <label class="">Thống kê</label>
        </div>
        <div class="row" style="padding-top:4%">
          <div class="col-3">
            <div class="common-card thong-ke-card thong-ke-card-pink">
              <div class="label-text yellow">
                <span>Thành viên đội Hà Nam</span>
              </div>
              <div class="label-center-normal">
                <label class="label-center-text">{{haNamMembers}}</label>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="common-card thong-ke-card thong-ke-card-yellow">
              <div class="label-text yellow">
                <span>Thành viên đội <br> Hà Nội</span>
              </div>
              <div class="label-center-normal">
                <label class="label-center-text">{{haNoiMembers}}</label>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="common-card thong-ke-card thong-ke-card-blue">
              <div class="label-text blue">
                <span>Hoạt động đang thực hiện</span>
              </div>
              <div class="label-center-normal">
                <label class="label-center-text">{{totalUndone}}</label>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="common-card thong-ke-card thong-ke-card-green">
              <div class="label-text green" style="padding: 14px 14px;">
                <span>Hoạt động đã thực hiện</span>
              </div>
              <div class="label-center-normal">
                <label class="label-center-text">{{totalDone}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="box__body">

    </div>
  </div>
  <div class="box box-main box-main-sm height-100 mb-32">
    <div class="box__header">
      <div class="box-title">Top 5 thành viên có thành tích cao</div>
    </div>
    <div class="box__body">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="user-top" *ngFor="let item of members">
          <img src="assets/user.svg" class="user-img" />
          <span class="caption">{{item.fullname}}</span>
        </div>
        <!-- <div class="user-top">
          <img src="assets/user.svg" class="user-img" />
          <span class="caption">Nguyễn Văn B</span>
        </div>
        <div class="user-top">
          <img src="assets/user.svg" class="user-img" />
          <span class="caption">Nguyễn Văn C</span>
        </div>
        <div class="user-top">
          <img src="assets/user.svg" class="user-img" />
          <span class="caption">Nguyễn Văn D</span>
        </div>
        <div class="user-top">
          <img src="assets/user.svg" class="user-img" />
          <span class="caption">Nguyễn Văn E</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="box box-main box-main-sm height-100 mb-32">
    <div class="box__header">
      <div class="box-title">Tiến độ hoàn thành hoạt động</div>
    </div>
    <div class="box__body">
      <div class="common-table table-chuyen-tien">
        <div class="table-wrap table-responsive table-vertical-scroll">
          <div class="table-wrap-inner left-none">
            <table class="table-main table-sticky-ult table-strip">
              <thead>
                <tr>
                  <th style="width:20px">STT</th>
                  <th style="text-align: center;">Tên hoạt động</th>
                  <th style="width:500px">Tiến độ</th>
                </tr>
              </thead>
              <tbody *ngIf="asyncDataTran">
                <tr *ngFor="
  let item of asyncDataTran
    | paginate
      : {
          id: 'server',
          itemsPerPage: pageTrans.size,
          currentPage: pageTrans.curentPage,
          totalItems: totalTran
        };
  let i = index
">

                  <td class="stt">{{ getCurrentTranPageNumber(i + 1) }}</td>
                  <td style="text-align: center;">{{item.ma}}</td>
                  <td>
                    <div class="progress" style="height: 20px">
                      <div class="progress-bar" role="progressbar"
                        [style.width]="(item.progress/item.missionCurrent)*100 + '%'" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">

                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <pagination-controls id="server" [maxSize]="maxSizeTran" [autoHide]="autoHide" [responsive]="responsive"
              [previousLabel]="labelsTran.previousLabel" [nextLabel]="labelsTran.nextLabel"
              (pageChange)="searchActivities($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>