.trang-chu-box-group .group-row-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 50%;
}

.ic-bg {
      width: 48px;
      height: 48px;
      background: #D9E6F2;
      border-radius: 50%;
      padding: 12px;
      gap: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.trang-chu-box-group .img-item {
      margin-right: 16px;
}

.trang-chu-box-group .title {
      font-weight: 500;
      font-size: 16px;
      color: #20262C;
}

.page-header .title-section .title {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.003em;
      color: #17191B;
}

.page-header .title-section .sub-title {
      font-size: 16px;
      line-height: 24px;
      color: #727374;
}


.wrapper.banner {
      position: relative;
}

::ng-deep .owl-theme .owl-dots {
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
      width: 24px;
      height: 4px;
      background: #EAEBEC !important;
      border-radius: 100px;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
      background: #FDA601 !important;
      border: 0.5px solid #F4F5F6;
}

.header-banner {
      padding: 18px 20px;
}


.logo-image {
      background-image: url(/assets/img/clb-image.jpg);
      width: 6%;
      height: 20%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.header {
      padding-left: 40px;
}

.header .clb-name {
      color: rgb(241, 90, 45);
      padding: 15px 12px;
      font-size: 160%;
      font-weight: bold;
}

.user-logo {
      background-image: url(/assets/logo/user.svg);
      width: 30%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: hidden;
      background-color: white;
      float: right;
}

.logout-logo {
      background-image: url(/assets/logo/logout.svg);
      width: 30%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: hidden;
      background-color: white;
      float: right;
}

.menu {
      background-color: white;
}

.space {
      width: 2px;
      height: auto;
      display: inline-block;
}

.button-menu {
      background-color: rgb(12, 79, 137);
      color: white;
      height: 60px;
      width: 214px;
      border: hidden;
      font-size: 16px;
      font-weight: bold;
}

.row-menu {
      height: 50px;

}

.col-menu {
      height: 100%;

}


.button-menu:hover {
      color: black;
      background-color: rgb(245, 154, 35);
}





.body {
      padding: 30px 120px;
}


.table {
      padding: 30px 120px;
}

.text-body {
      font-size: xx-large;
      font-weight: 600;
}

.text-table {
      font-size: xx-large;
      font-weight: 600;
      padding-bottom: 40px;
}

.body-user {
      padding-top: 20px;
      height: 220px;
}

.user {
      max-height: 100%;
      width: 20%;
      padding-left: 40px;

}

.user-icon {
      content: '';
      background-image: url(/assets/logo/user.svg);
      width: 50%;
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.user-name {
      border-radius: 12px;
      background-color: rgb(255, 208, 2);
      width: 53%;
      font-size: 100%;
}

.graph .graph-row {
      padding-right: 10% !important;
}

.common-card {
      gap: 24px;
      background: rgb(255, 255, 250);
      box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      width: 100%;
      color: black;
}




.trang-chu-card {
      max-width: 340px;
      min-height: 240px;
      font-size: xx-large;
      font-weight: 600;
      position: relative;
}

.thong-ke-card {
      max-width: 150px;
      min-height: 170px;
      position: relative;
}

.thong-ke-card-pink:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      right: 0;
      background: rgb(236, 128, 141);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;

}

.thong-ke-card-yellow:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      right: 0;
      background: rgb(237, 196, 74);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.thong-ke-card-blue:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      right: 0;
      background: rgb(106, 190, 255);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.thong-ke-card-green:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      right: 0;
      background: rgb(0, 163, 136);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.lable-head {
      bottom: 0px;
      right: 0px;
}

.thong-ke {
      font-size: xx-large;
      font-weight: 600;
}

.label-center {
      padding-top: 12%;
      color: rgb(94, 146, 191);
      text-align: center;
      font-size: larger;
      font-weight: 650;
}

.label-center-normal {
      padding-top: 2%;
      color: rgb(51, 51, 51);
      text-align: center;
      font-size: xx-large !important;
      font-weight: 600;
}


.trang-chu-card::after {
      height: 240px;
      content: ' ';
      position: absolute;
      top: 0;
      width: 12%;
}

.trang-chu-card::after {
      right: 0;
      background-color: rgb(94, 146, 191);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
}

.progress-table {
      width: 300px;

}

.progress-table::after {
      height: 2%;
      content: ' ';
      position: absolute;
      width: 10%;
}

.progress-table::after {

      background-color: rgb(22, 155, 213);
      border-radius: 12px;
}

.progress-table::before {

      background-color: rgb(140, 140, 140);
      border-radius: 12px;
}

.progress-table::before {
      height: 2%;
      content: ' ';
      position: absolute;
      width: 30%;
}




.label-head {
      text-align: center;
}

.label-text {
      text-align: center;
      width: 100% !important;
      padding: 14px 8px;
      font-weight: 700;
}

.pink {
      color: rgb(236, 128, 141);
}

.yellow {
      color: rgb(237, 196, 74);
}

.blue {
      color: rgb(106, 190, 255);
}

.green {
      color: rgb(0, 163, 136);
}

.common-card-footer {
      background-color: rgb(236, 128, 141) !important;

}


.table {
      margin-bottom: unset !important;
      background: white;
}

.common-table {
      width: 100%;
      box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
            0px 1px 2px rgba(16, 24, 40, 0.06);
      border-color: #eaebec;

}

.table thead th {
      border-top: unset;
      background: #f4f5f6;
      border-bottom: 1px solid #eaebec;
      padding: 16px !important;
      font-weight: 600 !important;
      font-size: 18px;
      line-height: 14px;
      color: #727374;
}

.table td {
      border-top: unset !important;
      border-bottom: 1px solid #eaebec !important;
      padding: 26px 16px !important;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #727374;
}

th.option-cell,
td.option-cell {
      text-align: center;
}


.pagination-next a,
.ngx-pagination .disabled {
      width: max-content;
}

.pagination-next:before {
      width: 0% !important;
}

.table-top {
      margin-bottom: 16px;
      min-height: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
}

.table-top>.row {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1
}

.table-responsive {
      overflow: visible
}

.table-responsive>.table-wrap-inner {
      overflow: auto
}

.table-responsive>.table-wrap-inner thead tr {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
}

.table-responsive>.table-wrap-inner>.table-main td,
.table-responsive>.table-wrap-inner>.table-main th {
      white-space: nowrap
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-corner {
      background-color: #C0C2C3
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar {
      height: 4px
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
      background-color: #C0C2C3
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box
}

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb:hover {
      background-color: #3b474e
  } */

.table-vertical-scroll>.table-wrap-inner {
      max-height: 540px;
      position: relative;
      background: #FAFAFA;
      border: 1px solid #EAEBEC;
      box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
      border-radius: 8px;
}

/* .table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>th,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>th {
      border-top: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:first-child {
      border-left: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:last-child {
      border-right: 0
}

.table-main {
      min-width: 100%
}

.table-main th {
      text-transform: capitalize;
      background-color: #F4F5F6;
      height: 44px;
      text-align: center;
      vertical-align: middle;
}

.table-main td,
.table-main th {
      border: 1px solid #EAEBEC;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: black;
      min-height: 72px;
      padding: 0 16px;

}

.table-main td {
      line-height: 20px;
      text-align: left;
      vertical-align: middle;
} */

/* .table-strip>tbody>tr:hover {
      background-color: #fafafa !important;
  }
  
  .table-strip>tbody>tr:hover .sticky-ult {
      background-color: #fafafa !important;
  } */

.table-strip>tbody>tr:nth-of-type(odd) {
      background-color: #fafafa;
}

.table-strip>tbody>tr:nth-of-type(odd) .sticky-ult {
      background-color: #fafafa;
}

/* .table-strip.sticky-rnc>tbody>tr:hover .checkbox-cell {
      background-color: #fafafa !important;
  } */

.table-strip.sticky-rnc>tbody>tr:nth-of-type(odd) .checkbox-cell {
      background-color: #fafafa;
}

.table-sticky-ult {
      border-collapse: separate;
      border-spacing: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .12)
}

.table-sticky-ult td,
.table-sticky-ult th {
      border-bottom: 0
}

.table-sticky-ult td:not(:last-child),
.table-sticky-ult th:not(:last-child) {
      border-right: 0
}

.table-simple td,
.table-simple th {
      border-left: 0;
      border-right: 0;
      padding-left: 0;
      padding-right: 0
}

.table-simple th {
      border-top: 0
}

.table-equal {
      table-layout: fixed
}

.table-equal .cell-long {
      min-width: 0 !important
}

.table-space-lg td,
.table-space-lg th {
      padding-top: 12px;
      padding-bottom: 12px
}

.cell-long {
      white-space: normal !important
}

.sticky-ult {
      position: -webkit-sticky;
      position: sticky;

      background-color: #FAFAFA;
      -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .16);
      box-shadow: -2px 0 4px rgba(0, 0, 0, .16);
      text-align: center;
}

.sticky-rnc .checkbox-cell {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      background-color: #242c30;
      -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, .16);
      box-shadow: 2px 0 4px rgba(0, 0, 0, .16);
      text-align: right;
      z-index: 10
}

td.sticky-ult {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      padding-right: 8px
}

.ult-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: center;
}

.right-none .sticky-ult {
      -webkit-box-shadow: none;
      box-shadow: none
}

.record-and-pagination {
      margin-top: 16px
}

.table-wrap-inner-footer {
      padding: 16px 0;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      overflow: hidden
}

.table-main tr.error>td {
      background-color: #fafafa !important
}

.table-strip>tbody>tr.error:hover>td {
      background-color: #fafafa !important
}

.table-pagination-box {
      padding: 14px 16px 18px 16px;
}

.table-pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
}


.page-number {
      display: flex;
      align-items: center;
      gap: 2px;
}

.table-page-item {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #727374;
}

.cell-center {
      display: flex;
      align-items: center;
      justify-content: center;
}

.page-next,
.page-previous {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 93px;
      height: 36px;
      background: #FAFAFA;
      border: 1px solid #C0C2C3;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
}

.page-number>.table-page-item {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.page-number>.table-page-item.active {
      background: #D9E6F2;
      color: #015AAB;
}

.boder-td {
      /* border-bottom: 1px solid #EAEBEC; */
      color: #727374;
      border-width: 2px;
      border-style: solid;
}

.filter {
      padding-top: 2%;
      font-weight: 500;
      font-size: 18px;
}

.table-sticky-ult {
      border-collapse: separate;
      border-spacing: 0;
}

/* .table-sticky-ult td,
    .table-sticky-ult th {
        border-bottom: 0
    } */

.table-sticky-ult td:not(:last-child),
.table-sticky-ult th:not(:last-child) {
      border-right: 0
}

td.sticky-ult {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      padding-right: 8px
}

.ult-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: center;
}

.right-none .sticky-ult {
      -webkit-box-shadow: none;
      box-shadow: none
}

.tooltip {
      font-family: inherit
}

.tooltip-inner {
      color: rgba(0, 0, 0, .88);
      background-color: #fff;
      -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2)
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
      border-top-color: #fff
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
      border-right-color: #fff
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
      border-bottom-color: #fff
}

select {
      word-wrap: normal;
      padding: 4px 6px;
      width: 211px;
      font-size: 15px;
}

.graph {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
}

.body {
      padding: 30px 120px;
}


.table {
      padding: 30px 120px;
}

.text-body {
      font-size: xx-large;
      font-weight: 600;
}

.text-table {
      font-size: xx-large;
      font-weight: 600;
      padding-bottom: 40px;
}

.body-user {
      padding-top: 20px;
      height: 220px;
}

.user {
      max-height: 100%;
      width: 20%;
      padding-left: 40px;

}

.user-icon {
      content: '';
      background-image: url(/assets/logo/user.svg);
      width: 50%;
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.user-name {
      border-radius: 12px;
      background-color: rgb(255, 208, 2);
      width: 53%;
      font-size: 100%;
}

.graph .graph-row {
      padding-right: 10% !important;
}

.common-card {
      gap: 24px;
      background: rgb(255, 255, 250);
      box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      width: 100%;
      color: black;
}




.trang-chu-card {
      max-width: 340px;
      min-height: 240px;
      font-size: xx-large;
      font-weight: 600;
      position: relative;

}

.thong-ke-card {
      max-width: 150px;
      min-height: 170px;
      position: relative;
}



.thong-ke-card-yellow:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      background: rgb(237, 196, 74);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.thong-ke-card-blue:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      background: rgb(106, 190, 255);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.thong-ke-card-green:before {
      content: '';
      position: absolute;
      height: 5%;
      bottom: 0;
      background: rgb(0, 163, 136);
      width: 100%;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.lable-head {
      bottom: 0px;
      right: 0px;
}

.thong-ke {
      font-size: xx-large;
      font-weight: 600;
}

.label-center {
      padding-top: 12%;
      color: rgb(94, 146, 191);
      text-align: center;
      font-size: larger;
      font-weight: 650;
}

.label-center-normal {
      padding-top: 2%;
      color: rgb(51, 51, 51);
      text-align: center;
      font-size: xx-large !important;
      font-weight: 600;
}


.trang-chu-card::after {
      height: 240px;
      content: ' ';
      position: absolute;
      top: 0;
      width: 12%;
}

.trang-chu-card::after {
      right: 0;
      background-color: rgb(94, 146, 191);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
}

.progress-table {
      width: 300px;

}

.progress-table::after {
      height: 2%;
      content: ' ';
      position: absolute;
      width: 10%;
}

.progress-table::after {

      background-color: rgb(22, 155, 213);
      border-radius: 12px;
}

.progress-table::before {

      background-color: rgb(140, 140, 140);
      border-radius: 12px;
}

.progress-table::before {
      height: 2%;
      content: ' ';
      position: absolute;
      width: 30%;
}




.label-head {
      text-align: center;
}

.label-text {
      text-align: center;
      width: 100% !important;
      padding: 14px 8px;
      font-weight: 700;
}

.pink {
      color: rgb(236, 128, 141);
}

.yellow {
      color: rgb(237, 196, 74);
}

.blue {
      color: rgb(106, 190, 255);
}

.green {
      color: rgb(0, 163, 136);
}

.common-card-footer {
      background-color: rgb(236, 128, 141) !important;

}


.table {
      margin-bottom: unset !important;
      background: white;
}

.common-table {
      width: 100%;
      box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
            0px 1px 2px rgba(16, 24, 40, 0.06);
      border-color: #eaebec;

}

.table thead th {
      border-top: unset;
      background: #f4f5f6;
      border-bottom: 1px solid #eaebec;
      padding: 16px !important;
      font-weight: 400;
      font-size: 18px;
      line-height: 14px;
      color: #727374;
}

.table td {
      border-top: unset !important;
      border-bottom: 1px solid #eaebec !important;
      padding: 26px 16px !important;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #727374;
}

th.option-cell,
td.option-cell {
      text-align: center;
}


.pagination-next a,
.ngx-pagination .disabled {
      width: max-content;
}

.pagination-next:before {
      width: 0% !important;
}

.table-top {
      margin-bottom: 16px;
      min-height: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
}

.table-top>.row {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1
}

.table-responsive {
      overflow: visible
}

.table-responsive>.table-wrap-inner {
      overflow: auto
}

.table-responsive>.table-wrap-inner thead tr {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
}

.table-responsive>.table-wrap-inner>.table-main td,
.table-responsive>.table-wrap-inner>.table-main th {
      white-space: nowrap
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-corner {
      background-color: #C0C2C3
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar {
      height: 4px
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
      background-color: #C0C2C3
}

.table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box
}

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb:hover {
      background-color: #3b474e
  } */

.table-vertical-scroll>.table-wrap-inner {
      max-height: 540px;
      position: relative;
      background: #FAFAFA;
      border: 1px solid #EAEBEC;
      box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
      border-radius: 8px;
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>th,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>td,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>th {
      border-top: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:first-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:first-child {
      border-left: 0
}

.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:last-child,
.table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:last-child {
      border-right: 0
}

.table-main {
      min-width: 100%
}

.table-main th {
      text-transform: capitalize;
      background-color: #F4F5F6;
      height: 44px;
      text-align: center;
      vertical-align: middle;
}

/* .table-main td,
.table-main th {
      border: 1px solid #EAEBEC;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: black;
      min-height: 72px;
      padding: 0 16px;
}

.table-main td {
      line-height: 20px;
      text-align: left;
      vertical-align: middle;
} */

/* .table-strip>tbody>tr:hover {
      background-color: #fafafa !important;
  }
  
  .table-strip>tbody>tr:hover .sticky-ult {
      background-color: #fafafa !important;
  } */

.table-strip>tbody>tr:nth-of-type(odd) {
      background-color: #fafafa;
}

.table-strip>tbody>tr:nth-of-type(odd) .sticky-ult {
      background-color: #fafafa;
}

/* .table-strip.sticky-rnc>tbody>tr:hover .checkbox-cell {
      background-color: #fafafa !important;
  } */

.table-strip.sticky-rnc>tbody>tr:nth-of-type(odd) .checkbox-cell {
      background-color: #fafafa;
}

.table-sticky-ult {
      border-collapse: separate;
      border-spacing: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .12)
}

.table-sticky-ult td,
.table-sticky-ult th {
      border-bottom: 0
}

.table-sticky-ult td:not(:last-child),
.table-sticky-ult th:not(:last-child) {
      border-right: 0
}

.table-simple td,
.table-simple th {
      border-left: 0;
      border-right: 0;
      padding-left: 0;
      padding-right: 0
}

.table-simple th {
      border-top: 0
}

.table-equal {
      table-layout: fixed
}

.table-equal .cell-long {
      min-width: 0 !important
}

.table-space-lg td,
.table-space-lg th {
      padding-top: 12px;
      padding-bottom: 12px
}

.cell-long {
      white-space: normal !important
}

.sticky-ult {
      position: -webkit-sticky;
      position: sticky;
      right: 0;
      background-color: #FAFAFA;
      -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .16);
      box-shadow: -2px 0 4px rgba(0, 0, 0, .16);
      text-align: center;
}

.sticky-rnc .checkbox-cell {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      background-color: #242c30;
      -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, .16);
      box-shadow: 2px 0 4px rgba(0, 0, 0, .16);
      text-align: right;
      z-index: 10
}

td.sticky-ult {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      padding-right: 8px
}

.ult-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: center;
}

.right-none .sticky-ult {
      -webkit-box-shadow: none;
      box-shadow: none
}

.record-and-pagination {
      margin-top: 16px
}

.table-wrap-inner-footer {
      padding: 16px 0;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      overflow: hidden
}

.table-main tr.error>td {
      background-color: #fafafa !important
}

.table-strip>tbody>tr.error:hover>td {
      background-color: #fafafa !important
}

.table-pagination-box {
      padding: 14px 16px 18px 16px;
}

.table-pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
}


.page-number {
      display: flex;
      align-items: center;
      gap: 2px;
}

.table-page-item {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #727374;
}

.cell-center {
      display: flex;
      align-items: center;
      justify-content: center;
}

.page-next,
.page-previous {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 93px;
      height: 36px;
      background: #FAFAFA;
      border: 1px solid #C0C2C3;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
}

.page-number>.table-page-item {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.page-number>.table-page-item.active {
      background: #D9E6F2;
      color: #015AAB;
}

.boder-td {
      /* border-bottom: 1px solid #EAEBEC; */
      color: #727374;
      border-width: 2px;
      border-style: solid;
}

.user-top {
      background-color: #f3f5f8;
      width: 120px;
      height: 120px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      vertical-align: top;
      display: inline-block;
      /* To horizontally center images and caption */
      text-align: center;
      /* The width of the container also implies margin around the images. */
}

.user-img {
      width: 100%;
      height: 100%;
      background-color: rgb(250, 250, 250);
}

.caption {
      /* Make the caption a block so it occupies its own line. */
      display: block;
      background-color: rgb(255, 231, 88);
      border-radius: 8px;
}

.table-responsive>.table-wrap-inner>.table-main td,
.table-responsive>.table-wrap-inner>.table-main th {
      height: 40px !important;
}

.progress {
      height: 8px;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999999;
}


.filter {
      position: relative;
      top: 0;
      right: 20px;
      padding: 5px 15px;
      border: 1px solid #C0C2C3;
      border-radius: 6px;
}

.filterForm-label {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, .56);
      margin-bottom: 3px;
}

.filter-inline {
      padding-left: 20%;
}

.form-group {
      padding-top: 5%;
}

.tab-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 32px;
      gap: 24px;
}

.chuyen-tien__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #727374;
}


/* AUTHOR: HUONGPT */
/* BEGIN */
/* .table-responsive {
      overflow: visible
  }
  
  .table-responsive>.table-wrap-inner {
      overflow: auto
  }
  
  .table-responsive>.table-wrap-inner thead tr {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: #F4F5F6;
      z-index: 2
  }
  
  .table-responsive>.table-wrap-inner>.table-main td,
  .table-responsive>.table-wrap-inner>.table-main th {
      white-space: nowrap
  }
  
  /* .table-responsive>.table-wrap-inner::-webkit-scrollbar-corner {
      background-color: #171c1f
  } */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar {
      height: 12px
  } */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-track {
      background-color: #171c1f
  } */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb {
      background-color: #C0C2C3;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box
  } */

/* .table-responsive>.table-wrap-inner::-webkit-scrollbar-thumb:hover {
      background-color: #3b474e
  } */

/* .table-vertical-scroll>.table-wrap-inner {
      max-height: 540px;
      position: relative;
      border: 1px solid #EAEBEC;
      box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
      border-radius: 8px;
  } */

/* .table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>td,
  .table-vertical-scroll>.table-wrap-inner>.table-main>tbody:first-child>tr:first-child>th,
  .table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>td,
  .table-vertical-scroll>.table-wrap-inner>.table-main>thead:first-child>tr:first-child>th {
      border-top: 0
  } */

/* .table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:first-child,
  .table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:first-child,
  .table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:first-child,
  .table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:first-child {
      border-left: 0
  }
  
  .table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>td:last-child,
  .table-vertical-scroll>.table-wrap-inner>.table-main>tbody>tr>th:last-child,
  .table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>td:last-child,
  .table-vertical-scroll>.table-wrap-inner>.table-main>thead>tr>th:last-child {
      border-right: 0
  }
  
  .table-main {
      min-width: 100%
  }
  
  .table-main th {
      text-transform: capitalize;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #727374;
  } */

/* .table-main td,
  .table-main th {
      padding: 9px 12px;
      /* border: 1px solid rgba(255, 255, 255, .12); */
/* border-bottom: 1px solid #EAEBEC; */
/* } */

/* .table-strip>tbody>tr:hover {
      background-color: #171c1f !important
  } */

/* .table-strip>tbody>tr:hover .sticky-ult {
      background-color: #171c1f !important
  } */

/* .table-strip>tbody>tr:nth-of-type(odd) {
      background-color: #2d373d
  } */

/* .table-strip>tbody>tr:nth-of-type(odd) .sticky-ult {
      background-color: #2d373d
  } */

/* .table-strip.sticky-rnc>tbody>tr:hover .checkbox-cell {
      background-color: #171c1f !important
  } */

/* .table-strip.sticky-rnc>tbody>tr:nth-of-type(odd) .checkbox-cell {
      background-color: #2d373d
  } */

/* .table-sticky-ult {
      border-collapse: separate;
      border-spacing: 0;
  } */

/* .table-sticky-ult td,
  .table-sticky-ult th {
      border-bottom: 0
  } */

/* .table-sticky-ult td:not(:last-child),
  .table-sticky-ult th:not(:last-child) {
      border-right: 0
  }
  
  .table-simple td,
  .table-simple th {
      border-left: 0;
      border-right: 0;
      padding-left: 0;
      padding-right: 0
  }
  
  .table-simple th {
      border-top: 0
  }
  
  .table-equal {
      table-layout: fixed
  }
  
  .table-equal .cell-long {
      min-width: 0 !important
  }
  
  .table-space-lg td,
  .table-space-lg th {
      padding-top: 12px;
      padding-bottom: 12px
  }
  
  .cell-long {
      white-space: normal !important
  } */

/* .sticky-ult {
      position: -webkit-sticky;
      position: sticky;
      right: 0; */
/* background-color: #242c30; */
/* -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .16); */
/* box-shadow: -2px 0 4px rgba(0, 0, 0, .16); */
/* text-align: center;
  } */

/* .sticky-rnc .checkbox-cell {
      position: -webkit-sticky;
      position: sticky;
      left: 0; */
/* background-color: #242c30; */
/* -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, .16); */
/* box-shadow: 2px 0 4px rgba(0, 0, 0, .16); */
/* text-align: right;
      z-index: 10
  } */

/* td.sticky-ult {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      padding-right: 8px
  } */

/* .ult-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  } */

/* .right-none .sticky-ult {
      -webkit-box-shadow: none;
      box-shadow: none
  }
  
  .record-and-pagination {
      margin-top: 16px
  }
  
  .table-wrap-inner-footer {
      padding: 16px 0;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      overflow: hidden
  }
  
  .table-main tr.error>td {
      background-color: #351719 !important
  }
  
  .table-strip>tbody>tr.error:hover>td {
      background-color: #2b1618 !important
  }
  
  td {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #727374;
      height: 72px;
      padding: 0 16px;
      vertical-align: middle;
      text-align: center;
  }
  
  th.sticky-ult {
      background: #F4F5F6;
  }
  
  td.sticky-ult {
      background-color: #FAFAFA;
  } */




/* END */

.ngx-pagination {
      margin-left: 0;

      justify-content: center;
      display: inline-table;
}

.ngx-pagination .current {
      padding: .1875rem .625rem;
      background: #b6bbc1 !important;
      color: #fefefe;
      cursor: default;
      border-radius: 8px;
}

.a:not([href]):not([class]),
a:not([href]):not([class]):hover {
      color: inherit;
      text-decoration: none;
      border-radius: 8px;
}

.container {
      padding: 2%;
      background: inherit;
      background-color: #fafafa;
      border-radius: 5px;
      box-sizing: border-box;
      border-width: 0px;
      border-style: solid;
      border-color: rgba(1, 89, 170, 1);
      box-shadow: 0px 0px 32px rgba(151, 156, 168, 0.5);
}


.blue-txt {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      color: #0159AA;
}

/*  */
.roboto-normal-w400-z16-lh20 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
}

.roboto-normal-w400-z16-lh24 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
}

.roboto-normal-w500-z16-lh20 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
}

.roboto-normal-w500-z20-lh20 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
}

.color-363E46 {
      color: #363E46;
}

.color-015AAB {
      color: #015AAB;
}

.color-17191B {
      color: #17191B;
}

.color-727374 {
      color: #727374;
}

.common-card .row-data>.col-6:nth-child(odd)>* {
      text-align: left;
}

.common-card .row-data .col-6:nth-child(even)>* {
      text-align: right;
}

.row-data-right {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: end;
      margin-bottom: 5px;
}

.button-outline {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 148px;
      height: 44px;
      border: 1px solid #C0C2C3;
      filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
      border-radius: 8px;
}

.common-card-body {
      display: flex;
      flex-direction: column;
      gap: 16px;
}

.border-bottom-div {
      border-bottom: 1px solid #abb4bb;
}


.txt-orange {
      color: #F59A23;
}


.date-style {
      position: relative;
}

.date-style .input-group-append {
      position: absolute;
      right: 0px;
      height: 100%;
}

.date-style .input-group-append .btn {
      height: 100%;
}

.btn-search {
      padding: 12px 20px;
      width: 150px;
      background: #fda601;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
}

.btn-filter {
      padding: 14px 18px;
      width: 150px;
      border: 1px solid #fda601;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #fda601;
}

.box-white {
      border-width: 0px;
      background-color: #fafafa;
      padding: 0px;
}


/*  */