.common-tabs {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 12px;
      border-bottom: 1px solid #EAEBEC;
}

.common-tabs__item {
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
}