<ul class="common-tabs" [ngClass]="bodyClass">
  <li
    *ngFor="let tab of tabs"
    (click)="selectTab(tab)"
    class="common-tabs__item"
    [class.active]="tab.active"
    [ngClass]="tab.bodyClass ? tab.bodyClass : null"
  >
    <span *ngIf="tab.badge > 0" class="badge badge-light">{{ tab.badge }}</span>
    {{ tab.title }}
  </li>
</ul>
<ng-content></ng-content>
