.title1{
    font-size: 40px ;
    color: #0159aa;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 100;
}
.note{
    font-size: 17px;
    padding-bottom: 10px;
}
i {
    width: 2px;
    position: relative;
    right: 30px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    z-index: 1;
    color: #03045fc7;
  }
 
  .form-control1 {
  display: inline;
  width: 100%;
  padding: 0.375rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input1{
    display: flex;
  }
  .btn-cb{
    background: radial-gradient(100% 147.77% at 100% 0%, #FFCB05 1%, #0159aa 104.42%);
  }
  .tbloi {
    display: block;
  }