<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-header">
    <div class="title-section">
      <div class="title1">Đổi mật khẩu</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Đổi mật khẩu</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
 </div>
 <div class="container">
    <form [formGroup]="custForm" (ngSubmit)="submit()">
        <div class="common-card" style="background-color: #e1f0fa">
            <div class="content-note">
                <p class="note">Lưu ý :	Mật khẩu dài ít nhất là 8 ký tự, chứa đồng thời số, chữ thường, chữ hoa, ký tự đặc biệt.</p>
                <p class="note">- Mật khẩu không chứa khoảng trắng, tiếng Việt có dấu.</p>
                <p class="note">- Mật khẩu mới không được trùng với mật khẩu sử dụng gần nhất.</p>
            </div>
            <div class="form-group row mt-4">
                <label class="col-sm-4 col-form-label" style="padding-left: 20px; font-size: 17px;">Mật khẩu hiện tại</label>
                <div class="col-sm-8">
                    <div class="input1">
                        <input type="password" placeholder="Nhập mật khẩu hiện tại" class="form-control" id="currentPass" [(ngModel)]="item.currentPass" formControlName="currentPass"/>
                        <i *ngIf="typeSubmit1" class="fa fa-eye-slash" (click)="ChangeTypePassword('#currentPass')"></i>
                        <i *ngIf="!typeSubmit1" class="fa fa-eye" (click)="ChangeTypePassword('#currentPass')"></i> 
                    </div>
                    <span *ngIf="isSubmit && custForm.controls.currentPass?.errors?.['required']"
                    class="text-danger rq-input">Mật khẩu hiện tại không được phép bỏ trống</span>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label class="col-sm-4 col-form-label" style="padding-left: 20px; font-size: 17px;">Mật khẩu mới</label>
                <div class="col-sm-8">
                    <div class="input1">
                        <input type="password" placeholder="Nhập mật khẩu mới" class="form-control" id="newPass" [(ngModel)]="item.newPass" formControlName="newPass">
                        <i *ngIf="typeSubmit2" class="fa fa-eye-slash" (click)="ChangeTypePassword('#newPass')"></i> 
                        <i *ngIf="!typeSubmit2" class="fa fa-eye" (click)="ChangeTypePassword('#newPass')"></i> 
                    </div>
                    <span *ngIf="isSubmit && custForm.controls.newPass?.errors?.['required']"
                    class="text-danger rq-input">Mật khẩu mới không được bỏ trống</span>
                    <span *ngIf="isSubmit && custForm.controls.newPass?.errors?.['pattern']"
                    class="text-danger rq-input">Mật khẩu phải thỏa mãn điều kiện</span>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label class="col-sm-4 col-form-label" style="padding-left: 20px; font-size: 17px;">Xác nhận mật khẩu mới</label>
                <div class="col-sm-8">
                    <div class="input1">
                        <input type="password" placeholder="Nhập lại mật khẩu mới" class="form-control" id="confirmNewPass" [(ngModel)]="item.confirmNewPass" formControlName="confirmNewPass"/>
                        <i *ngIf="typeSubmit3" class="fa fa-eye-slash" (click)="ChangeTypePassword('#confirmNewPass')"></i> 
                        <i *ngIf="!typeSubmit3" class="fa fa-eye" (click)="ChangeTypePassword('#confirmNewPass')"></i> 
                    </div>
                    <span *ngIf="isSubmit && custForm.controls.confirmNewPass?.errors?.['required']"
                    class="text-danger rq-input">Xác nhận lại mật khẩu không được bỏ trống</span>
                    <div class="tbloi">
                        <span *ngIf="isSubmit && custForm.controls.confirmNewPass?.errors?.['pattern']"
                        class="text-danger rq-input">Mật khẩu phải thỏa mãn điều kiện</span>
                        <label class="f-left text-danger rq-input" *ngIf="!checkConfirmPass">Mật khẩu mới và Xác nhận mật khẩu phải giống nhau</label>
                    </div>
                     
                </div>
            </div>
        </div>
        
        <div class="row " style="margin-top: 30px;">
            <div class="col-6 d-flex justify-content-end">
                <button appBackButton type="button" class="btn btn-secondary" style="width: 200px;" (click)="redirectTrangChu()">Hủy</button>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button type="submit" class="btn btn-success btn-cb" style="width: 200px;" >Xác nhận</button>
            </div>
        </div>
    </form>
</div>

<app-modal
  [isOpen]="showModalDangNhap"
  (closeEvent)="closeModalDangNhap()"
  [type]="'modal'"
  [titleModal]="nameModal"
>
      <div class="modal-body">
          <label>
            <p>Quý khách đã đổi mật khẩu thành công </p>
            <p>Vui lòng đăng nhập lại để sử dụng dịch vụ</p>
          </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cb" style="width: 150px; height: 40px; color: #e1f0fa;" (click)="redirectDangNhap()">Đăng nhập</button>
      </div>
</app-modal>

  