<ng-template #content let-modal>
  <div class="modal-header" [class.modal-header-custom]="type === 'modal'"
    [class.notification-header-custom]="type === 'notification'">
    <h4 *ngIf="type === 'modal'" class="modal-title">{{titleModal}}</h4>
    <div *ngIf="type === 'modal'" class="icon-close-m" (click)="closeModal()">
      <img style="max-width:70%" src="assets/btn-close.png">
    </div>

    <div *ngIf="type === 'notification'" class="icon-head">
      <div class="bor-outline">
        <div class="insite-bg">
          <div class="icon-noti">
            <img *ngIf="typeNotification=== 'notification'" class="icon-bell-noti" src="assets/img/icons/bell.svg">
            <img *ngIf="typeNotification=== 'confirm'" class="icon-confirm-noti" src="assets/img/icons/question.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <h4 *ngIf="type === 'notification'" class="modal-title title-notification">{{titleNotification}}</h4>
    <ng-content></ng-content>
  </div>
</ng-template>