<div class="page-header">
    <div class="title-section">
      <div class="title1">Điều khoản dịch vụ</div>  
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Trang chủ</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Tiện ích</span>
        </a>
        <span class="dot">></span>
        <a href="#" class="breadcrumbs-item">
          <span class="txt1">Hỗ trợ</span>
        </a>
        <span class="dot">></span>
        <a class="breadcrumbs-item breadcrumbs-item--active">
          <span class="txt" style="color: #0159aa;">Điều khoản dịch vụ</span>
        </a>
      </div>
    </div>
    <app-cskh-section></app-cskh-section>
</div>
<div class="content">
    {{item.content}}
</div>