<div class="sidebar-right">
  <div class="sidebar-right-inner">
    <div class="sidebar-right-body style-srcoll-cover style-srcoll-invert">
      <div class="sidebar-right-body-inner style-scrollbar isolated-scroll">
        <div class="section">
          <div class="list-link-card list-mb24 list-crop">
            <div class="group-col-item">
              <a
                href="pages/chuyen-tien/chuyen-tien-noi-bo/1-chuyen-tien-noi-bo.html"
                class="link-card-main ubg-hover txt-hover"
              >
                <div
                  class="ubg-primary ubox-size-ic-xl ubox-square ubox-special ubox ubox-ic"
                >
                  <img
                    src="../media/icons-color/default/main/24x24-chuyen-tien-trong-vcb.svg"
                    alt=""
                    class="ic-default"
                  />
                </div>
                <div class="title color-text-secondary-dark">
                  Chuyển tiền <span class="inline-block">trong VCB</span>
                </div>
              </a>
            </div>
            <div class="group-col-item">
              <a
                href="pages/chuyen-tien/nhanh-247/1-chuyen-tien-nhanh-247.html"
                class="link-card-main ubg-hover txt-hover"
              >
                <div
                  class="ubg-primary ubox-size-ic-xl ubox-square ubox-special ubox ubox-ic"
                >
                  <img
                    src="../media/icons-color/default/main/24x24-chuyen-tien-nhanh-247.svg"
                    alt=""
                    class="ic-default"
                  />
                </div>
                <div class="title color-text-secondary-dark">
                  Chuyển tiền nhanh 24/7 ngoài VCB
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="list-link-card list-mb24 list-crop">
            <div class="group-col-item">
              <a
                href="pages/thanh-toan/billing-getway/co-division/1-co-division.html"
                class="link-card-main ubg-hover txt-hover"
              >
                <div
                  class="ubg-primary ubox-size-ic-xl ubox-square ubox-special ubox ubox-ic"
                >
                  <img
                    src="../media/icons-color/default/main/24x24-hoa-don-tien-dien.svg"
                    alt=""
                    class="ic-default"
                  />
                </div>
                <div class="title color-text-secondary-dark">
                  Hóa đơn tiền điện
                </div>
              </a>
            </div>
            <div class="group-col-item">
              <a
                href="pages/chuyen-tien/chuyen-tien-ngoai-vcb/1-chuyen-tien-ngoai-vcb.html"
                class="link-card-main ubg-hover txt-hover"
              >
                <div
                  class="ubg-primary ubox-size-ic-xl ubox-square ubox-special ubox ubox-ic"
                >
                  <img
                    src="../media/icons-color/default/main/24x24-chuyen-tien-ngoai-vcb.svg"
                    alt=""
                    class="ic-default"
                  />
                </div>
                <div class="title color-text-secondary-dark">
                  Chuyển tiền <span class="inline-block">ngoài VCB</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-right-footer">
      <!-- button.button -->
      <a
        href="pages/tien-ich/cai-dat-chuc-nang-yeu-thich/1-cai-dat-chuc-nang-yeu-thich.html"
        class="ubg-tertiary ubox-size-button-default ubg-hover ubg-active ubtn"
      >
        <div class="ubtn-inner">
          <span class="ubtn-text">Tùy chỉnh</span>
        </div>
      </a>
      <!-- end button.button -->
    </div>
  </div>
</div>
