<app-sidebar></app-sidebar>
<!-- <app-right-bar></app-right-bar> -->
<div class="main main--with-sidebar main--with-header">
    <div class="main-wrap">
        <div class="main-inner main-inner-page main-inner--full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>