<div class="page-header">
  <div class="title-section">
    <div class="title">Cài đặt hạn mức</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">></span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Cài đặt</span>
      </a>
      <span class="dot">></span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Cài đặt hạn mức</span>
      </a>
      <span class="dot">></span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Danh sách hạn mức</span>
      </a>
    </div>
  </div>
</div>
<div class="container box-white mb-4">
  <app-common-tabs class="w-100" [bodyClass]="'tabs-han-muc'">
    <app-common-tab title="Hạn mức lập lệnh" [bodyClass]="'tab-han-muc'">
      <div class="tab-container mb-4" >
        <div class="mb-4 container row" style="display: flex;">
          <div class="common-card-header col-6">
            <div class="row row-data">
              <div class="roboto-normal-w500-z20-lh20 color-17191B">
                Mã lập lệnh
              </div>
            </div>
          </div>

          <div  class="form-group col-6">
            <div class="select-wrapper" style="background-color: rgb(255, 255, 255);">
              <ng-select [items]="lstCustLL" bindLabel="code" [(ngModel)]="itemLL.cust" (change)="changeMaLL()"></ng-select>
            </div>
          </div>
        </div>
        <form [formGroup]="detailForm">
          <div class="table-cust">
            <div class="header-top row">
              <div class="mall col-6">
                {{MaLL}}
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-edit" ><a href="cai-dat/cap-nhat-han-muc/{{MaLL}}" style="color: rgb(248, 249, 250);">Cập nhật</a></button>
              </div>
            </div>
            <div class="body-top row">
              <table class="table-trans" border="1">
                <thead>
                  <tr>
                    <th class="title-table" width="30%">Dịch vụ</th>
                    <th class="title-table" width="30%">Hạn mức tối đa/giao dịch</th>
                    <th class="title-table" width="30%">Tổng hạn mức giao dịch/ngày</th>
                  </tr>
                  
                </thead>
                <tbody >
                  <!-- <tr>
                    <td scope="row" class="prodName" style="font-weight: bold;padding-top: 5px;">Tổng hạn mức</td>
                    <td class="cot1">{{sumMaxTrainLL}}</td>
                    <td class="cot1">{{sumMaxDailyLL}}</td>
                  </tr> -->
                  <tr *ngFor="let e of itemLLs; index as i">
                    <td  scope="row" class="prodName"> 
                      {{e.productName}}
                    </td>   
                    <td class="cot1"> 
                      {{e.maxtrans}}
                    </td>
                    <td class="cot1"> 
                      {{e.maxdaily}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
        <div class="note" style="margin-left: 10px;">
          <div class="title" style="color: rgb(235, 139, 14);">
            Lưu ý:
          </div>
          <div>Đơn vị tiền tệ: Việt Nam Đồng - VND</div>
          <div>Quý khách vui lòng bỏ trống nếu không có nhu cầu cài đặt hạn mức đối với loại dịch vụ đó</div>
        </div>
      </div>
    </app-common-tab>
    <app-common-tab title="Hạn mức duyệt lệnh" [bodyClass]="'tab-han-muc'">
      <div class="tab-container mb-4" >
        <div class="mb-4 container row" style="display: flex;">
          <div class="common-card-header col-6">
            <div class="row row-data">
              <div class="roboto-normal-w500-z20-lh20 color-17191B">
                Mã duyệt lệnh
              </div>
            </div>
          </div>

          <div  class="form-group col-6">
            <div class="select-wrapper" style="background-color: rgb(255, 255, 255);">
              <ng-select [items]="lstCustDL" bindLabel="code" [(ngModel)]="itemDL.cust" (change)="changeMaDL()"></ng-select>
            </div>
          </div>
        </div>
        <form [formGroup]="detailForm">
          <div class="table-cust">
            <div class="header-top row">
              <div class="mall col-6">
                {{MaDL}}
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-edit" ><a href="cai-dat/cap-nhat-han-muc/{{MaDL}}" style="color: rgb(248, 249, 250);">Cập nhật</a></button>
              </div>
            </div>
            <div class="body-top row">
              <table class="table-trans" border="1">
                <thead>
                  <tr>
                    <th class="title-table" width="30%">Dịch vụ</th>
                    <th class="title-table" width="30%">Hạn mức tối đa/giao dịch</th>
                  </tr>
                  
                </thead>
                <tbody >
                  <!-- <tr>
                    <td scope="row" class="prodName" style="font-weight: bold;padding-top: 5px;">Tổng hạn mức</td>
                    <td class="cot1">{{sumDL}}</td>
                  </tr> -->
                  <tr *ngFor="let e of itemDLs; index as i">
                    <td  scope="row" class="prodName"> 
                      {{e.productName}}
                    </td>   
                    <td class="cot1"> 
                      {{e.maxtrans}}
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
        <div class="note" style="margin-left: 10px;">
          <div class="title" style="color: rgb(235, 139, 14);">
            Lưu ý:
          </div>
          <div>Đơn vị tiền tệ: Việt Nam Đồng - VND</div>
          <div>Quý khách vui lòng bỏ trống nếu không có nhu cầu cài đặt hạn mức đối với loại dịch vụ đó</div>
        </div>
      </div>
    </app-common-tab>
  </app-common-tabs>
</div>