<div class="page-header">
  <div class="title-section">
    <div class="title">Mã truy cập</div>
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Trang chủ</span>
      </a>
      <span class="dot">/</span>
      <a href="#" class="breadcrumbs-item">
        <span class="txt">Chuyển tiền</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item">
        <span class="txt">Quản lý mã truy cập</span>
      </a>
      <span class="dot">/</span>
      <a class="breadcrumbs-item breadcrumbs-item--active">
        <span class="txt">Mã truy cập</span>
      </a>
    </div>
  </div>
  <div class="cskh-section">
    <div class="inline-block">
      <img src="assets/cskh-icon.svg" alt="" />
    </div>
    <div class="inline-block title">Dịch vụ khách hàng 24/7:</div>
    <div class="inline-block">
      <a href="tel:19001816" class="link link-style-default h3"> 1900 1816 </a>
    </div>
  </div>
</div>
<ng-container *ngIf="statusPage == 'khoi-tao'">
    <app-khoi-tao-ma-truy-cap (onClickBtn)="setStatusPage($event)"
        (khoiTaoGiaoDich)="khoiTaoGiaoDich($event)"></app-khoi-tao-ma-truy-cap>
</ng-container>
<ng-container *ngIf="statusPage == 'chinh-sua' && cust">
    <app-chinh-sua-ma-truy-cap (onClickBtn)="setStatusPage($event)"
        (khoiTaoGiaoDich)="khoiTaoGiaoDich($event)" [cust]="cust"></app-chinh-sua-ma-truy-cap>
</ng-container>
<ng-container *ngIf="statusPage == 'xac-thuc'">
    <app-xac-nhan-them-ma-truy-cap (onClickBtn)="setStatusPage($event)" (maGiaoDich)="setCode($event)"
        [cust]="cust"></app-xac-nhan-them-ma-truy-cap>
</ng-container>
<ng-container *ngIf="statusPage == 'ket-qua'">
    <app-ket-qua-ma-truy-cap (onClickBtn)="setStatusPage($event)" [cust]="cust" [maGiaoDich]="code"> </app-ket-qua-ma-truy-cap>
</ng-container>
