.container {
    padding: 5%;
    background: inherit;
    background-color: rgba(228, 240, 250, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(1, 89, 170, 1);
    box-shadow: none;
  }
.blue-txt{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #0159AA;
}

$background-color: #f5f5f5 !important;
$primary-color: #015aab !important;
$secondary-color: #fda601 !important;

.ket-qua-card {
    padding: 53px 48px 30px;
    position: relative;
    // max-width: 538px;
    margin: 32px auto 32px;
    min-height: 400px;
}

.success-icon {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    top: -35px;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.half-cicle-container {
    .cirle {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .h-cirle__tr {
        position: absolute;
        top: 90px;
        right: -12px;
        background-color: #f4f5f6;
        background-image: linear-gradient(to right,
                rgb(151 156 168 / 15%),
                #f4f5f6);
    }

    .h-cirle__tl {
        position: absolute;
        top: 90px;
        left: -12px;
        background-color: #f4f5f6;
        background-image: linear-gradient(to left, rgb(151 156 168 / 15%), #f4f5f6);
    }

    .h-cirle__br {
        position: absolute;
        top: 350px;
        right: -12px;
        background-color: #f4f5f6;
        background-image: linear-gradient(to right,
                rgb(151 156 168 / 15%),
                #f4f5f6);
    }

    .h-cirle__bl {
        position: absolute;
        top: 350px;
        left: -12px;
        background-color: #f4f5f6;
        background-image: linear-gradient(to left, rgb(151 156 168 / 15%), #f4f5f6);
    }
}

.gap-space-12px {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.primary-text__color {
    color: $primary-color;
}

.primary-text {
    color: $primary-color;
    text-align: end;
}

.container-btn-in-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 0px;
    gap: 24px;
}

.btn-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.description-text {
    min-width: 80px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #727374;
}

.text-note {
    margin: 0 auto;
    max-width: 538px;
}

// btn-page
.btn-page {
    display: flex;
    justify-content: space-around;
}

.btn-style-1 {
    border: 1px solid #fda601;
    border-radius: 8px;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    color: #fda601;
}

.btn-style-2 {
    background-color: #fda601;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #fff;
}

.btn-style-3 {
    background-color: #015aab;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
