<div class="mb-4"><span class="blue-txt">Kết quả </span></div>
<div class="common-card ket-qua-card">
    <div class="success-icon">
        <img src="../../../../assets/success_icon.svg" alt="" />
    </div>
     <div class="half-cicle-container">
        <div class="cirle h-cirle__tr"></div>
        <div class="cirle h-cirle__tl"></div>
        <div class="cirle h-cirle__br"></div>
        <div class="cirle h-cirle__bl"></div>
    </div>
    <div class="top-content tcl-black-2">
        <div *ngIf="cust.id" class="d-flex justify-content-center fw__700 lh-24 fs-18">
            Chỉnh sửa mã truy cập thành công!
        </div>
        <div *ngIf="!cust.id" class="d-flex justify-content-center fw__700 fs-24 lh-24">
            Thêm mã truy cập thành công!
        </div>
        <div class="d-flex justify-content-center fs-12 lh-24 fw__400">
            {{today | date:'hh:mm dd/MM/yyyy'}}
        </div>
    </div>
    <div class="main-content gap-space-12px">
        <div class="row">
            <div class="col-6 primary-label">Họ và tên</div>
            <div class="col-6 primary-text">{{cust.fullname}}</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Loại giấy tờ</div>
            <div class="col-6 primary-text">{{cust.indentitypapers}}</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Số giấy tờ</div>
            <div class="col-6 primary-text">{{cust.idno}}</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Ngày sinh</div>
            <div class="col-6 primary-text">{{cust.birthday | date: "dd/MM/yyyy"}}</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Email</div>
            <div class="col-6 primary-text">{{cust.email}}</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Vai trò</div>
            <div class="col-6 primary-text">{{genPositon(cust.position)}}</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Phương thức xác thực</div>
            <div class="col-6 primary-text">Smart OTP</div>
        </div>
        <div class="common-card__line"></div>
        <div class="row">
            <div class="col-6 primary-label">Mã giao dịch</div>
            <div class="col-6 primary-text">{{maGiaoDich}}</div>
        </div>
        <p style=" text-align: center; ">Kết quả sẽ được gửi vào Email của bạn</p>
    </div>
</div>
<div class="btn-page">
    <button class="btn btn-style-3" (click)="back()">
        Về quản lý mã truy cập
    </button>
</div>
